[2022-03-31 09:33] LebedevRI commented on #54668
That would be troubling indeed, but can you post the reproducer?
https://godbolt.org/z/eE9EzbEnG doesn't exhibit it.

[2022-03-31 09:40] mikaelholmen opened #54669 "Miscompile with opt -passes='module(float2int)'"
llvm commit: b8e49fdcb14
Reproduce with:
 opt -passes='module(float2int)' bbi-68023_red.ll -S -o -

With the above we get
define i16 @src() {
entry:
  %cmp = icmp eq i32 2147483647, -1
  br i1 %cmp, label %if.end, label %if.then

if.then:                                          ; preds = %entry
  ret i16 0

if.end:                                           ; preds = %entry
  ret i16 1
}

However,

[2022-03-31 10:07] ilinpv commented on #51482
Confirmed, currently llvm emits:
[code]
@red1bluelost well done!

[2022-03-31 10:07] #51482 closed

[2022-03-31 10:17] #54395 closed

[2022-03-31 10:58] lgxbslgx commented on #54521
@lingol @graydon Have you started the work? If not, I would like to take it over.

[2022-03-31 11:06] jarmar commented on #53220
I believe the last line of the script needs to be modified, too, to say `sys.exit(main())` instead of just `main()`. Currently, the script always returns 0 for me.

[2022-03-31 11:19] michaelvlach commented on #54668
I was finally able to get a repro and nail it down somewhat. It happens only on Windows and not on Linux. The following is the minimum with which I was able to get it with MSVC 17.1.2 and LLVM 14 on Windows 10:
[code]
My observations:

1. It requires user-defined move constructor. With defaulted one it does not happen.
2. Marking the move constructor `noexcept` does not help.
3. The error message

[2022-03-31 11:21] lingol commented on #54521
No I have not.

[2022-03-31 11:27] vit9696 opened #54670 "[gcov] Ability to map gcda file paths"
When compiling code with `-fprofile-arcs` clang encodes full .gcda file path based on the object file path. In some cases this is infeasible, as the compilation directory may have extra long prefix, which is not practical to store on embedded targets.

To avoid this issue we would like to replace this prefix with a custom value by extending `-fcoverage-prefix-map` option. There is a similar issue

[2022-03-31 11:28] vit9696 commented on #54670
CC @petrhosek, @keith

[2022-03-31 11:45] Febbe commented on #53220
@jarmar did you checked that you are using this version of the script, the fix is relatively new and might not be in llvm14. Also you could check if the return code changes for you, when you apply that change. But in python, the last value in a function is implicitly the return value, so it should make no difference.

[2022-03-31 11:50] jarmar commented on #53220
Yes, I downloaded `git-clang-format` directly from the main branch. I don't believe your remark about implicit return values in Python is correct, but either way, the issue here is with the return value of the script itself (rather than a function).

[2022-03-31 11:51] Febbe commented on #53220
Ok, obviously I am not familiar enough with python. There is no main function and returning a value from the top level is just ignored or a syntax error. So there is definitely a sys.exit call missing.

[2022-03-31 12:09] serge-sans-paille commented on #54131
Same on godbolt: https://godbolt.org/z/ovz3de65z
@vstinner you should probably report on Fedora's bugzilla then.

[2022-03-31 12:25] tru commented on #54645
Ok this issue is a bit stranger than I originally thought. @sylvain-audi was able to reduce the test case to the following:

[code]

This doesn't trigger a crash on Linux with clang - but it happens on Windows. But ONLY if the clang in question is built with MSVC and `/arch:AVX` - but it reproduced consistently - so I was able to bisect it to this commit: https://github.com/llvm/llvm-project/commi

[2022-03-31 12:28] jfalcou opened #54671 "[clang] Lambda as Non Type Template Parameter cause ICE"
As per the title. HEre is a small repro:

https://godbolt.org/z/anjvofd36

[code]

[2022-03-31 12:33] vfdff commented on #53435
base on comment 534b22831, I find **clang kernel_21.c -S -march=armv8-a+sve -O3 -ffp-contract=fast  -mllvm -sve-gather-overhead=2 -mllvm -sve-scatter-overhead=2** also works, which can generate scalable vectors

[2022-03-31 12:40] tru commented on #54645
Can now confirm that reverting this commit from `release/14.x` fixes the issue.

[2022-03-31 12:48] nikic commented on #54669
I think this happens because walkForwards() uses an operand range which has not been computed yet (is empty).

[2022-03-31 12:49] zmodem commented on #54644
The only problem I see with the bit test block is the repeated "movl $243, %edx", which I think we can't fix in the switch lowering since that's local to a basic block. I'm surprised there's nothing which cleans that up afterwards (MachineCSE?)

The transformation is "switch to lookup table" (https://github.com/llvm/llvm-project/blob/llvmorg-14.0.0/llvm/lib/Transforms/Utils/SimplifyCFG.cpp#L5837).

[2022-03-31 13:54] RKSimon commented on #54645
I have no good ideas tbh - what machine are you running it on?

One (very weak) hunch - in the patch could you try replacing the DWordClearOps variable SmallVector<SDValue> with SmallVector<SDValue, 4>? We haven't had the default size code for long so it might have been something in that?

[2022-03-31 13:56] RKSimon commented on #54645
Also, can you tell if its an non-aligned memory access? illegal instruction?

[2022-03-31 13:59] cmd120 opened #54672 "[ld.lld] Duplicate symbol error when processing archive files"
l1_a.c
[code]
l1_rem.c
[code]
l2.c
[code]
l3.c
[code]
Way to reproduce the error:
[code]
Output:
[code]

[2022-03-31 14:09] yurai007 commented on #54313
Decreasing number of 'take' parameters also helps in better code generation:  https://godbolt.org/z/c756nhPP4
It's caused by different folding decisions made in SimplifyCFGPass, for take3 it's only about one folding: https://godbolt.org/z/474h494jj. Since take4 has more branches transformation is performed twice: https://godbolt.org/z/nqjfqbh71 and those resulting blocks are not merged anywhere in

[2022-03-31 14:12] tru commented on #54645
Your hunch was correct

[code]

This makes the crash go away.

[2022-03-31 14:12] vonbrand opened #54673 "On Linux, build fails with "Fatal error: bad defsym; format is --defsym name=value""
This is Fedora 35, x86_64, `/usr/bin/as` is from binutils-2.37-10.fc35.x86_64
Full message:

[4/3449] Building ASM object lib/Support/BLAKE3/CMakeFiles/LLVMSupportBlake3.dir/blake3_avx512_x86-64_unix.S.o
FAILED: lib/Support/BLAKE3/CMakeFiles/LLVMSupportBlake3.dir/blake3_avx512_x86-64_unix.S.o
/usr/bin/as --defsym GTEST_HAS_RTTI=0 --defsym _GNU_SOURCE --defsym __STDC_CONSTANT_MACROS --defsym __STDC

[2022-03-31 14:26] japendergrass commented on #54626
This does not seem to affect the version of the underlying `libclang.so` installed by the ubuntu package manager. Just the version installed by `pip install libclang`

[2022-03-31 14:29] nikic commented on #54669
Candidate patch: https://reviews.llvm.org/D122817

[2022-03-31 14:35] RKSimon commented on #51609
matchAddressRecursively support - https://reviews.llvm.org/D122815

[2022-03-31 14:41] DimitryAndric commented on #54672
N.B. You forgot to put in your `main.c` ?

BFD ld seems to simply take the first `rem()` function it encounters, and puts that into the final executable, while ignoring the second. In my opinion BFD ld should at least warn about the duplicate symbol, but it does not do even that.

Note that this seems to be different from COMMON symbols: it makes no difference whether I compile all the .c files wi

[2022-03-31 14:43] hpesoj opened #54674 "Overload resolution fails with deleted destructor"
With Clang 15.0.0, this fails to compile:

[code]

[code]

This precludes real uses cases, such as this `std::optional`-like wrapper, where variant member with with a non-trivial destructor causes the defaulted destructor to be deleted:

[code]

Note that the latest GCC does not have the same problem.

[2022-03-31 14:43] erichkeane commented on #54588
Discussion on the Itanium ABI gave me sufficient info to implement: https://reviews.llvm.org/D122820

[2022-03-31 14:46] EugeneZelenko commented on #54651
@ps-19: See `Label` menu on `Issues` page.

[2022-03-31 14:48] ps-19 commented on #54651
occurrences of multiplication like " *=5 ".

[2022-03-31 14:49] trondhe commented on #54589
I mailed a tiny bit with Hans Wennborg, as its his name that appears as a username of the python configuration. He said that the windows installer gets build in his pc. It seems to be saved inside the lldb binary or in a dynamic lib in the build process, as I can't find in while grepping for it.

This is an excerpt from his mail
[code]

I sadly havent had time to debug this further, if there is so

[2022-03-31 14:53] RKSimon commented on #54645
CCing @silvasean who added the ```SmallVector<T>``` support

[2022-03-31 14:55] ps-19 commented on #54651
If anyone have any idea please discuss.

[2022-03-31 15:06] nikic commented on #54369
Candidate patch: https://reviews.llvm.org/D122825

[2022-03-31 15:11] davidbolvansky commented on #54645
Which version of MSVC?

[2022-03-31 15:19] bcl5980 commented on #54649
I'm trying to fix this on https://reviews.llvm.org/D122829

[2022-03-31 15:26] tru commented on #54645
I tested both 2019 16.10.11 and 2022 17.1.0.

[2022-03-31 15:41] jmorse opened #54675 "[DWARF] Type definition appears in nameless and empty DW_TAG_subprogram"
Using clang 12a2f7494e745eb4 from ~2 weeks ago, the type definition in the contrived code below ends up in a DW_TAG_subprogram with no name. This is an obstacle to parsing, and is arguably incorrect as information about the scope of the type is lost. Compiling with `-O2 -g -c`, or any scenario where "foo" is inlined into "bar":
[code]
The DWARF definition for `struct beans` ends up being embedded

[2022-03-31 15:45] brunowonka commented on #54497
I believe I'm hitting that with the following code (snippet formatted by clangd):
[code]

If I extract the type parameter out like so:
[code]

it seems to go back to normal.

(I'm on the fuchsia prebuilt)
[code]

[2022-03-31 15:46] jdoerfert commented on #53102
I should have been more explicit. I used GCC to show the extra logic it puts in place to determine if the value didn't unexpectedly change (due to the returned integer potentially capturing the value). At least that is what I think it's doing :D

[2022-03-31 15:54] StephenMcConnel opened #54676 "llvm.sh not installing for Ubuntu 20.04 (focal)"
When I download and run "sudo ./llvm.sh" on my Ubuntu 20.04 (x86_64/amd64) system, I get the following message at the end:

Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve

[2022-03-31 15:59] michaelvlach commented on #54676
Not a solution but possibly a workaround. I found `llvm.sh` not to be very reliable so do essentially what it does internally and I ended up with:
[code]
and after that you can just for example:
[code]
or whatever component(s) you need.

[2022-03-31 16:10] kiranchandramohan opened #54677 "[Flang] Implement semantic check for privatization of statement function variables"
The [OpenMP standard](https://www.openmp.org/wp-content/uploads/OpenMP-API-Specification-5-2.pdf) (page 108,  Section 4.3) says that "Variables that appear in namelist statements, in variable format expressions, and in expressions for statement function definitions, must not be privatized."

This check was implemented in https://reviews.llvm.org/D93213. This has to be [reverted](https://reviews.ll

[2022-03-31 16:11] keith commented on #54670
IIRC @petrhosek had some thoughts when we introduced `-fcoverage-prefix-map` about whether or not it should apply to all profiles (originally it was named `-fprofile-prefix-map` and we changed the name since it didn't end up that way). This seems like a reasonable thing to me, alternatively it could be only added to `-ffile-prefix-map` if that covered most cases.

[2022-03-31 16:19] bcl5980 commented on #54651
It looks latest clang will full unroll the loop when N=256
I try to modify N to 512, it get
[code]
Much better but I'm not sure if we need to fold mul * 5 to shift+add or not

[2022-03-31 16:19] brevzin opened #54678 "Diagnostic for constraint satisfication failure can provide irrelevant information"
Here's an example:

[code]

The calls to `foo(42)` and `bar(42L)` should (and do) fail, because neither `int` nor `long` satisfy `False`.

clang currently emits this error for `foo(42)`

[code]

Which is good.

But it emits this error for `bar(42L)`:

[code]

This notes both that `long` does not satisfy `False` but also that `long` does not satisfy `Irrelevant`. But `Irrelevant` is irrelevant - th

[2022-03-31 16:37] msebor opened #54679 "missing colon in CHECK directives"
A typo in my own test --  a missing a colon between a `CHECK` directive and the pattern that follows -- prompted me to look for other similar mistakes using the script below.  It turned up a few hits that might be worth reviewing to make sure they are either intended or to correct. (There are also a few others with the `CHECK-NEXT` and `CHECK-NOT` variants.)
[code]

[2022-03-31 16:43] d0k commented on #54249
After 51df62388e83a406e4a946ff8aae1f7299a2d92b this crashes instead of erroring 🙁

Here's another test case that also crashes:
[code]
[code]

[2022-03-31 17:04] silvasean commented on #54645
`SmallVector<T>` is just an alias for `SmallVector<T, N>` where N is an internally computed number. I wonder if the crash can be reproduced with `SmallVector<T, N>` where N is explicitly written with the same value internally computed by `SmallVector<T>`, or whether MSVC is somehow getting messed up by the automatic inference of N. You can get the inferred number by printing out `CalculateSmallVec

[2022-03-31 17:07] tru commented on #54645
I'll give this a try tomorrow.

[2022-03-31 17:11] RKSimon commented on #54645
Do we want to propose the ```SmallVector<SDValue, 4>``` fix for trunk and a 14.x cherry-pick?

[2022-03-31 17:14] tru commented on #54645
I think we need a fix for 14.0.1 at least. But I'll defer to you guys what the easiest fix is.

[2022-03-31 17:15] silvasean commented on #54645
Also, I'll mention that `CalculateSmallVectorDefaultInlinedElements<T>::value` depends on sizeof(T), so it can be different for 32 vs 64 bit hosts, ILP64 vs LP64, asserts vs no-asserts, debug vs release, etc.

[2022-03-31 17:21] andyhhp commented on #54644
Thanks!

I can absolutely see why this is a useful transformation in the general case.  These days, kernels are all built with retpoline which implies -fno-jump-tables so converting the entire switch statement is absolutely a win.

I suppose what confused me so much about this was the fact that only the final iteration of the loop had this transformation applied.  I would have expected 8 instances

[2022-03-31 17:32] AMS21 opened #54680 "[clang] Missed optimization for isalnum implementation"
Given the following source code:

[code]

compiling with `-O3` produces the following assembly:
[code]

I would expect all there versions to compile to the branch-less version. But the second function is actually not branch-less, although it could.
GCC on the other hand does exactly that.

[godbolt link](https://godbolt.org/z/d33183nbh)

[2022-03-31 17:59] AMS21 commented on #54680
With only two conditions like isalpha for example it produces the correct branch-less versions: [godbolt](https://godbolt.org/z/r3GcG9W3x)
[code]
[code]

[2022-03-31 18:27] tahonermann commented on #44571
Closing per prior comment (that was posted by the original reporter; see [45226](https://llvm.org/bz45226)).

I spent some time trying to reproduce the issue with a Clang 15 trunk build with assertions enabled and wasn't able to. I also (briefly) reviewed commit messages for changes made between Clang 10 and 11 that might explain this issue being fixed, but didn't find any obvious candidates.

[2022-03-31 18:27] #44571 closed

[2022-03-31 18:37] ps-19 commented on #54651
i want to send a patch which will be modifying the  multiplication operation with xor operation and summation. Which will be doing two task:
1) Addressing this issue.
2) Helping me to understand LLVM repo even more better.

[2022-03-31 18:40] ps-19 commented on #54651
Will you please tell me that way?

[2022-03-31 18:43] EugeneZelenko commented on #54651
See https://llvm.org/docs/Phabricator.html for patch review process.

[2022-03-31 18:44] shafik commented on #54659
I believe this is [DR1982 Deduction extending parameter pack ](http://www.open-std.org/jtc1/sc22/wg21/docs/cwg_closed.html#1982) which says:

and the reply was:

[2022-03-31 18:44] #54659 closed

[2022-03-31 18:55] ps-19 commented on #54651
@EugeneZelenko sir possible method to search the occurance of "\*=5" or "\*=constant" in the whole repo. Manually it is almost impossible for LLVM.

[2022-03-31 19:03] chichunchen opened #54681 "[OpenMP] variable in allocator clause not captured"
Error message: DeclRefExpr for Decl not entered in LocalDeclMap?

See backtrace in godbolt: https://godbolt.org/z/d75shWKbb

[code]

[2022-03-31 19:12] #51892 closed

[2022-03-31 19:30] kazutakahirata commented on #54558
@rotateright Thanks!  Your patch works.  May I ask why you are checking the PHI node (as opposed to umin or other hard-to-remove uses like function arguments or memory stores)?  Is that because we probably cannot optimize away the SUB if its result is used in a PHI node?  And, if the SUB stays, we compute flags for free?

[2022-03-31 19:37] pogo59 commented on #54679
Yeah, these are almost always mistakes.  On rare occasions someone will leave a colon off deliberately as a way to disable the check, but that's really a poor choice.  The officially supported way of "commenting out" a check is with the "-COM" suffix (for "comment").

[2022-03-31 19:39] Artem-B commented on #54537
https://reviews.llvm.org/D122846 should fix the crash.

[2022-03-31 19:46] rotateright commented on #54558
We're inventing a heuristic based on your example code. :)
The problem pattern (and also likely for the other folds just below the one that we are changing - see the TODO comment) seems to be when the subtract is used in a loop condition, so I'm just trying to create an exception for that pattern.

It's entirely possible that the proposed one-liner change is too big a hammer, too small, or both. B

[2022-03-31 19:57] ps-19 commented on #54651
@EugeneZelenko please tell me any possible way.

[2022-03-31 21:00] ormris opened #54682 "Misoptimization (possibly in MemCpyOpt) results in no output"
The following test case produces no output at O2 when "B" is expected. We've bisected this issue to commit f5446b769a7929806f72256fccd4826d66502e59:

[code]

Steps to reproduce:

[code]

A couple of things I noticed:

  1. Moving tmp to global scope seems to workaround this issue.

  2. A zero length memcpy is possible, if the input begins with a "/".

Thanks in advance for any help on this.

[2022-03-31 21:18] lancethepants opened #54683 "uclibc-ng does not support getloadavg - third-party/benchmark/src/sysinfo.cc"
Compiling llvm-14, libLLVM now wants to pull in third-party/benchmark/src/sysinfo.cc. The function `getloadavg` used in sysinfo.cc is not found in uclibc-ng c-library.  Currently I'm using the following patch. Whether or not this is the best solution I don't know.

https://github.com/lancethepants/tomatoware/blob/master/patches/llvm/004-getloadavg.patch

[2022-03-31 22:04] #23395 closed

[2022-03-31 22:07] kees commented on #52998
[code]

Here's what I'm seeing now for compiler-rt build failure under GCC:

[code]

[2022-03-31 22:08] kazutakahirata commented on #54558
@rotateright I see.  Would you mind check in your patch?  Thanks in advance!

[2022-03-31 22:42] kees opened #54684 "CSKYAsmBackend::relaxInstruction uses Inst.dump() causing build failure"
Commit 582836faafcb458161947a72df27752fe5f76171 appears to break production builds of CSky:

[code]

[2022-03-31 23:05] kees commented on #54684
Proposed solution: https://reviews.llvm.org/D122854

[2022-03-31 23:52] dhruvachak commented on #54654
Earlier, I used opt from D102107 rebased on main.

But I found out why opt from main did not repro the heap2stack promotion -- because of missing attributes in the new API. I patched my main branch with the following diff pulled out of D102107 and reproduced the heap2stack promotion on this patched main. Can you please try this patch on your main branch? I am not sure how the attributor uses these

[2022-04-01 00:06] astrelsky commented on #53738
I've decided to put this aside for now. I haven't had the free time to put any work into recently. If anyone wants to pick up where I left off I have what I did here.

https://github.com/astrelsky/llvm-project/tree/py_limited_api

[2022-04-01 00:06] #53738 closed

[2022-04-01 00:13] davidbolvansky commented on #54651
What you want to search in repo?

This issue is about improving codegen, not about replacing multiplications with adds and shifts in codebase.

You can start with aarch64 backend. But I am not sure if this is really beginner griendly task.

[2022-04-01 01:24] cmd120 commented on #54672
@DimitryAndric Thanks for reminding me, main.c attached now. You can see that in `main.c` doesn't call `rem`, and it should be an edge case that current lld's lazy symbol strategy cannot properly manage; BFD ld passes because it simply forgets the `rem` symbol in `lib1.a` because `rem` hasn't been referenced by then.

[2022-04-01 02:21] MaskRay commented on #54672
ld.lld's behavior is by design. See https://maskray.me/blog/2021-06-13-dependency-related-linker-options#warn-backrefs

The case will lead to a `--warn-backrefs` diagnostic.

[2022-04-01 03:03] #54402 closed

[2022-04-01 03:04] SamB opened #54685 "Build failing on Cygwin: .hidden directive in BLAKE3 assembly"
I'm using Cygwin, with this assembler:

[code]

I'm trying to build clangd from llvm-project (commit `llvmorg-15-init-6331-gd345fe7c221f` -- that's a refspec from `git describe`).

I configured using this command:

[code]

Building twice (because you don't need to see the successful steps), I get this output:

[code]

I tried fixing the relevant CMakeLists.txt to use the _windows_gnu.S files for C

[2022-04-01 03:26] cmd120 commented on #54672
@MaskRay Unfortunately, for this case lld doesn't give a warning with `--warn-backrefs` as it's supposed to. GNU ld should not crash with `--start-group/--end-group` because there are no cyclic references and it doesn't in fact. I'll reopen this issue if no objection: )

[2022-04-01 04:12] aditink opened #54686 "Dockerfiles out of date"
Dockerfile https://github.com/llvm/llvm-project/blob/main/llvm/utils/docker/debian10/Dockerfile is out of date and does not work, as it references the old svn repository that is no longer publicly available.
To reproduce:
1. Follow the instructions at https://github.com/llvm/llvm-project/blob/main/llvm/docs/Docker.rst. In particular, you can use the last snippet,
[code]
Note that there is a typo i

[2022-04-01 04:40] ps-19 commented on #54686
@aditink if changes 1 and 2 are made is it working fine then?

[2022-04-01 04:46] objwyh commented on #54462
Fixed in https://reviews.llvm.org/D122248

[2022-04-01 04:46] #54462 closed

[2022-04-01 04:49] aditink commented on #54686
Unfortunately, after making changes 1 and 2, I was still facing problem 3.

[2022-04-01 06:27] #54684 closed

[2022-04-01 07:13] petrhosek commented on #54670
We used the name `-fcoverage-prefix-map` to make it clear that it only only applies to Clang coverage mapping and not to profile instrumentation (which is shared by both coverage and PGO). Since the feature you're proposing is specific to gcov, using a separate flag that matches the name used by GCC would be preferable to me.

[2022-04-01 07:44] tru commented on #54645
I printed the value from `CalculateSmallVectorDefaultInlinedElements<T>::value` and it's `3`, I am guessing this leads to some kind of alignment error? As expected `SmallVector<SDValue, 3>` also crashes. This is when MSVC has the argument `/arch:AVX` on the command line.

When compiling without `/arch:AVX` the value is still `3` so I am guessing this is a problem when the vector is a odd number an

[2022-04-01 07:45] mstorsjo opened #54687 "Backport "[libcxx] [test] Avoid spurious test breakage in clang-cl-dll configs with newer CMake" to the 14.x branch"
This should avoid spurious failures if the Windows premerge bots are updated with a newer version of CMake.

[2022-04-01 07:46] mstorsjo commented on #54687
/cherry-pick b048397db8027fedf9380e7cf9213239d558fa29

[2022-04-01 08:00] joker-eph commented on #54645
This could very well be an issue with alignment indeed, but that may be a bug in MSVC. It seems worth reporting the reduced test case to Microsoft. Does it reproduce with the most recent MSVC available?

I don't think a fix in `CalculateSmallVectorDefaultInlinedElements` is doable unless we really know what the issue is: if this is a vectorizer issue then it is likely highly dependent on the exact

[2022-04-01 08:17] Logyiyi opened #54688 "Taint Configuration doesn't work"
I encounter some problems with the stain analysis configuration. I completely followed the instructions in the official manual but got no results. I don't know if I'm using it the wrong way or if the format of the configuration file has changed. My version is 15.0.0. The Code and Configuration file are as follows. Please help me.

Code:
void test1(char t){
std::cout<<t;
}
void mysink(char t){
std:

[2022-04-01 08:21] RKSimon commented on #54645
MSVC getting the alignment of the stack wrong is not uncommon, often leading it to incorrectly use aligned vector loads. If we can report it with an independent repro that'd be fantastic.

I'll make the ```SmallVector<SDValue, 4>``` fix in X86ISelLowering.cpp

I don't know if we should consider rounding ```CalculateSmallVectorDefaultInlinedElements<T>::value``` up to nextPow2 on MSVC builds to avo

[2022-04-01 08:23] tru commented on #54645
At least the most recent 2022 version that's publicly available.

[2022-04-01 08:28] River707 commented on #49874
This has recently been fixed. Both Analysis and Transforms are free from dialect dependencies.

[2022-04-01 08:28] #49874 closed

[2022-04-01 08:31] tru commented on #54645
I was thinking about this, I was a bit surprised that this bug turned up at the first place since it should have been found in some testing. But then I realized that maybe the combination of MSVC + /arch:AVX is probably not a very well tested configuration. We only use it for the stage1 compiler and will probably switch to building stage1 with a binary distribution of clang instead to hit a more w

[2022-04-01 08:31] River707 commented on #49478
This has been fixed. Attributes/Types can opt in to this using the SubElement(Attr|Type)Interfaces.

[2022-04-01 08:31] #49478 closed

[2022-04-01 09:03] hkmatsumoto commented on #54561
IMHO only extending `simplifyUsingControlFlow` does not work because the LLVM IR in question does not call the function since it does not contain PHI nodes. Is it a nice approach to transform the IR into [something like this](https://llvm.godbolt.org/z/TcWKssdoz) containing PHI node, and let existing optimization passes to make further optimizations?

[2022-04-01 09:18] AnastasiaStulova commented on #54583
It might be worth discussing this with Mesa project first, as from the current information I can't see there is any issue in llvm-project.

[2022-04-01 09:27] yurai007 commented on #54313
Right, apparently first part of my investigation was based on IR from old trunk before submitting fix :(

[2022-04-01 09:31] asb commented on #54643
Backporting this makes sense to me.

[2022-04-01 09:42] nikic commented on #54561
@hkmatsumoto SROA will convert the load/stores into a phi node.

[2022-04-01 09:55] Inori opened #54689 "Clang-CL stdatomic.h compatible problem with MSVC headers"
Code:
[code]

Error message:
[code]

Clang Version: 14.0.0

It seems the [latest code](https://github.com/llvm/llvm-project/blob/main/clang/lib/Headers/stdatomic.h#L70) on main branch is the same as version 14.0.0

[2022-04-01 10:14] dpreobra opened #54690 "[AMDGPU][MC][GFX10] Assembler fails to detect unsupported 64bit DPP opcodes"
64-bit DPP opcodes are supported on GFX90A and GFX940 only. However assembler fails to identify these opcodes as unsupported when they are used on other GPUs.

An example of failed test (GFX10):

    v_ceil_f64_dpp v[10:11], v[2:3] row_newbcast:1 row_mask:0xf bank_mask:0xf

Expected output:

    error: dpp variant of this instruction is not supported

Actual result:

    error: not a valid operand

[2022-04-01 10:38] #54523 closed

[2022-04-01 10:40] AMS21 commented on #54680
Not sure if its 100% related but while testing an implementation for `isxdigit` I've notices that clang doesn't apply the branch-less version at all. While GCC does. [godbolt link](https://godbolt.org/z/3Yqsd8oTd)
cpp code:

[code]

generated assembly

[code]

[2022-04-01 10:52] dpreobra opened #54691 "[AMDGPU][MC][GFX1030] v_dot2c_f32_f16 and v_dot4c_i32_i8 have incorrect _e32 suffices"
These opcodes cannot be promoted to VOP3, however they have _e32 suffix when disassembled.

An example of failed test:

    0x01,0x04,0x0a,0x04

Expected result:

    v_dot2c_f32_f16 v5, s1, v2

Actual output:

    v_dot2c_f32_f16_e32 v5, s1, v2

[2022-04-01 10:57] tru commented on #54645
/cherry-pick cb5c4a5917889bd12c5662c8b550cde11924d570

[2022-04-01 11:02] bcl5980 commented on #54651
Enable decomposeMulByConstant can do what you want. But I'm not sure if we can general enable this option or not.
[code]

[2022-04-01 11:02] RKSimon commented on #38522
Candidate Patch: https://reviews.llvm.org/D122891

[2022-04-01 11:04] davidbolvansky commented on #54679
FileCheck should be improved yeah

[2022-04-01 11:16] AMS21 opened #54692 "[clang] Missed optimization: Bitwise & generates worse code than && for booleans"
Given the following source code: [godbolt link](https://godbolt.org/z/Kvc8fTxMh)

[code]

compiling with `-O3`. We get the following assembly:

[code]

As you can see `is_ctrl_2` and `is_ctrl_3` generates more assembly which is not optimal and could be the same as `is_ctrl_1`. GCC does generate the exact same assembly for all 3 functions.
Note using `||` instead of `|` in `is_ctrl_1` doesn't chang

[2022-04-01 11:39] mstorsjo commented on #54685
I noticed this when building for mingw too - I posted https://reviews.llvm.org/D122893 which should get rid of the `.hidden` directives in the windows-gnu assembly files. Then I presume it'd be needed to add a change like this:
[code]
to use those assembly files for Cygwin too.

If you get it built that way, it'd be good to build `unittests/Support/SupportTests.exe` and run it with the `--gtest_fi

[2022-04-01 11:39] dpreobra opened #54693 "[AMDGPU][MC][GFX810+] Incorrect error message "image data size does not match dmask and tfe""
d16 modifier also affects image data size.

For example, the following opcode is incorrect for GFX9:

    image_load v[5:6], v[1:4], s[8:15] dmask:0x3 unorm glc slc lwe da d16

Output:

    error: image data size does not match dmask and tfe

The same opcode without d16 is assembled fine:

    image_load v[5:6], v[1:4], s[8:15] dmask:0x3 unorm glc slc lwe da

[2022-04-01 11:40] goussepi opened #54694 "[X86] Infinite loop in DAG combiner for targets with the fast-lzcnt feature"
[code]

llc -mtriple=x86_64-pc-linux -mcpu=btver2 mask.ll -O3 -o -
        .text
        .file   "lzcnt2.ll"

[2022-04-01 11:50] gyakh opened #54695 "[clang] Missed optimization: excessive asm instructions"
Hello,

Recently I have found that x86-64 clang 14.0.0 generates asm code (https://gcc.godbolt.org/z/3YWbrMvvh) with excessive instructions:
[code]

Specifically, lines 9-12 are unnecessary. If I explicitly cast variable `size_t i` to `int` in CheckEq at line 25 (C++), then generated code looks fine (https://gcc.godbolt.org/z/ETh17ErG7):
[code]

[2022-04-01 12:10] uncleasm opened #54696 "Suboptimal bitfield insertions arm64"
In a case, where the intent is to copy a nibble 0x0000F000 to 0x000000F0, clang trunk
seems to perform almost optimally, except of using two LSR shifts in succession (see https://godbolt.org/z/oMP5Ya78b)

[code]

Obviously the shifting could happen with a single instruction `lsr w8, w0, #20`

[2022-04-01 12:20] hkmatsumoto commented on #54561
Oh, I'm convinced. Let me see if I can make a patch for this.

[2022-04-01 12:31] nikic commented on #54682
Relevant IR before memcpyopt: https://gist.github.com/nikic/f9f4c34a9868096ac4b9231f0e5d6488 MemCpyOpt is perform a "memcpy from undef" optimization here.

[2022-04-01 12:43] dpreobra opened #54697 "[AMDGPU][MC][GFX10] Add syntactic sugar for s_waitcnt_depctr"
Assembler should allow using sp3-compatible helpers for s_waitcnt_depctr:

    depctr_hold_cnt(...)
    depctr_sa_sdst(...)
    depctr_va_vdst(...)
    depctr_va_sdst(...)
    depctr_va_ssrc(...)
    depctr_va_vcc(...)
    depctr_vm_vsrc(...)

For example:

    s_waitcnt_depctr depctr_sa_sdst(1) & depctr_va_vdst(1) & depctr_va_sdst(1)

[2022-04-01 12:59] nikic commented on #54682
Reduced test case:
[code]

With `-passes='print<memoryssa-walker>'` this gives:
[code]

It says the memcpy is clobbered by liveOnEntry, but it should be clobbered by the MemoryPhi node, as the store in the loop clobbers the memory on the previous iteration.

cc @alinas @fhahn

[2022-04-01 13:03] RKSimon commented on #54695
IR Godbolt: https://gcc.godbolt.org/z/7cW4rT843
[code]

[2022-04-01 13:18] nikic commented on #54682
I think this happens because the upward_defs_iterator only does something meaningful (i.e. phi translation and loop invariance check) when working on a MemoryLocation. But if the clobber query is against a call, we don't do anything. But we still end up using non-translated/non-invariant MemoryLocations for individual function arguments in getModRefInfo queries.

[2022-04-01 13:22] Nemykal opened #54698 "[compiler-rt] Building compiler-rt as runtime with just-built clang doesn't work"
Hi,

Discussed this issue on discord #compiler-rt channel with @tru

I am trying to build an LLVM toolchain on x86_64-pc-linux-gnu. With the following configuration:
[code]

The build is fine for clang and lld, but fails at the `Performing configure step for 'runtimes'` step. It only fails if gcc is not installed. If I install gcc, the build is successful.

It seems to be similar to this issue: ht

[2022-04-01 14:11] rotateright commented on #54313
No problem. Please open a new report for the SimplifyCFG issue if we can improve it. We also have #54543 for the reassociate pass. Since the example here is optimized now, I'll close this report.

[2022-04-01 14:11] #54313 closed

[2022-04-01 14:20] dpreobra commented on #53339
Fixed by commit d3b87e4a1c5a

[2022-04-01 14:20] #53339 closed

[2022-04-01 14:23] lattner commented on #49874
Awesome! Thank you

[2022-04-01 14:42] LukasHanel opened #54699 "parameter types are not renamed when fixing readability-identifier-naming.TypedefCase"
Using clang-tidy, I try to rename typedefs, and find that clang-tidy fixes the header and variable declarations, but not parameter types in function signatures.
It is similar to this issue: https://github.com/llvm/llvm-project/issues/47147
I could not find other open issue, so I report it.

Using clang+llvm-12.0.1-x86_64-linux-gnu-ubuntu-, working with c .h and .c files.

### .clang-tidy
[code]

#

[2022-04-01 15:15] rotateright commented on #54558
Added tests/comments and posted for review:
https://reviews.llvm.org/D122909

[2022-04-01 15:16] zmodem commented on #54644
It's only in the last iteration that the "val & 0xff" is mapped directly to a return value, which is where the transformation kicks in. In the other iterations there is different control flow, either returning or continuing with the next value.

That was due to https://reviews.llvm.org/D35579
Looking back, I'm not sure how well motivated that actually was.

I agree. It's been on the todo-list a lo

[2022-04-01 15:24] vfdff commented on #54692
all should be same with logic version:

bool is_ctrl_4(const char c) { return (c >= 0 && c <= 31) || (c == 127); }

[2022-04-01 15:26] Kmeakin opened #54700 "[LLD] Undefined references with linking with `-lunwind-ptrace` and `-unwind-generic`"
`lld` reports undefined references, while `ld` is able to link this without issue:

main.c:
[code]

`clang main.c -lunwind-ptrace -lunwind-generic` produces no error.

`clang main.c -lunwind-ptrace -lundwind-genric -fuse-ld=lld` produces:

[code]

`clang --version`:
[code]

`ld.lld --version`:
[code]

[2022-04-01 15:38] Kmeakin opened #54701 "[LLD] Undefined symbol `__gxx_personality_v0` when linking with lld"
`lld` reports an undefined symbol, while `ld` is able to link this without issue:

main.c:
[code]

foo.cpp:
[code]

[code]
produces
[code]

but removing `-fuse-ld=lld` produces no issues.

`clang --version`:
[code]

`ld.lld --version`:
[code]

[2022-04-01 15:41] MaskRay commented on #54701
Usage error. You need to link with `clang++` instead of `clang`. The only difference for the link action is whether the C++ standard library (libstdc++ or libc++/libc++abi) is linked. `__gxx_personality_v0` is defined in libsupc++ in libstdc++, and libc++abi.

[2022-04-01 15:41] #54701 closed

[2022-04-01 15:44] hkmatsumoto commented on #54561
Opened https://reviews.llvm.org/D122913

[2022-04-01 15:48] #54700 closed

[2022-04-01 15:52] Kmeakin commented on #54700
I believe this should be considered a bug. `lld` is described as "a drop in replacement for bfd and gold". This implies that it should be possible to append `-fuse-ld=lld` to a compiler invocation and get the same behavior.

[2022-04-01 15:52] Kmeakin commented on #54701
I believe this should be considered a bug. `lld` is described as "a drop in replacement for bfd and gold". This implies that it should be possible to append `-fuse-ld=lld` to a compiler invocation and get the same behavior.

[2022-04-01 15:54] MaskRay commented on #54672
There is no `main.c`. I recommend that you read https://maskray.me/blog/2021-06-20-symbol-processing#archive-processing .
There is assuredly you misunderstood how archive processing works in GNU ld and ld.lld.

No cyclic reference does not mean --start-group should not be used. The ignore-if-not-extracted semantics is known to omit some "duplicate symbol error" diagnostics. That is just a brittle

[2022-04-01 15:54] #54672 closed

[2022-04-01 16:06] MaskRay commented on #54701
https://maskray.me/blog/2020-12-19-lld-and-gnu-linker-incompatibilities See the first few paragraphs around "Piotr Kubaj said that this is a probably more of a marketing term than a technical term, the term tries to lure existing users into thinking "it's the same you know, but better!". "

As I mentioned, clang -fuse-ld=bfd failed for me. The case that it does not fail for you may be a bug, or co

[2022-04-01 16:18] smithp35 commented on #54701
FWIW I can't reproduce either on Ubuntu18.04 with a recent clang (rebuilt a few days ago), and GNU ld (GNU Binutils for Ubuntu) 2.30
foo.o:(.eh_frame+0x13): undefined reference to `__gxx_personality_v0'
Nor with an AArch64 GCC toolchain with GNU ld (fsf-10.39) 2.34.0.20200629

I agree with MaskRay that this is within the tolerances of incompatibilities between linkers, especially as linking with c

[2022-04-01 16:29] Leengit opened #54702 "-Wbraced-scalar-init warns inappropriately"
Braces around the returned value serve a legitimate purpose in
[code]
They tell the compiler to fail because the return value is narrowed; without the braces this would compile.  Yet, `-Wbraced-scalar-init` warns that this is a superfluous use of braces.  Likewise if the return value of `f` is instead `int` the braces legitimately ask the compiler to check for narrowing, which in this case is not

[2022-04-01 16:29] bcl5980 commented on #54696
It looks this case is not easy to fix on IR and SelectionDAG, maybe we need to fix on backend.
I will send a patch fix it on backend but if someone have better solution on IR or DAG I will abandon the backend patch.

[2022-04-01 16:49] aeubanks opened #54703 "[clang-format] No space after placement new in member initializer list"
[code]
clang-format doesn't want to add a space after the `new` even though I believe that's the standard practice.

[2022-04-01 16:50] aeubanks commented on #54497
Thanks for reverting, these issues are no longer at clang-format head.

[2022-04-01 16:50] #54497 closed

[2022-04-01 17:11] FloopCZ opened #54704 "[clang-format] Lambda body indent ignores its signature indent"
Hi everyone, I have found an issue with lambda function indentation in expressions containing the pipe `|` operator widely used in `std::ranges` and [range-v3](https://github.com/ericniebler/range-v3) library. The issue is present with both `clang-format-13` and `clang-format-14`.

.clang-format
[code]
`c++` code before `clang-format`
[code]

`c++` code after `clang-format`
[code]
It is worth ment

[2022-04-01 18:49] erichkeane commented on #54588
Fixed here: https://reviews.llvm.org/rG4cf98f973a13c5049322abff43f0dff3c214311b

Thank you very much for your help/patience on this one @rjmccall !

[2022-04-01 18:49] #54588 closed

[2022-04-01 19:37] ldionne opened #54705 "Clang reports that `__is_array(T[0])` is true"
Clang currently reports that `__is_array(T[0])` is true, which leads to `std::is_array<T[0]>` being true as well.

- GCC says it's false, MSVC says it's true (see [Godbolt](https://godbolt.org/z/8jadodMs1)).
- The Standard says that `T[0]` is downright ill-formed: http://eel.is/c++draft/dcl.array#1

Since it's ill-formed, I guess Clang is technically conforming, however it still leads to code like

[2022-04-01 20:01] rth7680 opened #54706 "Warning for mismatched declaration/definition with enum"
For a testcase such as

[code]
If the implementation type of `enum E` is not `int`, we will correctly emit an error (e.g. -fshort-enums).
It would be desirable to emit a warning in this case, because it is probably a mistake and definitely a portability error.

[2022-04-01 20:11] cmd120 commented on #54672
@MaskRay @DimitryAndric  Opps I must have forgot to click the update button: ( main.c is here now. Please take another look if that matches what in your thought, thank you!

[2022-04-01 20:18] ovilla commented on #54658
We could have more examples of non optimal shuffle code for avx512.
Is the best way of reporting them to open new sperate issues or something else?
Thanks!

[2022-04-01 20:24] shafik commented on #54705
Note, if you use `-pedantic` both gcc and clang will note that zero-sized arrays as an extension e.g.:

[code]

I have always been curious why [we allowed this outside of flexible array members](https://twitter.com/zygoloid/status/1065840677328748545?s=20&t=eP8L6oDKGAhxzwKCeJuyag) but last time I asked @zygoloid was not sure why.

[2022-04-01 20:59] River707 commented on #52621
https://reviews.llvm.org/D122775 switched the fallback to use the type name instead of a static variable, which should fix the non-explicit case. Will land that later today, or this weekend.

[2022-04-01 20:59] RKSimon commented on #54658
Separate tickets is probably easier to track

[2022-04-01 21:05] ovilla commented on #54658
Thanks for looking into this. We will open a new issue.

[2022-04-01 21:09] nikic commented on #54692
We don't really need the second part of the condition: https://godbolt.org/z/Wc9bc55bK Something pretty wild going on there.

[2022-04-01 21:30] theuni opened #54707 "clang-query returns results for invalid queries"
Thanks to @AaronBallman on IRC for helping me understand the actual problem here.

In some cases when presented with a bogus query, clang-query not only fails to detect it, but it responds with bogus matches.

Simplified test-case:
[code]
[code]
Rather than complaining about `invocation` being incompatible with `functionDecl` as it apparently should (thanks @AaronBallman!), a match is returned.

[2022-04-01 21:59] natgla opened #54708 "[OpenMP] Nondeterministic failures on Windows, x86"
[pf7.zip](https://github.com/llvm/llvm-project/files/8401036/pf7.zip)

Compile attached file with x86 clang/llvm 14.0.0 on Windows:

clang -O0 -fopenmp pf7.cpp

forever.cmd:
:start
a.exe
if "%errorlevel%" == "0" goto :start

run forever.cmd
in ~10 min it's crashing.

More details:
I've noticed the crash first when compiling this test with MSVC compiler:
cl  -Od  -openmp:llvm pf7.cpp /Zi
run in a l

[2022-04-01 22:07] neshkeev opened #54709 "Clang frontend command failed due to signal crash for C++20"
# What I did

1. Clone [my repo](https://github.com/neshkeev/cppipe): `git clone git@github.com:neshkeev/cppipe.git`
2. Go to the local repository: `cd cppipe`
3. Create a build directory: `mkdir build`
4. Go to the build directory: `cd build`
5. Execute `cmake .. -DCMAKE_CXX_COMPILER=clang`
6. Execute `cmake --build .`

# What happened
Clang crushed while trying to compile the project.
The crash

[2022-04-01 22:34] royjacobson commented on #54655
Yes, this is another case of #53640.

[2022-04-01 22:34] #54655 closed

[2022-04-01 22:34] joker-eph opened #54710 "mlir::Type class has non-generic APIs"
It seems like `Type::getIntOrFloatBitWidth()` are inherited from old times, is this tech debt that could/should be cleaned up?

[2022-04-01 22:35] petrhosek opened #54711 "Support per-directory index files for HTML coverage report"
`llvm-cov` currently generates a single top-level index HTML file. This is fine for smaller projects, for larger codebases this can lead to scalability issues. For example, in case of Fuchsia the [generated index](https://storage.googleapis.com/fuchsia-artifacts/builds/8818061488465309873/coverage/coverage/coverage/coverage/coverage/index.html) has 12M and rendering this file is causing problems f

[2022-04-01 22:38] petrhosek commented on #54711
@vedantk do you know if this approach has already been considered in the past?

[2022-04-01 22:44] alexander-shaposhnikov commented on #54650
Created https://reviews.llvm.org/D122942

[2022-04-01 23:33] lattner opened #54712 "MLIR attribute parsing isn't unicode clean"
It is difficult to come up with good dialect names given a limited character set, and unfortunately MLIR doesn't help:

[code]

[2022-04-02 00:48] owenca commented on #53220
Can you create a new issue and describe your use case or how to reproduce it?

[2022-04-02 01:00] Polaris-Jhb opened #54713 "ELF TLS only supported in small memory model or in local exec TLS model"
When I was compiling **llvm-test-suite(release/12.x)** with `-DCMAKE_C_FLAGS="-mtls-size=48 -mcmodel=large" -DCMAKE_CXX_FLAGS="-mtls-size=48 -mcmodel=large"`, I ran into a error.

![image](https://user-images.githubusercontent.com/33863061/161357791-82bc3c97-2c28-4cd9-a8f8-3831c4a9cf0f.png)

---

The error occurred when compiling the following file.
`clang++ -DHAVE_POSIX_REGEX -DHAVE_STD_REGEX -DH

[2022-04-02 02:21] MaskRay commented on #54672
Thanks for the attached `main.c`. This is what I call "linking sandwich problem". The diagnostic is suppressed by https://reviews.llvm.org/D77522 . See https://maskray.me/blog/2021-06-13-dependency-related-linker-options#linking-sandwich-problem

[2022-04-02 03:02] tstellar commented on #54645
/cherry-pick cb5c4a5917889bd12c5662c8b550cde11924d570

[2022-04-02 03:03] tstellar commented on #54643
/cherry-pick 43a91a8474f55241404199f6b8798ac6467c2687

[2022-04-02 03:03] tstellar commented on #54640
/cherry-pick 2e44b7872bc6

[2022-04-02 03:04] tstellar commented on #54619
/cherry-pick 7370a489b1005e424b23bd0009af2365aef4db53

[2022-04-02 03:05] tstellar commented on #54597
/cherry-pick 423af54cbef7b90199e01162dcea6d3e62539e8c 11a8fc685692f56b011f851d974f0cac534f2cb8 f7086401b7c03179b755768845956bc8e84ab266

[2022-04-02 03:05] tstellar commented on #54420
/cherry-pick 18ead23385a4e0e6421d658591b1ee6a1c592b53 82e5f951fd6e6ad6323067d8afcf025fc72d9c33

[2022-04-02 03:07] tstellar commented on #51641
/cherry-pick 3784e8ccfbdaaab31f9e9c221daa59a218279999

[2022-04-02 03:07] tstellar commented on #51416
/cherry-pick 3784e8ccfbdaaab31f9e9c221daa59a218279999

[2022-04-02 03:08] tstellar commented on #51414
/cherry-pick 3784e8ccfbdaaab31f9e9c221daa59a218279999

[2022-04-02 03:08] tstellar commented on #50376
/cherry-pick 3784e8ccfbdaaab31f9e9c221daa59a218279999

[2022-04-02 03:14] tstellar commented on #54548
Merged: 99c0f85ef992e9aa6465f27a8b05601667412bc7

[2022-04-02 03:14] #54548 closed

[2022-04-02 03:18] tstellar commented on #54335
@omjavaid Are there any more patches like this that need to be merged?  I see a few other ones listed here: https://reviews.llvm.org/D114639

[2022-04-02 03:19] tstellar commented on #54388
@TNorthover What do you think about backporting this? https://github.com/llvm/llvm-project/commit/352453569b2b044ddd5bd4df0074ff9863828b6f

[2022-04-02 04:43] tstellar commented on #54403
Merged: add3ab7f4c8a fe5c24e93754

[2022-04-02 04:43] #54403 closed

[2022-04-02 04:49] tstellar commented on #54318
Merged: f3b89727716a

[2022-04-02 04:49] #54318 closed

[2022-04-02 04:55] tstellar commented on #54062
Merged: 63e7af77ec42de9ac0b2fca6f7876b6b67c40050

[2022-04-02 04:55] #54062 closed

[2022-04-02 04:57] tstellar commented on #48888
@TNorthover What do you think about backporting this? https://github.com/llvm/llvm-project/commit/c3b98194df5572bc9b33024b48457538a7213b4c

[2022-04-02 05:00] tstellar commented on #45485
@aykevl @dylanmckay  What do you think  about backporting this? https://github.com/llvm/llvm-project/commit/51585aa240de6ef07979345de5406483d7393b7b

[2022-04-02 05:01] tstellar commented on #54148
@aykevl @dylanmckay What do you think about backporting this?

[2022-04-02 05:02] tstellar commented on #54345
@aykevl @dylanmckay What do you think about backporting this? https://github.com/llvm/llvm-project/commit/45638931fb7c7a1b9c850e47601541b398868538

[2022-04-02 05:07] tstellar commented on #54605
Merged: b69247dcbd80196af7f3b3942a51be3f2f82023b

[2022-04-02 05:07] #54605 closed

[2022-04-02 05:10] tstellar commented on #54460
@topperc What do you think about backporting this? https://github.com/llvm/llvm-project/commit/c1a31ee65b3a2bf2b452febb99703b3fdfa43328

[2022-04-02 05:15] tstellar commented on #53281
Merged: add3ab7f4c8a 3f43d803382d 23d08271a4b2

[2022-04-02 05:15] #53281 closed

[2022-04-02 05:16] tstellar commented on #54687
@mordante What do you think about backporting this? https://github.com/llvm/llvm-project/commit/b048397db8027fedf9380e7cf9213239d558fa29

[2022-04-02 06:05] tstellar commented on #54600
/cherry-pick 6bdad85b26fbfd064772f2b382b27fbbf0b0afce

[2022-04-02 06:09] MaskRay commented on #54619
/branch MaskRay/llvm-project/lld-emit-relocs-stt-section

[2022-04-02 07:46] tru commented on #54645
@silvasean any thoughts on a more permanent fix? I am worried that we use SmallVector with the default size in more places and all these can blow up when using MSVC.

[2022-04-02 08:10] brad0 commented on #48817
@rorth Is this still an issue?

[2022-04-02 08:11] tru commented on #54487
A fix landed in 98bc304e9faded44f1d8988ffa4c5d8b50c759ec

[2022-04-02 08:11] tru commented on #54487
/cherry-pick 98bc304e9faded44f1d8988ffa4c5d8b50c759ec

[2022-04-02 08:13] brad0 commented on #47054
@rorth What is the status of this with Clang 14?

[2022-04-02 08:18] tru commented on #54487
@tstellar I don't seem to have any luck with this bot - I am very confused by the error in the action log there. Any guidance?

[2022-04-02 08:43] AMS21 opened #54714 "[Clang] Missed optimization with handrolled branchless assigment"
Given the following source code [godbolt](https://godbolt.org/z/qT6YPreza):

[code]

compiling with `-O3` produces the following assembly:

[code]

and the following IR:
[code]

So the first and second implementation somehow confuse llvm into generating more code.
I would also note that GCC actually generates one cmov instruction for the last function instead of two like clang does.

gcc assembly:

[2022-04-02 08:54] tstellar commented on #54487
@tru The issue is missing the Milestone.  I will try to improve the error message for this scenario, because many people have been confused by this.

[2022-04-02 08:55] tstellar commented on #54487
/cherry-pick 98bc304e9faded44f1d8988ffa4c5d8b50c759ec

[2022-04-02 09:50] tstellar opened #54715 "Regression: clang-14 fails to compile chrony project"
clang-14 fails to comple https://chrony.tuxfamily.org/.  This is a regression from clang13, and is caused by this commit: 0f0e31cf511def3e92244e615b2646c1fd0df0cd.

To reproduce run: `clang-build/./bin/clang -x c  -flto  -c client.ii.txt -o client.o && ./clang-build/bin/opt -verify client.o -o /dev/null`
With clang-14, this will crash and print the following error:

Global is external, but doesn't

[2022-04-02 10:19] tru commented on #54487
Ah so it's using the milestone to know which branch it should target? That makes sense. I'll remember that for the future.

[2022-04-02 10:55] RKSimon commented on #38522
Fixed by b8652fbcbbde830ec2f48ff165e5706fb607d02b

https://simd.godbolt.org/z/9c1YjszrY
[code]

[2022-04-02 10:55] #38522 closed

[2022-04-02 10:56] RKSimon commented on #51609
Landed at c64f37f818b7a928b48540920d6e0c6df8903128

[2022-04-02 12:01] h-vetinari opened #54716 "Package subprojects + CMake files without mangling subproject name"
As a follow-up to #53281, the following came up in the [discussion](https://discourse.llvm.org/t/rfc-stand-alone-build-support/61291/15) on discourse about the subproject builds:

Note that this was based on the state of things before https://github.com/llvm/llvm-project/commit/23d08271a4b24f21a88bfe73a5ea31c1e2c6365c was merged to `release/14.x`, but AFAICT, that commit doesn't change the folder

[2022-04-02 12:49] EAirPeter opened #54717 "Clang-cl has inconsistent behavior compared to MSVC for __declspec(dllexport) template specialization"
A short reproduction of this issue is given below.
[code]
When compiled with `clang-cl foo.cpp /link /dll /out:foo.dll`, I get no exported symbols from `foo.dll` (by running `dumpbin /exports foo.dll`), which would result in further link errors in our code base.
While there is a `?Bar@?$Foo@H@@QEAAXXZ` entry in exports with `cl foo.cpp /link /dll /out:foo.dll`.

My clang version is `13.0.1`.

Hope

[2022-04-02 12:51] tspiteri opened #54718 "Missed optimization with 32-bit adds and shifts"
Although these two functions are equivalent, the code generated for `bar` is [slightly better](https://godbolt.org/z/49qj5a1a4).
[code]
Note that when using 64/128 bits instead of 32/64 bits, the optimization is found and the code generated is [the same](https://godbolt.org/z/8vPseqqc3).

[2022-04-02 12:52] EAirPeter commented on #54717
A known workaround is to place `__declspec(dllexport)` at the specialization like
[code]

But IMO, it would be better to have clang-cl be in sync with MSVC's behavior when dealing with MS specific features.

[2022-04-02 13:33] #16487 closed

[2022-04-02 13:33] RamNalamothu commented on #16487
Closing as the requested feature is already supported.

[2022-04-02 14:02] AMS21 commented on #54718
Interestingly this also applies in some form GCC too. Reported it here [here](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=105136) and [here](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=105137)

[2022-04-02 14:22] AMS21 commented on #54718
Same problem for [8-bits](https://godbolt.org/z/TGqYMavYT) and [16-bits](https://godbolt.org/z/83WW8Thq6)

[2022-04-02 16:10] mgorny opened #54719 "Please backport fd1da784ac64 to 14.x ([compiler-rt] [scudo] Use -mcrc32 on x86 when available)"
Please backport fd1da784ac644492f8ca40064baf3ef360352f55 to 14.x branch:

[code]
[code]

[2022-04-02 16:23] RamNalamothu commented on #19387
The latest lldb generates a meaningful error as follows.

`(lldb) memory read --size -4 -format hex -count 1 0x0000555555558010`
`error: invalid uint64_t string value: '-4'`

Checked with:
`lldb version 15.0.0git (git@github.com:llvm/llvm-project.git revision cc2139524f77248c7e147d4cc3befb31fe3e6daa)`

[2022-04-02 16:23] #19387 closed

[2022-04-02 16:33] RamNalamothu commented on #48362
Fixed with 7f05ff8be and 94038c57.

[2022-04-02 16:33] #48362 closed

[2022-04-02 16:50] arsdever opened #54720 "[clang-format] The variable name in the lambda joins to the class name breaking the code after formating"
All the files I have collected in [this gist](https://gist.github.com/arsdever/b811514a8e159161d39c83ead286c304). To reproduce, download both files into the same folder and run the `clang-format`.

IMO, the issue is that [on this](https://gist.github.com/arsdever/b811514a8e159161d39c83ead286c304#file-sample-cpp-L10) line the class name goes all the way to the spacebar on the upper line, so after f

[2022-04-02 16:53] creator1creeper1 opened #54721 "`clang-format` does not correctly order qualifiers in template parameter names"
If we run `clang-format` on the following file ("`broken_east_const.cpp`"):
[code]
like this:
[code]
the file is not changed. However, since qualifiers should be right-aligned, the line
[code]
should be changed to
[code]

This came up in the [serenity](https://github.com/SerenityOS/serenity) project, specifically here: [Format.h#L242](https://github.com/SerenityOS/serenity/blob/master/AK/Format.h#

[2022-04-02 17:08] aaronpuchert commented on #54716
That would also simplify patch application for me, though it has always been messy (the addition of the cmake directory didn't change anything on my side). But I'm not sure what reasons people might have to prefer a versioned directory.

I don't see the subproject sources as merely a filtered version, but as a single subdirectory. (So one might say “projected” instead of “filtered”.) Often they'll

[2022-04-02 17:32] gotnone opened #54722 "std::optional<in_place, ...> fails with libstdc++"
The following code fails to compile on clang 8 -14 with libstdc++.  It does compile with libc++.
[code]
Try it on [godbolt](https://cpp.godbolt.org/z/bT4xP98TP).
Should this be crossposted to GCC Bugzilla?

[2022-04-02 18:44] bgnx opened #54723 "[clang][c++] Why anonymous struct definition inside instance creation expression not allowed in Clang?"
Here is an example which is compiles with GCC but not with Clang.
[code]
(https://godbolt.org/z/bsnGh3zvc)

Why this is important ? I came from javascript/typescript world where almost all software built using passing objects between functions. It's a very useful feature and can be proven objectively - one of the hardest problems in computers is well-known the "Naming Things" problem and having ab

[2022-04-02 18:51] tilir commented on #54723
Simpler repro: https://godbolt.org/z/Y8rsnbcn7

[2022-04-02 19:59] captaincrutches commented on #51759
I'm able to reproduce this on clang 14 with 2 levels of template inheritance - that is, a base class; a derived class template; and a second class template derived from the first:
[code]
clang-tidy tells me:
[code]
Notably, it does _not_ happen with only `Derived1`, and it does _not_ happen if `Base` is also a template.

[2022-04-02 21:27] h-vetinari commented on #54716
@aaronpuchert thanks for chiming in!

I don't have a strong preference between @jyknight's proposal and mine, but I think something should be done.

I think there's been a bunch of breakage from a packaging POV due to the changes in 14.0.0, and it would IMO be more reasonable to treat that as a bugfix than a feature. For context, I was successfully building the 14 rc's in conda-forge and the break

[2022-04-03 01:12] poyaoc97 commented on #52802
[My patch to this issue](https://reviews.llvm.org/D122981)

[2022-04-03 02:22] superusercode opened #54724 "Is it possible to add LLVM to the path when doing a silent install on windows?"
Since the windows installer uses nullsoft it accepts the /S for a silent install. However, I'm not sure if there are switches added for the silent path options:

![image](https://user-images.githubusercontent.com/60588434/161408420-7e00f639-2bb4-4dc5-8588-93e2e3093ef8.png)

The NSIS documentation says that [switches can explicitly be defined](https://documentation.help/NSIS/Section4.12.html) for o

[2022-04-03 03:18] Nemykal commented on #54698
If I add ```-resource-dir /usr/lib/clang/14.0.0``` to LDFLAGS, it actually all builds properly (with no gcc installed).

[2022-04-03 03:20] #54616 closed

[2022-04-03 04:40] sylvain-audi commented on #53937
I encountered a crash that seems identical, while studying code generation in Compiler Explorer for a C++ snippet that contains UB.
A git bisect pointed to commit 6a605b97a2006

Repro on Compiler Explorer: https://godbolt.org/z/7MqbW4M18

[code]

Stack trace on a debug clang 14.0.0 build, under Windows:
[code]

Note that for this repro, on LLVM 14, it crashes for `-opt-bisect-limit` values between

[2022-04-03 04:58] shafik commented on #54723
Note, if you compile this with `-pedantic` both gcc and clang [will tell you that this is a compound literal ](https://godbolt.org/z/jTvGWjGW3) we can see that [gcc support this as an extension in C++](https://gcc.gnu.org/onlinedocs/gcc/Compound-Literals.html) but they note the semantics are different.

From what I can tell [clang's diagnostic is correct for C++](http://eel.is/c++draft/dcl.fct#17)

[2022-04-03 09:05] #54658 closed

[2022-04-03 12:48] davidbolvansky commented on #54679
`find llvm/test -name "*.ll" | xargs grep -E ";\s*[A-Z]+-[A-Z]+\s"`

Found many cases as well, small number of false positives.

I fixed many cases:
https://reviews.llvm.org/rGf02a0a69af19
https://reviews.llvm.org/rGfb65aaf0be09

But I am not sure how to fix llvm/test/CodeGen/WebAssembly/address-offsets.ll
cc @sunfishcode

[2022-04-03 12:49] davidbolvansky commented on #54679
And also one mistake with RUN line in LLD.

[code]

cc @MaskRay - can you look at it, please?

[2022-04-03 13:19] FuXiii opened #54725 "VSCode use lldb-mi memory instantly explosion full"
please read this issue about lldb-mi ,I write it in vscode issue column :https://github.com/microsoft/vscode/issues/146655#issue-1190928334

[2022-04-03 13:37] Gnimuc commented on #54724
It looks like this is not possible through CLI options if LLVM is packed with NSIS. The only three available options are `/S`, `/NCRC` and `/D`.

You could find how CMake implements this config page here:
https://gitlab.kitware.com/cmake/cmake/-/blob/fff8f3bee92d9f139c48cdc194ca826447fc402a/Modules/Internal/CPack/NSIS.template.in#L715-739

[2022-04-03 15:00] #54650 closed

[2022-04-03 15:18] dileks commented on #54004
You should simply use something else to make clear `ABI = 13` and not use the `CLANG_SONAME`.

As a workaround:
I symlinked all `libclang.so` `libclang.so.13` `libclang.so.14` to `libclang.so.14.0.1`

[2022-04-03 15:30] junaire opened #54726 "Segment fault when compiling LLVM with LLVM_ENABLE_MODULES=ON"
When I try to build LLVM with `-DLLVM_ENABLE_MODULES=ON`, everything is totally fine. But when I `checkout ` another branch, for example, my working branch `fix`, or switch back from `fix` to `main`,  it will report a "segment fault" and recompile some stuff.
Here are the screenshots:
![image](https://user-images.githubusercontent.com/77525145/161435053-535b536a-20b1-4065-91fd-9bd0e8c03851.png)
Yo

[2022-04-03 15:40] junaire commented on #54726
I'm not sure where the problem is, but it seems to be a ninja bug? Can anyone who has a powerful build bot confirm this? I mean try to use `make` instead of `ninja` to see what happens. If it is really a ninja bug, I think we have to remove `LLVM_ENABLE_MODULES` flag right?

[2022-04-03 15:54] #54477 closed

[2022-04-03 15:59] superusercode commented on #54724
Thanks for the response. Now that I know how cmake is involved in packaging the nullsoft installer I will look into whether it is possible to define a command line option for PATH in the [CMakeLists.txt](https://github.com/llvm/llvm-project/blob/main/llvm/CMakeLists.txt) of this project.

[2022-04-03 16:13] RickyCong opened #54727 "build android lldb-server error"
## this is my command
[code]
## this is get error
[code]
![error ](https://user-images.githubusercontent.com/46929436/161437247-0868b69d-6d9a-40a4-8ce8-ea79ecbf8213.png)

[2022-04-03 16:50] neqochan opened #54728 "[clang-tidy][run-clang-tidy.py] Uninformative error message after changes to binary discovery"
Commit 5da83eeb91bab848a096db7521c6d8be29231665 broke our clang-tidy invocation ([here](https://github.com/qogecoin/rules_ll/blob/a9dabb7d2c0d7dba93a100cbce3ee4717c5a1d85/ll/compilation_database.bzl#L87)).
**Edit:** It actually was 9e1f4f13984186984ba37513372c1b7e0c4ba4fd.

I suspect that after the changes the automatic binary discovery somehow does not work with the `-clang-tidy-binary` option.
*

[2022-04-03 16:54] coderguang opened #54729 "report a bug"
when I'm use gcc 11.2.0  to  build a boost 1.78.0 project  ,I get below errors.

########################
PLEASE submit a bug report to https://bugs.llvm.org/ and include the crash backtrace.
Stack dump:
0.      Program arguments: /usr/local/lib/python3.8/site-packages/castxml/data/bin/castxml -std=c++2a -fPIC -g -ftemplate-backtrace-limit=64 -I. -I./../Src -I./../Src/ -I./../../../lib/include/boo

[2022-04-03 17:08] SAtacker commented on #54728
Sorry, that's not my commit.

[2022-04-03 17:10] SAtacker commented on #54728
It's author is @keith as per the differential.

[2022-04-03 17:39] neqochan commented on #54728
Sorry, my bad. Mixed the commits up.

[2022-04-03 17:43] keith commented on #54728
Thanks for the ping, is there no other output from clang-tidy in your invocation? Given this code path succeeds I imagine your binary is being taken into account correctly https://github.com/llvm/llvm-project/blob/896770c9a92e88e6adbf109424d9e66ab58905c9/clang-tools-extra/clang-tidy/tool/run-clang-tidy.py#L159-L165

Do you have an example of the path to the binary that is expanded in that command

[2022-04-03 17:44] keith commented on #54728
Can you easily test this patch to see if it fixes it?

[code]

[2022-04-03 18:21] neqochan commented on #54728
@keith I will try your patch, but I also found the issue with the following patch. Turned out this was caused by a misnamed `args.config_path` that should have been named `args.config_file` (since the argument is called `-config-file`), introduced by commit 9e1f4f13984186984ba37513372c1b7e0c4ba4fd (by @SAtacker :rofl:):

[code]

(ignore the except part, that was just to get the stacktrace)

[2022-04-03 18:30] SAtacker commented on #54728
`config_path` made sense as it's literally that. `config_file` is vague.

[2022-04-03 18:34] neqochan commented on #54728
The argument to the `.py` file is `-config-file`. I agree that this should be named `config_path`.

So either the input argument to the `.py` file should be named `-config-path`, but that is confusing with `-config` option :rofl: .

Maybe renaming `-config-file` to `-config-file-path` would be an option? Anyways these two arguments `-config` and `-config-file` are slightly confusing.

[2022-04-03 18:38] neqochan commented on #54728
To clarify.
Calling the script with `-config-file` requires use of `args.config_file` on the python side.
`-config-path` would require use of `args.config_path` on the python side.
`-config` translates to `args.config` on the python side.

[2022-04-03 19:09] alimpfard opened #54730 "[clang-format] qualifier alignment setting is not respected on references to template type parameter"
Given the following .clang-format (and clang-format 14.0.0)
[code]

the following snippet is not formatted correctly (it remains unchanged)
[code]

however the following does get replaced with the qualifiers moving to the right:
[code]

[2022-04-03 20:31] wrengr commented on #51652
The following changes implement this change. The earlier ones have landed, but the latter ones are still in review. Once D122061 lands we can close this ticket.

- [D122054](https://reviews.llvm.org/D122054) Introducing options for the `SparseTensorConversion` pass
- [D122055](https://reviews.llvm.org/D122055) Adding `Action::kSparseToSparse` for `@newSparseTensor`
- [D122435](https://reviews.llvm

[2022-04-03 21:02] aaronpuchert commented on #54716
Now I'm confused, didn't you write in #53281 that you were running into an error with the rcs because the top-level `cmake` directory wasn't packaged? In fact one of your [comments](https://github.com/llvm/llvm-project/issues/53281#issuecomment-1065842920) said

But maybe I was misreading that?

The idea was to make it work transparently. If that doesn't work, I'd favor the clean solution, i.e. se

[2022-04-03 21:06] ye-luo opened #54731 "[OpenMP] libomptarget Segmentation fault"
Reproducer
https://github.com/ye-luo/miniqmc testing commit 2f7f17fefb9f38719ecbfe36fb8b47c8a5392c5d

[code]
The failure is sporadic indicating a race.

My 20220328 build e619c07d168dff1d27f90cef84222a68064c35ea always pass the run.
20220329 build 1fe4b968c5fad5959ab9d371cc3324d9c7062eb3 starts to see the failure.

[code]

[2022-04-03 21:40] haoNoQ commented on #37313
This one looks like it can be closed, these changes have been implemented since(?)

[2022-04-03 21:54] tttapa opened #54732 "Clang 14 rejects certain Unicode characters in identifiers that are accepted by Clang 13 and the C++ Standard"
Some Unicode characters like ₊ (U+208A) and other subscripts are rejected by Clang 14. These characters are in the allowed ranges for identifiers in the `[lex.name]` section of the C++ Standard. Recent versions of GCC and older versions of Clang do not raise any errors.

For example:
[code]
[code]
[code]
Is this a deliberate change or a regression bug from Clang 13 to 14?

[2022-04-03 22:02] h-vetinari commented on #54716
Sorry for the confusion. Indeed the cmake files were missing (breaking the previous setup), and we worked around that by pulling them in from an additional tarball. That workaround was broken again between rc4 and final, and now the situation is even trickier due to the folder-rename.

[2022-04-03 22:08] Szelethus commented on #37313
Yep!

[2022-04-03 22:08] #37313 closed

[2022-04-03 22:10] h-vetinari commented on #54716
Before, the clang.x.src tarball got unpacked, and we had patches _within_ that folder, of the sort:
[code]
This wasn't _amazing_ (rebasing the patches and `git format-patch`ing them meant having to manually remove the `clang/` everywhere), but we dealt with it.

With the tarfile having two folders at once (and since the patch-application happens directly after unzipping), we now need to change all

[2022-04-03 22:13] h-vetinari commented on #54716
As an example, you can have a look at https://github.com/conda-forge/clangdev-feedstock/blob/main/recipe. Everything is tied together by `meta.yaml`; for context you might also check out the `patches/` folder.

[2022-04-03 22:37] davidbolvansky commented on #54726
Some time ago I saw such seg fault like yours.

Some files are autogenerated during LLVM build and when you switch branches they might be incompatible. You can enable debug mode in ninja to print building commands. If  the command fails, that failure confirms my first sentence.

[2022-04-03 23:39] h-vetinari commented on #54004
I think using the SONAME to indicate the ABI is quite a traditional approach. Personally I find it trickier that it's not consistent across platforms.

[2022-04-03 23:52] junaire commented on #54726
yeah I agree. I have seen that it complains that some `.pcm` files are not matched and try to regenerate after the `segment fault` message.

[2022-04-04 02:10] preames commented on #54634
@keno, I assume you're reproducing the above with a build with assertions disabled right?

If I run the above example through either ToT opt or LLVM-14 opt, I get the following assertion failure:
$ ./opt -loop-vectorize pr54634-lv.ll -S -enable-interleaved-mem-accesses=1
opt: /home/ubuntu/llvm-repo/llvm-project/llvm/lib/Transforms/Vectorize/LoopVectorize.cpp:2971: llvm::Value* llvm::InnerLoopVecto

[2022-04-04 02:16] Keno commented on #54634
Ah, yes, sorry the reproducer was run without LLVM assertions enabled. If I enable assertions, I see the same assertion you report.

[2022-04-04 03:32] preames commented on #54634
Should be fixed by commit 88de27e3

[2022-04-04 03:32] #54634 closed

[2022-04-04 03:58] superusercode commented on #54724
@EugeneZelenko I have reworded this issue as a feature/enhancement request since this is not offered by the current configuration of the CMakeLists.txt file (and I do not have enough experience with CMake to add this myself). I have preserved my original message for reference.

[2022-04-04 04:43] shailendrakharwar13 opened #54733 "ASAN trace files reporting Wrong line number when call_back function is used"
Problem -
Asan does not clean existing error for same process and keep appending on top of it .
so if many errors happened in same process asan call back will always report same error stack .
callback is  getting appended for errors in the program  while  on stderr it reports correct error.

Easily Reproducible example -(asan_demo.c)
// code placeholder
#include<stdio.h>
#include<stdlib.h>
#includ

[2022-04-04 05:41] MartinsSmirnovs opened #54734 "cindex.py TranslationUnit skips std::string::operator+="
I tried to find all occurrences of `std::string::operator+=` in my C++ source files using clang's Python cindex. Here is my sample code:
[code]

In this example I would like cindex to find `str += "a"` and point to it using it's `Cursor` object. However, it gets skipped. Here is Python script I used:
[code]

Interestingly, occurrence of `A::operator+=` as ` obj += 3;` was found and printed. Here i

[2022-04-04 06:01] cor3ntin commented on #54732
This is a deliberate change.
Clang 14 implemented https://wg21.link/p1949 which was standardized for all C++ versions and limits the set of allowed codepoints in identifiers to what is recommended by Unicode.

I do wonder if we could make that clearer in the diagnostic though

[2022-04-04 06:24] okkwon commented on #53305
A transformation for constant + slice is implemented in llvm-project and it needs to be called in iree with a control function, since the transformation is not always beneficial.

[2022-04-04 06:53] emmenlau commented on #53756
Anyone?

[2022-04-04 08:45] uaex commented on #53281
[code]

I'm puzzled about this issue. It seems that `ExtendPath.cmake` and `FindPrefixFromConfig.cmake` does not exist in repository, and the solution does not resolve it. 😞

[2022-04-04 08:49] vfdff commented on #54132
clang slightly worse than gcc on case  **my_abs4** : https://godbolt.org/z/oK1fxqEeb

[2022-04-04 09:00] OfekShilon commented on #53102
@jdoerfert   Not sure I follow.  Are you saying that gcc is wrong in coalescing the 3 increments?
What do you mean by 'capture a pointer through a return value'?  I can come up with a scenario where the return type has a non-default ctor that does crazy stuff like store argument data somewhere, but that clearly violates the readonly attribute.
Can you please give a concrete example of what you thi

[2022-04-04 09:54] vfdff opened #54735 "[optimization] gcc generate better code than clang base on value range propagation"
after fix the case https://github.com/llvm/llvm-project/issues/54132, the clang still need be improved for some more complex case （see detail on **https://godbolt.org/z/xb9Mo85WM** ）, such as:

[code]
* clang's code：
[code]
* gcc's code:
[code]

[2022-04-04 10:20] uncleasm opened #54736 "Suboptimal code generation regarding stack variables (arm64)"
As in https://godbolt.org/z/zq81hEb3K, there are multiple opportunities for improvement in the generated code for
[code]

1)  missed opportunity to merge
       `lsl     w8, w0, #2`
       `sub     x8, sp, w8, uxtw #2` to `sub  x8, sp, w0, uxtw #4`
2) disregard of the `-fomit-frame-pointer`
      a)   no need to spill/restore LR
      b)   no need to use `x29`
      c)   no need to compute the add

[2022-04-04 10:27] jmorse commented on #54675
Yup, I think you're right, it's a duplicate of [PR19238](https://bugs.llvm.org/show_bug.cgi?id=19238), thanks for the tip.

[2022-04-04 10:27] #54675 closed

[2022-04-04 11:06] andyhhp commented on #54644
Why does being mapped to a return value matter?  There are plenty of switch statements which aren't the sole contents of a function which could potentially benefit.

I do understand the concern with random memory reference.  It does have poor locality of reference, and is likely to miss in the cache unless the switch statement is on a hotpath.  A superscalar processor probably can absorb this stal

[2022-04-04 11:08] jmorse commented on #53937
This is caused by debug-info instruction referencing, it can be worked around with `-mllvm -experimental-debug-variable-locations=0`.

The cause seems to be that the machine function is created with optimisation-level `CodeGenOpt::None`, but when it hits register allocation it's become `CodeGenOpt::Default`. That makes various debug-info bits and pieces come from inconsistent modes.

It looks like

[2022-04-04 11:12] ilinpv opened #54737 "[AArch64] Use STR instruction when storing lane/byte 0 of vector"
[code]
Currently with -O2 AArch64 LLVM generates:
[code]
When storing lane 0 we can use the STR instruction that has more flexible addressing modes. LLVM already does the right thing for wider types, but fails to do it for vectors of bytes. So we can get better code which GCC has already managed to produce:
[code]
https://godbolt.org/z/oz3qxfeTP

[2022-04-04 11:27] neqochan commented on #54728
For now I think this should be fine. The actual argument should stay `-config-file` to stay in line with the naming scheme for `clang-tidy`'s `--config-file`. I renamed it on the python side though to avoid confusion with python `file` objects. Ill submit this later today.

[code]

[2022-04-04 11:31] pmor13 opened #54738 "Clang on Windows: diagnose undefined behavior: the argument shall be an expression of real floating type"
Sample code containing UB:
[code]
Clang on Linux diagnoses UB:
[code]
Clang on Windows doesn't:
[code]

[2022-04-04 11:33] zmodem commented on #54703
Bisection points to:

[code]

[2022-04-04 12:22] tttapa commented on #54732
Thanks for the quick reply!

That's unfortunate, these subscripts were really handy to use the mathematical notation from papers, formulas and pseudocode in the C++ implementation. Is there an option to get back the old behavior? (I didn't find one in https://clang.llvm.org/docs/ClangCommandLineReference.html but I might be searching for the wrong keywords.)

[2022-04-04 12:56] erichkeane commented on #54549
Fixed! 9ba8c4024b52bb8d0491fa1d15790ce7e9a9eae1

[2022-04-04 12:56] #54549 closed

[2022-04-04 13:01] labath commented on #54725
I'm sorry, but lldb-mi is now a separate project <https://github.com/lldb-tools/lldb-mi>. You'll need to file the bug there.

[2022-04-04 13:01] #54725 closed

[2022-04-04 13:18] zmodem commented on #54644
What I was trying to say was that the "switch to lookup table" transformation only works for switches which are used to select among values, not for switches in general where different inputs generate different control flow.

In the example, the first switches aren't used to select a value, but to select control flow ("return 0" or "continue to next iteration"), so this transformation doesn't appl

[2022-04-04 14:01] JonPsson commented on #54532
I think I see what you mean: the attribute should only be added if getExtAttrForI32Param() says it should. I proposed a patch for this at https://reviews.llvm.org/D123030, which also handles (so far) putchar. Please let me know if I am on the right track here before I continue with the many more library function declarations.

[2022-04-04 14:20] kazuminn commented on #51294
I want to do this issue.

[2022-04-04 14:24] msebor opened #54739 "truncation in conversion from uint64_t to size_t in StringRef::substr()"
As pointed out in https://reviews.llvm.org/D122836#3423517, passing the `uint64_t` result of `getZExtValue()` to `StringRef::substr(size_t, size_t)` as is done below might silently truncate the value in ILP32.  This is just a reminder to review and fix that and any other calls like it.

[code]

It looks like the code in `DWARFUnit::tryExtractDIEsIfNeeded` in `llvm/lib/DebugInfo/DWARF/DWARFUnit.cpp

[2022-04-04 14:37] mydeveloperday commented on #54721
I think this might be a duplicate of I think this is a duplicate of https://github.com/llvm/llvm-project/issues/53981

[2022-04-04 14:41] miscco commented on #45614
Is there anyone working on this. It also affects other features such as `expected` which creates conformance issues

[2022-04-04 14:42] sjoubert commented on #53950
+1 For now this completely blocks me to update to LLVM 14 as I really don't want to enable the C language in my all C++ project.

I suppose a solution could be for the FindFFI and FindTerminfo modules to fallback to `check_cxx_source_compiles` if the C language is not enabled or something like that.

[2022-04-04 14:54] jmorse commented on #53937
Patch in https://reviews.llvm.org/D123033

[2022-04-04 14:56] kinke opened #54740 "LLVM 14: optimizer regression wrt. noalias attribute for return value"
Input IR: [current3.txt](https://github.com/llvm/llvm-project/files/8410680/current3.txt)

With LLVM 13 (`opt -O3`), the `_Dmain` function is perfectly optimized to:
[code]

With LLVM 14.0.0, it's a meager and invalid:
[code]

The thing is that `_d_newitemT` allocates garbage-collected memory, which is cleaned up at program termination, incl. destructing `%.gc_struct.i.i`, so the store to `%.vthis

[2022-04-04 15:11] 2283572185 opened #54741 "Cannot compile Clang14 source code"
## Description
    The version of source code I tried to compile is LLVM 14.0.0-rc4 Release.
    I also tried LLVM 14.0.0 Release and the main branch.All of them have bugs like "no member named 'getNonOpaquePointerElementType' in 'llvm::Type'".
    Maybe LLVM has changed its api and clang fallen behind?
    I collected some reports of the compiler and show them below.

## Some Errors
[code]
And so

[2022-04-04 15:12] jimis opened #54742 "[ASAN] Paths in stacktrace are wrong"
Here is one line from one stacktrace printed from an executable, compiled with `-fsanitize=address`.

[code]

The path can be canonicalized to: `/include/c++/9/bits/shared_ptr_base.h`
Which does not exist, it is missing the `/usr` prefix.

Clang version 13.0.1.

[2022-04-04 15:18] nico commented on #54703
(clicky: dbc4d281bd6954362ccfc0747893ceaae842671b, https://reviews.llvm.org/D120374)

[2022-04-04 15:44] pogo59 commented on #54742
Tagging with debuginfo because setting up paths is almost always a debuginfo thing.

[2022-04-04 15:45] mordante commented on #54687
I think it's a good idea to backport this patch.

[2022-04-04 15:47] ovilla commented on #54658
Thanks a lot @RKSimon, the fix seems to be working properly in our extended tests.
We will keep monitoring for similar issues.

[2022-04-04 16:05] efriedma-quic commented on #54737
I looked at this a few years ago; see https://reviews.llvm.org/D46851 .  Not sure about "good first issue"...

[2022-04-04 16:11] dwblaikie commented on #54742
Standalone repro steps would be helpful (perhaps see if it reproduces with preprocessed source? A small preprocessed source example would be helpful to understand what's going on)

[2022-04-04 16:12] jimis commented on #54742
Yes you are right, I can find these silly paths by examining the executable with `strings`. For example
[code]
and many more. I will recompile in verbose and see if something is wrong in the compiler command line.

[2022-04-04 16:15] erichkeane commented on #54671
A bit of a smaller example that shows the problem:
[code]

Note I added a 2nd deduction guide here to show the difference.  The issue here is that the 'foo<[](){}>' is considered dependent when we're calling `SubstituteDeducedTypeTransform` (which calls `ASTContext::getDeducedTemplateSpecializationType`), but we're not expecting a dependent expression.  I added the top version of the deduction gui

[2022-04-04 16:22] alimpfard commented on #54730
The symptoms don't immediately seem to be the same (reference to typename vs argument), but I haven't tested with 28bb040ded83b7cffdd6e6102080ccbe7935dbfe applied.

[2022-04-04 16:24] kazuminn commented on #51294
@EugeneZelenko Why? I can't assign myself.

[2022-04-04 16:29] jdoerfert commented on #53102
No. It is adding sufficient logic to verify that coalescing is valid, at least that is what it looks like to me.

My first comment has an example of what the compiler is afraid of: https://godbolt.org/z/75dna7K1a

[2022-04-04 16:46] hubert-reinterpretcast commented on #54723
I don't see why an adaptation of the C feature into C++ has to follow the C rules. In C, both casts and compound literals use

In C++, C-style casts don't accept type specifiers that are type-defining. If casts don't accept this usage, why should compound literals?

[2022-04-04 16:47] #54740 closed

[2022-04-04 16:57] jimis commented on #54742
I found these `/bin/...` paths in the object files and in the end in the pre-processed source too. And even though "compressing" these paths leads to inexistent files, the paths actually exist and resolve correctly, because `/lib` is a symlink towards `/usr/lib`.

Sorry for the noise, it seems this is actually a bug in CodeChecker and not in LLVM, it is compressing the paths without trying to reso

[2022-04-04 16:58] #54742 closed

[2022-04-04 17:11] LebedevRI opened #54743 "[X86] Vector "shifted mask" immediate materialization"
Currently, we only special-case all-zeros and all-ones constants,
because both of them can be materialized by a single dep-breaking instruction,
and all-zeros may even be a zero-cycle instruction.

But for the other constants, we e.g. fallback to broadcast load from constant pool.
Is that always optimal? For example, to materialize a "shifted mask" constant
(https://github.com/llvm/llvm-project/bl

[2022-04-04 17:14] topperc commented on #54460
Looks ok for backport.

[2022-04-04 17:17] RKSimon commented on #54743
I've wondered for a while whether we should be performing so much constant build vector lowering in DAG at all - broadcast_loads (AVX2 and AVX512) in particular can cause problems. Performing all of this later, and recognising more (re)materializable/hoistable constants is something to consider.

[2022-04-04 17:52] andyhhp commented on #54644
Take this variation of the original code, which is logically equivalent.  https://godbolt.org/z/1hdPr38fv  The control flow isn't semantically different between the penultimate iteration and the final iteration.  I can entirely believe that this might be harder to spot, but the transformation is equally applicable to each iteration of the loop.

Yes.

This particular example can be optimised as:
[

[2022-04-04 18:13] mppf commented on #54438
@jdoerfert - I'm not sure if this is what you are asking, but I think the answer is `2`.

In particular, if I add this just before the `return 0` in the reproducer

[code]

it prints out this:

[code]

where the last two lines are the same whether or we use the workaround to link with the system libc++ instead of the built on / the homebrew one.

[2022-04-04 18:17] urnathan opened #54744 "consteval calls in default args"
Consteval calls in default args do not work
[code]
The problem here is we markused the consteval fn, which causes us to emit an error about taking the address of the consteval fn.  I patched up EvaluatedExprMarker, called from Sema::CheckCXXDefaultArgExpr to skip such consteval calls, but we then ICE in code emission, trying to emit a consteval fn body.

https://bugs.llvm.org/show_bug.cgi?id=5810

[2022-04-04 18:30] silvasean commented on #54645
@tru did we actually root-cause the issue? I'd be fine with rounding up the default CalculateSmallVectorDefaultInlinedElements in some way on MSVC, but I'm not sure what the rounding policy should be. Rounding up to next power of 2 sounds a little aggressive to me, but I'm not an expert on these platforms. @RKSimon thoughts?

[2022-04-04 18:31] chichunchen commented on #54157
Any updates about this one?

[2022-04-04 18:32] #53939 closed

[2022-04-04 19:17] jdoerfert commented on #54438
This helps, I think. Remember, I'm just guessing here.
Check the category of the `std::error_code EC`. I assume it is not `std::generic_category()`, which is the category of the `llvm::errc::...` converted to `std::error_code`. Thus comparison is false.
`EC.value() == llvm::errc::no_such...` should be true though.

[2022-04-04 19:19] mydeveloperday commented on #54730
Hmm... you may be correct the follow producer fails

[code]

[2022-04-04 19:32] leonardder commented on #54487
@tru wrote:

Mind sharing the issue here?

[2022-04-04 19:34] mppf commented on #54438
Thanks very much for your help.

The `EC` variable has error category `std::generic_category` according to printing out category().name() (where it prints out `generic`); but `EC.category() == std::generic_category` is false (and so is comparing to all of the other categories that I know of). And that goes away with the workaround. Super weird.

<details>

[code]

[code]

[code]

With the workarou

[2022-04-04 19:35] aganea commented on #54487
Please see: https://github.com/llvm/llvm-project/issues/54500

[2022-04-04 19:49] jdoerfert commented on #54438
My best guess is that you end up with 2 versions of `static __generic_error_category s;`, and from there things go sideways.

I don't know where it comes from though. Maybe something links in the system one already, which is used for `std::generic_category()`, and the one from your libcxx is used by LLVM.

[2022-04-04 20:03] mppf commented on #54438
@jdoerfert - any idea what to do next / who might be able to investigate further?

[2022-04-04 20:05] arsenm commented on #54635
Private atomics don't make any sense. If we had a target IR verifier, this would fail. Technically we could encode this (at least for the MUBUF path) but there's no reason to really codegen this

[2022-04-04 20:11] arsenm commented on #54635
I'm guessing you ran into this from the same transform as issue 54274. Either we need to start codegening private atomics using the flat instructions, or we need to stop optimizing flat atomics to private atomics. Probably should go with the codegen route since it makes sense to canonicalize to the true address space

[2022-04-04 20:14] arsenm commented on #54274
This is an interesting edge case. We could either stop optimizing flat atomics to private, or we need to do something to support private atomics in codegen.

For the MUBUF private path, we can directly encode most of the same atomic operations as global. For scratch, the instructions seem to not exist. Based on how FLAT encodings work I might guess the scratch atomics secretly exist, but we probab

[2022-04-04 20:17] arsenm commented on #54274
Also relates issue #54635

[2022-04-04 20:18] jdoerfert commented on #54438
Not really. Though, this seems to describe your situation:
https://groups.google.com/g/llvm-dev/c/6ZZ0FjiueDY/m/2rsq5BMOBQAJ

"static __generic..." inside of `const error_category& generic_category() noexcept {...}` is pretty much like a global after all. They report the conditions under which things work.

Does `ldd` show extern things being included, maybe one of them has the system libcxx linke

[2022-04-04 20:23] mppf commented on #54438
We can't use ldd on Mac OS X but IIRC we know from `otool -L` that the system libc++ is loaded in either case.

[2022-04-04 20:24] mppf commented on #54438
@ldionne - would you be able to help with this issue? There is obviously something wrong but we need help understanding where the bug is. Thanks.

[2022-04-04 20:25] jdoerfert commented on #54438
Good to know in case I ever use a Mac ;).

The way I read the thread, pulling in system libc++ and a custom libc++ will not work. And the reason is basically what you see, globals are not unique.

[2022-04-04 20:25] ivanrodriguez3753 commented on #54274
@arsenm I would argue this is a bug, not an edge case. If AMD is relying on users NOT using a certain optimization (in this case, relying on the user NOT passing the `disable-promote-alloca-to-lds`) they should either force the optimization to happen (remove the option of using `disable-promote-alloca-to-lds`) or implement a pass that does what you said (transform private atomic to its equivalent

[2022-04-04 20:26] mppf commented on #54438
I may be wrong, but it's my understanding that on Mac OS X, pretty much all C++ programs link with the system libc++. Does that imply that it is impossible to (reliably) use a custom built libc++ on that platform?

[2022-04-04 20:29] Keno commented on #54634
Confirmed to fix the original case this was reduced from. Thanks!

[2022-04-04 20:30] jdoerfert commented on #54438
Doesn't the thread mention example apps that don't link in system libs and use the custom one, e.g., chrome: https://groups.google.com/g/llvm-dev/c/6ZZ0FjiueDY/m/zVwhWzoOBQAJ

[2022-04-04 20:55] arsenm commented on #54274
It's a bug hit on an edge case, which an optimization helped hide. Real code using atomics can't be optimized to something that doesn't require atomics, which is what this toy example is.

[2022-04-04 21:19] aaronpuchert commented on #54716
As long as you don't need to patch the top-level `cmake`, couldn't you still apply patches within that folder? But I guess you're implying that conda-forge will automagically switch into the directory, if there is only a single directory, but not if there are multiple directories? Or is it the directory specified in `folder: .` that's being switched into?

With separate tarballs you would have to

[2022-04-04 21:23] aaronpuchert commented on #53281
They definitely exist in the repository: in [cmake/Modules/ExtendPath.cmake](https://github.com/llvm/llvm-project/blob/llvmorg-14.0.0/cmake/Modules/ExtendPath.cmake) and [cmake/Modules/FindPrefixFromConfig.cmake](https://github.com/llvm/llvm-project/blob/llvmorg-14.0.0/cmake/Modules/FindPrefixFromConfig.cmake). They weren't packaged into the subproject tarballs with the release candidates, but thi

[2022-04-04 21:27] LegalizeAdulthood commented on #27408
@Trass3r What I settled on is literal tokens only, possibly with unary prefix `+`, `-` or `~`.

[2022-04-04 21:40] h-vetinari commented on #54716
It will not automagically do that, I made the switch. What conda does is much simpler: unpack the tarball (optionally into a given folder), cd into that folder, and then apply patches _within_ that folder. One restriction is that there are no hooks to interject anything between the unpacking of the tarball and the patch application.

For this reason, separate tarballs would still mean manually ada

[2022-04-04 22:14] nickdesaulniers commented on #54644
This has been a problem getting ARM constant pools to run as execute only (XOM).

[2022-04-04 22:32] Trass3r commented on #27408
I see. Would be good to also cover these in the future:
* casts and parentheses
* bitwise operations for flags enums
* aliases

https://github.com/tpn/winsdk-10/blob/9b69fd26ac0c7d0b83d378dba01080e93349c2ed/Include/10.0.10240.0/um/WinBase.h#L403

What's the rationale for this restriction? It's quite common:
https://github.com/tpn/winsdk-10/blob/9b69fd26ac0c7d0b83d378dba01080e93349c2ed/Include/10.0

[2022-04-04 22:53] danilaml opened #54745 "[LoopVectorize] "Cannot get condition of an uncond branch!" assert triggered on a simple loop"
The following reduced IR crashes with
[code]
when run under `opt -passes=loop-vectorize`:
[code]
Appears to be a recent regression, haven't yet bisected it to the problematic commit.
Godbolt link: https://godbolt.org/z/449Ke7q9M

[2022-04-04 23:37] ivanrodriguez3753 commented on #54274
The comment in `test/CodeGen/AMDGPU/private-memory-atomics.ll` makes it seem like this was intentionally left unimplemented, as opposed to the bug accidentally being hidden by the optimization. The test explicitly states that it relies on that optimization, but the flag is still available upstream so that's a little confusing (amdclang gives some sort of unused flag warning when attempting to pass

[2022-04-04 23:52] dexonsmith commented on #54645
Yeah, I'm curious about this too.

Note that if the computed size is `3`, per https://github.com/llvm/llvm-project/issues/54645#issuecomment-1085542670,  then this vector was NEVER in small mode. From https://github.com/llvm/llvm-project/commit/55e4cd8485dc6308211f85c60559a373ae96873e:
[code]
Since the small storage was never used, it's not obvious (to me) how its alignment would matter...

Was th

[2022-04-05 00:16] urnathan opened #54746 "bogus function overload error using enum from class"
struct S {
  enum M { Mask = 1 };
};

void Frob () {
  using enum S::M;
  void (~(Mask));
}

build/bin/clang "-cc1" "-triple" "x86_64-redhat-linux-gnu" "-emit-obj" -std=c++20 using-enum.ii
using-enum.ii:7:10: error: reference to overloaded function could not be resolved; did you mean to call it?
  void (~(Mask));
         ^~~~~~
using-enum.ii:2:12: note: possible target for call
  enum M { Mask =

[2022-04-05 00:41] msebor commented on #54739
This is starting to look like fairly wide-spread problem.  Rebuilding `opt` and `clang` with the following patch:
[code]
I get the warnings below.  I have only reviewed a few but I'm guessing they may not all be indicative of bugs, and some of those that are bugs might be latent, but their number makes me think that rather than trying to fix the call sites a better approach might be to change the

[2022-04-05 00:56] arsenm commented on #54274
Yes, essentially. This is just supposed to make sure this one pass pass doesn't blow up on it, not that private memory atomics were something really handled.

It's not a user facing clang flag. It's a backend debug flag; from clang you need a -mllvm prefix to use it. This optimization is also a red herring, You could construct a testcase that would fail with or without this flag (as you did below)

[2022-04-05 01:51] jyknight opened #54747 "[Attributor] Heap2stack doesn't handle alignment correctly"
Attributor's heap2stack pass does not preserve alignment of allocations correctly.

E.g., look at the checked-in test-case llvm/test/Transforms/Attributor/heap_to_stack.ll which creates an under-aligned `alloca i8,i64 4, align 1` from `malloc(4)`:
[code]

Conversation forked from @durin42's alignment attributes proposal https://discourse.llvm.org/t/rfc-attributes-for-allocator-functions-in-llvm-ir

[2022-04-05 02:13] jdoerfert commented on #54747
OpenMP (for GPUs) relies on Heap-2-Stack heavily but there we have a custom allocator with alignment annotated by clang. So requiring getAllocAlignment will at least not make it useless for that case. We could also default to `min(bytes, 16)` alignment with a command line option to get always N bytes at least, or no heap-2-stack if alignment is unknown.

All that said, I will probably implement on

[2022-04-05 02:23] paulaltin opened #54748 "[clang-tidy] cppcoreguidelines-pro-type-member-init check flags anonymous union member"
Running clang-tidy on this code:

[code]

results in the following warning:

[code]

However, adding an initializer to `b` (e.g. `int b = 0`) results in a clang diagnostic:

[code]

[2022-04-05 03:42] Meinersbur commented on #54642
Seems something goes wrong when compiling the PowerPC backend. If you don't need it, you can skip it using `cmake -DLLVM_TARGETS_TO_BUILD=X86` (and/or other backends you need).

To reduce the amount memory requires, have a look at these hints: https://llvm.org/docs/GettingStarted.html#common-problems

Generally, in bug reports it would also be useful to mention the CMake flags you are using and wh

[2022-04-05 04:26] max-quazan commented on #54745
Looks like we query SCEV on a loop in invalid state:
[code]
IR:
[code]
Problematic block: vec.epilog.ph

So not a bug in SCEV, it was provided with broken loop info. Must be a bug in LV.

[2022-04-05 04:46] brad0 opened #54749 "Merge 81f5c6270cdfcdf80e6296df216b696a7a37c8b5 into 14.0.1"
[PATCH] [compiler-rt] Implement __clear_cache on FreeBSD/powerpc

dd9173420f06 (Add clear_cache implementation for ppc64. Fix buffer to
meet ppc64 alignment., 2017-07-28), adds an implementation for
__builtin___clear_cache on powerpc64, which was promptly ammended to
also be used with big endian mode in f67036b62c0c (This ppc64 implementation
of clear_cache works for both big and little endian., 2

[2022-04-05 04:47] brad0 commented on #54749
/cherry-pick 81f5c6270cdfcdf80e6296df216b696a7a37c8b5

[2022-04-05 04:59] max-quazan commented on #54745
Failued appeared with patch
[code]
@fhahn

[2022-04-05 05:07] tbaederr commented on #54744
This is a duplicate of https://github.com/llvm/llvm-project/issues/48230 afaics.

[2022-04-05 05:16] max-quazan commented on #54745
Cannot simply revert patch; there are conflicts & trivial resolution causes another crash. Florian please take a look.

[2022-04-05 06:44] tru commented on #54645
I don't think we (or at least I) understand the root cause for this yet. I looked at just testing to move `SmallVector` into it's own file and compile that with MSVC to see if that can reproduce the problem - but the file is very much intertwined with the rest of LLVM and I didn't see a quick and easy way to pull it out and run it separately.

Happy to help and try to diagnose the issue - but I th

[2022-04-05 06:45] joker-eph commented on #54645
What about the small reproducer you had posted in https://github.com/llvm/llvm-project/issues/54645#issuecomment-1084513789 ?

[2022-04-05 07:04] RKSimon commented on #54645
Have we been able to confirm that the crash is due to an aligned vector load (VMOVAPS or VMOVDQA probably) accessing a non-16-byte-aligned stack address?

[2022-04-05 07:19] mydeveloperday commented on #54730
This is really a special case that is not covered, take the following tests, the last one will fail because it does't have a "variable

[code]

but this would work,

[code]

To the same extent, this won't work because it doesn't see the T as a type but as an identifier

[code]

we air on the side of caution for now, but in time we might find a way of doing this. Qualifier alignment is going to wor

[2022-04-05 07:36] OfekShilon commented on #53102
I was referring to my very first example. gcc is does coalesce the 3 increments, even with a return value from somefunc: https://godbolt.org/z/Ye9aYn4MG. Are you saying this is a mistake?

If I'm guessing correctly what you mean, you say that gcc inserts explicit code to check whether `i == 7 + 11` and so there must be _some_ "capture" (?) it is afraid of.  (1) That doesn't explain what gcc was af

[2022-04-05 07:58] aymanmusa opened #54750 "Suboptimal IR after new InstCombine transformation"
New transformation was introduced in [commit](https://github.com/llvm/llvm-project/commit/1a60ae02c65d26981017f59bc5918d3c2e363bfd).

Attached are:
1. reproducer - reprod.ll
2. result without the transformation - reprod-after-orig.ll
3. result with the transformation - reprod-after.ll

You can easily see that the IR we get without the transformation is very much simpler (simple select), while it g

[2022-04-05 08:09] banach-space opened #54751 "Make sure that "omp_lib.h" is installed"
In https://reviews.llvm.org/D122015/ I updated Flang's build scripts so that "omp_lib.h" is copied into the build directory. The driver is updated so that it knows where to look for this header file. However, we haven't really considered "installing" it. I'm creating this ticket as a placeholder and also so that we don't forget to extend  D122015 when the time is right.

We may want to check Clang

[2022-04-05 08:18] LebedevRI commented on #54750
Can you post the reproducer via a link to godbolt?

[2022-04-05 08:30] #54532 closed

[2022-04-05 08:31] davidbolvansky commented on #54747
Probably it makes sense to reimplement https://reviews.llvm.org/D118804 with additional check “NewAlign >= AllocSize”.

[2022-04-05 08:33] JonPsson commented on #54532
Thanks for review.

[2022-04-05 08:37] davidbolvansky commented on #54741
Your build steps/commands? Something went wrong on your side, as release and trunk is buildable.

[2022-04-05 08:40] tru commented on #54645
That reproducer is causing clang to crash when compiled with MSVC/AVX - not crash itself compiled with MSVC/AVX

[2022-04-05 08:57] aymanmusa commented on #54750
https://godbolt.org/z/5xn1z7rsG
Sorry, but it's been years since I opened the last ticket in LLVM.
Is this ok?

[2022-04-05 09:12] LebedevRI commented on #54750
There's a number of missing folds.

The first one seems to be:
[code]
This just checks that the `%and` is non-negative (`s>= 0`): https://alive2.llvm.org/ce/z/t2xBnv

That improves things: https://godbolt.org/z/4YnxKzvz8

Which shows a missing canonicalization of `icmp sgt i4 %and, -1` to `~(icmp slt i4 %and, 0)`

After which we arrive at the optimal ir: https://godbolt.org/z/xKEqKKhK3

[2022-04-05 09:14] alimpfard commented on #54730
:thinking: Shouldn't clang-format be able to infer the fact that `T` is a type based on the fact that the "expression" it's in is a type specifier?
it appears to me that clang-format does have _some_ concept of type-"expression" vs value-"expression" as these are formatted differently:
[code]

[2022-04-05 09:58] tru commented on #54645
Ok figured out how to catch this in the debugger - it crashes here:

[code]

The actual crash is:

[code]

Dissembling this part shows this (sorry for the screenshot - but I couldn't figure out how to copy and paste from the disasm view in vscode):

![image](https://user-images.githubusercontent.com/35614/161729416-f6b9d287-b637-405d-98c6-81f27732e90c.png)

[2022-04-05 10:15] evanberkowitz opened #54752 "segfault from `implicit instantiation of undefined template 'std::array<std::string, 3>'`"
While attempting to compile [dict.cpp](https://github.com/evanberkowitz/llvm-segfault-dict/blob/main/dict.cpp) provided in [evanberkowitz/llvm-segfault-dict](https://github.com/evanberkowitz/llvm-segfault-dict) via `clang -std=c++20 dict.cpp` I get a failure via a segfault.

When following [the instructions to try to report a back-end bug](https://www.llvm.org/docs/HowToSubmitABug.html#backend-cod

[2022-04-05 10:49] mstorsjo opened #54753 ""error: fixup value out of range" for aarch64-windows, for symbol references with a large offset"
CC @efriedma-quic

In https://github.com/llvm/llvm-project/issues/51720 we fixed issues where relocations against temporary symbols could end up with a too large offset. This is an issue as the ADRP relocations can store a 21 bit immediate (+/- 1 MB) offset against the symbol it points at. For those cases, we inserted extra temp symbols for large sections, to allow relocations against a temporary

[2022-04-05 10:53] urnathan commented on #54744
It appears to be the same -- the problem doesn't just effect consteval ctors.  The recent addition of builtin_source_location (https://reviews.llvm.org/rGd61487490022) seems to have exposed this issue -- suddenly the (gcc) libstdc++ source_location header bursts into light, and then goes down in flames :(

[2022-04-05 10:54] #54745 closed

[2022-04-05 10:55] fhahn commented on #54745
The issue was that SCEV was getting confused because a bb wasn't added to the correct parent loop. Should be fixed now.

[2022-04-05 10:56] justin-armstrong-gc opened #54754 "CommandInterpreter::GetHelp segfault"
After adding custom `CommandObjectMultiword` commands, I'm seeing the "help" command segfault.

I think the culprit is this line:
https://github.com/llvm/llvm-project/blob/main/lldb/source/Interpreter/CommandInterpreter.cpp#L1448
[code]
It should be
[code]

Thanks,
Justin

[2022-04-05 11:26] dpreobra opened #54755 "[AMDGPU][GFX90A] ds_ordered_count, v_mul_lo_i32, exp should be disabled"
The following opcodes are not a part of GFX90A ISA and should be disabled:

    ds_ordered_count
    v_mul_lo_i32
    exp

Examples of failed tests:

    ds_ordered_count v5, v1 offset:65535 gds
    v_mul_lo_i32 v5, v1, v2
    exp mrtz v1, v2, v3, v4

[2022-04-05 11:42] sfc-gh-sgiesecke opened #54756 "LLVM 14 breaks using lld with devtoolset-10 gcc on CentOS 7"
Commit 815a1207bfe121c8dcf3804a4f4638e580f63519 removed support for `--no-add-needed`.

However, this option is added by devtoolset-10 gcc on CentOS7:
[code]

[2022-04-05 12:30] OfekShilon commented on #53102
@jdoerfert here's another example. If you let `somefunc` return a value but change its type from `int` to `int&` - the coalescing optimization does kick in: https://godbolt.org/z/8c5fjjf95
So I don't see how having a return value can justify canceling the optimization (or that there is any capture by a return value).  I believe it is just a missed llvm optimization.

[2022-04-05 13:06] andyhhp commented on #54644
Very good point, and it would be an issue on x86 too when using PKRU/PKS to get voluntary XOM.

[2022-04-05 13:09] dcdelia opened #54757 "InstCombine causes induction variable to get undef dbg value"
In this code, variable `j`, used as an induction variable, is not available during debugging at line 5 in the body of the loop. This happens because of InstCombinePass, thus before loop optimizations. The pass replaces the i32 IR value for `j` with a boolean i1 and updates the phi node accordingly to have the control flow instead of using icmp. However, llvm.dbg.value ends up with `undef` as argum

[2022-04-05 13:09] RKSimon commented on #12790
This was fixed sometime between 5.x and 6.x: https://godbolt.org/z/17478n84j

[2022-04-05 13:09] #12790 closed

[2022-04-05 13:36] ilian8 commented on #54606
More specifically, the following [code](https://github.com/llvm/llvm-project/blob/90853d8f371dedc582b25d19343df21cdabc314c/llvm/lib/ExecutionEngine/JITLink/MachOLinkGraphBuilder.cpp#L649-L652) in `MachOLinkGraphBuilder::graphifyCStringSection` seems to always use 1-byte alignment

[code]

[2022-04-05 13:54] jarmar opened #54758 "git-clang-format: return result from main() with sys.exit()"
In edbb8a84, a return value was added to git-clang-format's `main()` function, indicating whether any action was taken. However, this value does not automatically become the script's exit code. Currently, the script's exit code is always 0.

An example:

[code]

The last command should output "1".

One way to fix this is by changing the final lines of the script to:

[code]

See #53220.

[2022-04-05 13:54] leinjay opened #54759 "Please guide me, how can I return the declaration of global variable in stmt way"
when i trave the astcontext with "RecursiveASTVisitor.h", i get the top level decl by "getTranslationUnitDecl", but it only return the decl of global var in the c++ source file, how can i get the declstmt of this decl, such as:
`using foo_name::CFoo;
// using std::vector;
int global = 10;
int main()
{
  return 0;
}`
"global" is the global var in c++, how can i get the declstmt of "int global = 10"

[2022-04-05 14:11] erichkeane commented on #54671
ANOTHER example: https://godbolt.org/z/ahdvh5z86 that doesn't require deduction guides, but exhibits a similar problem for the same reason.

In that case, it is the `TemplateSpecializationType bar<[](){}>` that has made it to the backend and is being evaluated as a type (same as the deduction guide example).

So the problem is very simply that we create lambdas in the wrong context during template

[2022-04-05 14:28] gen740 opened #54760 "CoroSplitPass crashes in splitSwitchCoroutine / IRBuilderBase::SetInsertPoint (Cannot compile C++-20 coroutines while loop, with clang-14 -O2/-O3 flag)"
- clang-14 cannot compile following code. (this code is almost same as the code listed on [cppreference.com](https://en.cppreference.com/w/cpp/language/coroutines#co_yield)
[code]
- command: `clang++-14 main.cpp -std=c++20 -O3`
- Operating System: `MacOS Monterey (version 12.3.1)`
- hardware: `MacBookPro 16-inch, 2019 (Intel)`
- It cannot be compiled with docker-linux.
    - I tried to compile thi

[2022-04-05 14:31] siggi-alpheus opened #54761 "lldb crash parsing Google Chrome types"
To repro, download https://edgedl.me.gvt1.com/chrome/linux/symbols/google-chrome-debug-info-linux64-100.0.4896.60.zip and unzip. Then run:
$ echo 'script print(lldb.target.module[0].GetTypes(lldb.eTypeClassClass | lldb.eTypeClassStruct))' | lldb debug-info/chrome.debug

It appears this is bailing on this type: https://source.chromium.org/chromium/chromium/src/+/main:third_party/harfbuzz-ng/src/src

[2022-04-05 14:43] jdoerfert commented on #53102
No. I never said there is a mistake. The example is sufficiently easy. Even if the pointer escape via the return one can (and GCC does) determine the return value is not used as a pointer.

I literally showed you an example in which the pure function captures the pointer. GCC realizes that I was potentially doing that and added a check. LLVM cannot add a check and bails. My example is what you are

[2022-04-05 14:57] erichkeane commented on #3640
Since this has been filed, the 'ordering' of attributes has been made consistent.  This happened a few years ago.

THOUGH note that 'nothrow' is actually a 'type attribute' in C++ mode, so it ends up being put into the FunctionDecl's type itself.

I think this is a 'fixed' bug.

[2022-04-05 14:57] #3640 closed

[2022-04-05 14:57] siggi-alpheus commented on #54761
Forgot to mention:

$ lldb --version
lldb version 12.0.0

[2022-04-05 15:42] Meinersbur commented on #54618
Also fails for CUDA:

https://lab.llvm.org/staging/#/builders/155/builds/3355
https://lab.llvm.org/staging/#/builders/154/builds/2549

[2022-04-05 15:44] dpreobra opened #54762 "[AMDGPU][MC] Image instructions with 16-bit gradients should be supported on GFX10 only"
image_sample_*_g16 instructions are not supported on GFX6-GFX9.
However they are accepted by assembler.

An example of failed test:

    image_sample_c_cd_cl_g16 v[5:6], v[1:5], s[8:15], s[12:15] dmask:0x3

Expected result:

    error: instruction not supported on this GPU

Actual result (GFX9):

    image_sample_c_cd_cl_g16 v[5:6], v[1:5], s[8:15], s[12:15] dmask:0x3 ; encoding: [0x01,0x03,0xac,0

[2022-04-05 15:51] jdoerfert commented on #53102
Technically, this is an option but the non-helpful one. Readonly + nounwind + willreturn and unused return value -> the call is dead.

What you need is a scoped check for the return value to be captured (or used as a pointer).
Scoped because any use I can come up with is either effectively dead or leaves the caller one way or another (if only as control information). That means you can only argue

[2022-04-05 15:55] nikic commented on #53102
Uh yeah, never mind me, that suggestion didn't make any sense :)

[2022-04-05 16:03] RKSimon commented on #9157
Resolving - this has been fixed for a long time, and icc moved to the same pattern almost as long ago

[2022-04-05 16:03] #9157 closed

[2022-04-05 16:31] psiha opened #54764 "Variable properties lost when passed through aggregates"
* entry() has an aligned range (both the beginning and the end) specified with a pointer p and a size sz
* entry() passes p and sz as separate arguments to foo_for( p, sz ) which loops on the range - it gets properly vectorized w/o any tail or alignment codegen
* entry() passes p and sz as a std::span to foo_span({ p, sz }) which loops on the span - it gets suboptimally vectorized - as if the opti

[2022-04-05 16:43] jimingham commented on #54754
Thanks for finding the finger-bobble.  I'm kind of amazed that we don't run "help" anywhere in the test suite.  I added a that and another help test and fixed the bug in 8c3a6fe37fc36537b939ea75a59fb2d5963246fb.

[2022-04-05 16:52] #54758 closed

[2022-04-05 16:54] OfekShilon commented on #53102
In theory your explanation would hold in this case (returning `int&`) as well, and yet it seems it doesn't - the coalescing optimization does kick in. Why?

Thanks for your effort to explain.  I (think I) understand this reasoning in _your_ example code, but mine was rather far from it: `somefunc`'s return value was never used passed outside the main function.
So IIUC you're essentially saying thi

[2022-04-05 16:58] jdoerfert commented on #53102
GCC always applies coalescing, it chooses 1. from below. Why is this different from the initial example?

Yes. What we need is described here: https://github.com/llvm/llvm-project/issues/53102#issuecomment-1088907652

[2022-04-05 17:00] efriedma-quic commented on #54753
See performGlobalAddressCombine in AArch64ISelLowering.cpp.  (And the equivalent matchFoldGlobalOffset in AArch64PreLegalizerCombiner.cpp.)

[2022-04-05 17:01] OfekShilon commented on #54646
This seems to be a **very** common pattern, obviously in copy ctors but also in many other contexts. Fixing this might have measurable impact.

Seems like the added layer of abstraction (`Wrapper`) somehow makes the compiler "forget" that the different fields do not alias.

[2022-04-05 17:03] Wentzell opened #54765 "[libc++-14] <ranges> header fails to define std::ranges::contiguous_range"
The code snippet

[code]

compiles successfully (using `-stdlib=libc++ -std=c++20`) with clang-13.0.1 and clang-trunk,
but fails to compile with clang-14.0.0

[code]
See https://godbolt.org/z/1na3EaeEe

[2022-04-05 17:04] OfekShilon commented on #53102
Sorry - I meant to send it with *clang*:  https://godbolt.org/z/xesE5o14x
clang does optimize when the return type is `int&`.

[2022-04-05 17:45] jdoerfert commented on #53102
Oh... that's interesting. I was looking (and talking about) the GCC output.

So I tried to figure out where the difference comes from and I'm not sure right now.
I'll try to revisit this at some point soon. Now I'm curious why we perform this transformation.

[2022-04-05 18:38] msebor commented on #54739
I feel like I've opened up a can of worms.  The truncation is pervasive in the uses of many `StringRef` members.  The class uses `size_t` for string offsets and sizes (both to represent slices of strings and to  manipulate them) but many of its clients use `uint64_t`.  For instance here:
[code]
There are just about 26,000 instances of `StringRef` in the repository (not counting tests) so I don't t

[2022-04-05 18:53] msebor opened #54766 "missing initializer for a constant string larger than UINT_MAX"
While looking into PR #54739 I noticed that LLVM fails to emit the leading nonzero initializer for a constant character array larger than `UINT_MAX` bytes.  Because of the missing nonzero initializer it also incorrectly folds expressions involving access to it (see below).

The initializer is emitted for an array that's `UINT_MAX` bytes in size or smaller, but the initial string is padded at the e

[2022-04-05 19:03] #54489 closed

[2022-04-05 19:22] AaronBallman commented on #54625
I'm not certain I agree. If the user has given conflicting options that we cannot honor, that seems like a situation we should warn on (we do for quite a few other command line flags that are mutually exclusive to one another). What benefit does the user receive by being silent rather than correcting the diagnostic behavior?

[2022-04-05 19:40] RKSimon commented on #51547
CCing @nikic @rotateright

Even without the truncation, we don't recognise this clamp pattern: https://alive2.llvm.org/ce/z/LbDN9t
[code]

[2022-04-05 19:48] Epliz opened #54767 "AMDGPU: incorrect assembly generated when using block of inline assembly using same result operand"
Hi,
I am using clang 14 from ROCM 5.0.2:
[code]

I am trying to implement some kind of matrix multiplication kernel, currently trying to get it to work for gfx1031.
I had to resort (against my will) to using inline assembly to get some kind of decent performance (the compiler misses quite a lot of potential of optimizations such as using scalar loads for matrix A, or fails to emit vectorized s_loa

[2022-04-05 20:00] JDevlieghere opened #54768 "ThreadSanitizer reports a data race in lldb-vscode"
`VSCode/TestOptions.test` fails when running under TSan

[code]

[2022-04-05 20:00] JDevlieghere commented on #54768
CC @clayborg @a20012251

[2022-04-05 20:09] YufeiG opened #54769 "'llvm-cov export' does not respect SOURCES filter if there are no executable lines in SOURCES files."
Repro steps:
1. Create a framework with source files but no executable lines (all protocols), which imports another framework that does have executable lines. (Note that we use Buck, so this is a Buck module that contains only protocols, and that has a dep on another module that has executable code)
2. Run llvm-cov export on that binary with SOURCES filter to be only the source files in that frame

[2022-04-05 20:24] aaronmondal commented on #54728
Patch submitted to [Phabricator](https://reviews.llvm.org/D123074).

[2022-04-05 20:43] ekieri commented on #49114
Closing this one. Just to be safe, I tested it with 435a176db9cf7fe1 (main today).
  flang-new -c test.f
ran without errors on my machine (Ubuntu 21.10 on x86).

[2022-04-05 20:43] #49114 closed

[2022-04-05 20:43] #54627 closed

[2022-04-05 21:05] #54728 closed

[2022-04-05 21:09] tstellar commented on #54645
Do we want to merge this to the release/14.x branch or are we waiting for a better fix?

[2022-04-05 21:13] River707 commented on #54627
@silvasean Can you update to try using `torch-mlir-lsp-server` again?

[2022-04-05 21:13] tstellar commented on #54749
Does this change only affect freebsd or is it  a generic ppc64 change?

[2022-04-05 21:17] tstellar commented on #54487
@aganea Do you think this is safe to backport? https://github.com/llvm/llvm-project/commit/98bc304e9faded44f1d8988ffa4c5d8b50c759ec

[2022-04-05 21:18] tstellar commented on #54719
/cherry-pick fd1da784ac64

[2022-04-05 21:20] tstellar commented on #54619
@igorkudrin Is this safe to backport? https://github.com/llvm/llvm-project/commit/7370a489b1005e424b23bd0009af2365aef4db53

[2022-04-05 21:22] tstellar commented on #51416
@AaronBallman Is this safe to backport? https://github.com/llvm/llvm-project/commit/3784e8ccfbdaaab31f9e9c221daa59a218279999

[2022-04-05 21:22] efriedma-quic commented on #54625
Overriding flags (i.e. "the last flag wins") is a feature: it allows you to have a set of default flags for your build, and change them for specific files/libraries.

Maybe it makes sense to allow users to request warnings for redundant/overridden flags, but I don't think we'd want to turn that on by default.

[2022-04-05 21:23] tstellar commented on #51641
@AaronBallman Is this safe to backport? https://github.com/llvm/llvm-project/commit/3784e8ccfbdaaab31f9e9c221daa59a218279999

[2022-04-05 21:25] silvasean commented on #54627
Update to v0.0.5 of the VSCode extension and still seeing the same dialog. I tried with `${env:HOME}/bin/torch-mlir-lsp-server` and still got the same issue.

[2022-04-05 21:50] mstorsjo commented on #54753
Perfect, thanks! I posted an initial patch at https://reviews.llvm.org/D123160, which does seem to fix the issue for me.

[2022-04-05 21:50] efriedma-quic commented on #54739
I would guess that in most cases, things appear to work because either values larger than 4GB are rare, or a value larger than 4GB would cause the compiler to run out of memory.  But there's probably a number of real issues.

I think it would be reasonable to change the relevant StringRef/ArrayRef APIs to take a 64-bit integer or have 64-bit overloads.

[2022-04-05 22:11] efriedma-quic commented on #54766
ConstantDataSequential::getNumElements returns an "unsigned", which is probably not right...

See CodeGenModule::GetConstantArrayFromStringLiteral.  We could probably be more clever here, and generate a struct like `{ [3 x i8] "123", [4294967293 x i8] zeroinitializer }`, instead of extending the string to 4GB.

[2022-04-05 22:53] aaronpuchert commented on #54716
So previously it would do `cd clang-$version.src` because the tarball unpacked into that single folder, and now it doesn't do that anymore because there are two folders? Just to clarify, previously we had
[code]
now we have
[code]
and if you do `tar xf clang-$version.src.tar.xz && cd clang-$version.src && patch -p2 <foo.patch` that would've worked previously and still works. I'm trying to figure o

[2022-04-05 22:57] tstellar commented on #54716
Can't you do this automatically with the -p option ?

[2022-04-05 23:22] h-vetinari commented on #54716
Just tried `git format-patch -p <SHA>`, also within a subfolder, but the paths remain the same. Docs say:
[code]

[2022-04-05 23:41] h-vetinari commented on #54716
It's very possible that I don't know some nice invocation to get the equivalent of `git format-patch tags/llvmorg-14.0.0` restricted to a subfolder.

To reiterate what I believe was the key point for our situation: tarball content == patch context. This is unlikely to change because it _just works_ for essentially all projects we deal with (i.e. get tarball from a repo; if necessary apply patches

[2022-04-05 23:42] tstellar commented on #54716
I meant passing -p when you apply the patch, not when you generate it.

[2022-04-06 00:03] dexonsmith commented on #54645
The current fix LGTM for release branch. I think this particular code should have an explicit small size anyway since it's using fixed-size data.

I think the ongoing discussion is just to figure out why it's *necessary*, to understand what issues might be buried elsewhere.

[2022-04-06 00:38] arsenm commented on #54274
Should be fixed by the stack of patches in https://reviews.llvm.org/D123171

[2022-04-06 00:38] arsenm commented on #54635
Should be fixed by this stack of patches: https://reviews.llvm.org/D123171

[2022-04-06 00:40] lhames commented on #54606
Hi @ilian8.

Sorry for the delayed reply, and thank you very much for digging in to this. The issue should be fixed by 9a62d9db2e1f. Please let me know if you are still seeing problems after that commit.

[2022-04-06 00:40] #54606 closed

[2022-04-06 00:41] arsenm commented on #54767
Your register constraints for v_fmac are wrong. You've expressed this as a regular output constraint, not a tied operand. Off the top of my head, I believe you need to use "+v" as the constraint instead of "=v".

Also if you really do need to resort to asm, you should at least try using asm volatile

[2022-04-06 01:05] SamB commented on #54685
Yeah, thanks to your change, that one-line change is the only thing left in my `git diff` output :-D.

And I'm quite happy to learn that there's no difference here between Cygwin `as` and mingw `as`; it's a lot easier to believe that someone might forget to test a change before committing than to believe that Cygwin would somehow be missing `as` syntax that mingw has (although still kind of unexpe

[2022-04-06 01:29] #53488 closed

[2022-04-06 02:14] junaire commented on #54239
The clang you're using is too old, I can't produce this issue in clang trunk: https://godbolt.org/z/Gc5jP9srd

[2022-04-06 02:14] #54239 closed

[2022-04-06 02:30] namniav opened #54770 "Unrolling single trivial loop generates 3X slower program on M1 mac"
[code]

Output on my M1 macbook air(compiled by`clang++ -Wall -Wextra -Werror -std=c++20 -O3 -fno-lto test.cpp`):
[code]

* **Issue 1**:  Compared to `cond_unroll<3>`, `cond_loop<3>` makes `conditional_sum` 3X faster !
    I don't see the difference from source code.

* **Issue 2**: Compared to `cond_loop<2>`，`cond_loop<3>` makes `conditional_sum` 3X faster !
    The difference is that `cond_loop<

[2022-04-06 02:47] jtpham4 commented on #54274
On god, this is absolutely epic 😮‍💨🙏
-jtpham4

[2022-04-06 04:38] tstellar commented on #53269
@AaronBallman Can you take a look at this?

[2022-04-06 04:42] tstellar commented on #53406
@joker-eph @hasyimibhar Any suggestions for what to do here?  Should we consider reverting this commit?

[2022-04-06 04:46] tstellar commented on #54600
Merged: db07d9f098b3

[2022-04-06 04:46] #54600 closed

[2022-04-06 04:50] tstellar commented on #54687
Merged: a4681df0202c

[2022-04-06 04:50] #54687 closed

[2022-04-06 04:51] tstellar commented on #54460
Merged: add3ab7f4c8a

[2022-04-06 04:51] #54460 closed

[2022-04-06 04:55] tstellar commented on #54346
/cherry-pick 26cd258420c774254cc48330b1f4d23d353baf05

[2022-04-06 04:56] tstellar commented on #51557
/cherry-pick d7afea9eb84274a4c5046253f4d78a8fdd262803

[2022-04-06 05:05] xsxkair opened #54771 "clang-format crash due to AlignArrayOfStructures"
..\clang-format.exe -style=file -i ..\ThirdParty\MotorModule\Motor_Data.c
PLEASE submit a bug report to https://bugs.llvm.org/ and include the crash backtrace.
Stack dump:
0.	Program arguments: ..\\clang-format.exe -style=file -i ..\\ThirdParty\\MotorModule\\Motor_Data.c
0x00007FF6136ACCE9 (0x000000FE00000000 0x00007FF613654081 0x0000021B0686A560 0x000000000000443A)
0x00007FF6136AC719 (0x0000049EF

[2022-04-06 05:13] wjllz commented on #54479
Maybe I could write a lldb python script to solve this question:

Like:

[code]

I guess, and I will try🤔

[2022-04-06 05:14] joker-eph commented on #53406
Indeed, reverting (at least in the release branch) may seem appropriate.

[2022-04-06 05:16] Epliz commented on #54767
Thanks @arsenm , that made it work.
`asm volatile` seems to be necessary, e.g. for the `fmac`s as otherwise they get reordered before the `s_waitcnt` instructions that are waiting for the loads necessary for the `fmac`s. Any idea about that one?

[2022-04-06 05:31] tstellar commented on #54597
Merged: c9ec4902c3e3 1007cb795a3c 311a622edd31

[2022-04-06 05:31] #54597 closed

[2022-04-06 05:32] tstellar commented on #54461
Merged: add3ab7f4c8a 3f43d803382d e9b26b5b2a70 5b9dd016bec7

[2022-04-06 05:32] #54461 closed

[2022-04-06 05:37] tstellar commented on #54604
@efriedma-quic Is this safe to backport?

[2022-04-06 06:07] MaskRay commented on #54756
See https://bugzilla.redhat.com/show_bug.cgi?id=2070813 At this point I believe this is more a problem of RedHat and can be resolved when they drop the local patch. The `-B prefix -fuse-ld=lld` mechanism is not considered a robust mechanism by some GCC developers. While we could add back the ignored obsoleted (obsoleted nearly everywhere, except RedHat), it may not be so necessary now.

You may cr

[2022-04-06 06:13] tru commented on #54698
This seems related: https://reviews.llvm.org/D120682

[2022-04-06 06:19] tstellar commented on #54598
Merged: add3ab7f4c8a 3f43d803382d 353068233f21

[2022-04-06 06:20] #54598 closed

[2022-04-06 06:20] tstellar commented on #54640
@LebedevRI Is this safe to backport? https://github.com/llvm/llvm-project/commit/2e44b7872bc638ed884ae4aa86e38b3b47e0b65a

[2022-04-06 06:23] tstellar commented on #54756
@sfc-gh-sgiesecke I recommend using the distro's lld package as that should work with devtoolset.

[2022-04-06 06:29] 2283572185 commented on #54741
Well，I just downloaded the " SourceCode.zip" in the release package.I think the versions of them are equal.

[2022-04-06 06:29] 2283572185 commented on #54741
Well，I just downloaded the " SourceCode.zip" in the release package.I think the versions of them are equal.

[2022-04-06 06:40] bondhugula opened #54772 "[MLIR] Misleading parse error for values not defined inside regions"
[code]
[code]

I *think* "undecared SSA value name" is the right error message here as opposed to "defined outside the region". `%64` has not been defined above and the current message can be misleading.

Separately, the location info doesn't say which value it's referring to out of the nine values therein.

CC: @joker-eph @River707 @lattner

[2022-04-06 06:42] ChuanqiXu9 commented on #50004
@fakedrake I would like to close this issue. If you feel the support for `C` is needed, you could still reply in this thread or in LLVM discourse forum: https://discourse.llvm.org/

[2022-04-06 06:42] #50004 closed

[2022-04-06 07:11] tru commented on #54487
FWIW: I think we should land this in 14.0.1 since it will fix a critical issue with debug info if using MSVC 2022. I have a follow up diff to make performance a bit better - but I don't think that one is critical enough to put in 14.0.1.

[2022-04-06 07:15] mstorsjo commented on #54685
Ok, great, thanks for confirming! I posted https://reviews.llvm.org/D123187 with the remaining fix then.

[2022-04-06 07:18] mkurdej commented on #54771
Please include .clang-format config file and, if possible, be more specific in the title.

[2022-04-06 07:25] labath commented on #54479
I doubt that will work. If I correctly understand what you are planning to do, then the rewrite operation will just overwrite the breakpoint causing it to never be hit at all.

[2022-04-06 07:57] mstorsjo commented on #54685
By the way - do you use Clang to build Cygwin-native code too, or do you only use it for cross compiling for other targets? I'm wondering, because the Cygwin target within LLVM/Clang isn't very much maintained, and I'm curious about its state (i.e. does it work satisfactory for the subset of code you regularly compile and no maintainance is needed - or is it broken?).

[2022-04-06 07:57] 2283572185 commented on #54741
I compile LLVM and Clang locally on Windows with clang tool chain.
When building LLVM:
[code]
I built LLVM14 successfully.But as you see,I had to modify some flags.Especially I must define "_ITERATOR_DEBUG_LEVEL" as 0 or it will fail to link the targets just becasue _ITERATOR_DEBUG_LEVEL is 2 some objects.And I must modify build.ninja because clang cannot recognize .def files directly.Adding "-Xli

[2022-04-06 08:10] DimitryAndric commented on #53406
I agree, though it would still be nice to further investigate and fix the root cause(s) of the increased memory consumption. (In my opinion it is essential to be able to build with assertions enabled, as you often trigger them during compilation of large software collections, such as FreeBSD ports.)

[2022-04-06 08:50] statham-arm opened #54773 "llvm-ml cannot assemble LLVM's own MASM-syntax source code"
The LLVM project contains `llvm-ml`, a MASM-syntax assembler intended to behave like `ml.exe` or `ml64.exe`. As of https://reviews.llvm.org/D121510, it also contains some MASM-syntax assembly source files in `llvm/lib/Support/BLAKE3`. But the former cannot accept the latter as input:
[code]
My own partial diagnosis of the problems, just from looking at the source file:

It looks as if declaring `@

[2022-04-06 08:50] profdevc opened #54774 "how to add struct parameter of custom function in JIT"
for an code example like:
[code]

after emit it to .ll, there will be a function like
[code]

according to [LLJITWithOptimizingIRTransform.cpp](https://github.com/llvm/llvm-project/blob/main/llvm/examples/OrcV2Examples/LLJITWithOptimizingIRTransform/LLJITWithOptimizingIRTransform.cpp) and [HowToUseLLJIT.cpp](https://github.com/llvm/llvm-project/blob/main/llvm/examples/HowToUseLLJIT/HowToUseLLJIT.c

[2022-04-06 08:52] cmd120 commented on #54672
@MaskRay Thanks, that's really helpful.

[2022-04-06 08:57] LebedevRI commented on #54640
lg

[2022-04-06 09:00] sfc-gh-sgiesecke commented on #54756
The distro's lld package would be llvm-toolset-7.0-lld, which is ancient.

We currently work around it by re-adding the (ignored) option to lld when we build it. Using a wrapper would be another option.

However, AFAIU, the support for the (ignored) option was removed on the basis that "likely nobody uses" it and "The legacy alias is irrelevant in 2021.", which has proven not be true.

[2022-04-06 09:23] RKSimon commented on #51609
[X86] Add XOR(X, MIN_SIGNED_VALUE) -> ADD(X, MIN_SIGNED_VALUE) isel patterns (PR52267)
https://reviews.llvm.org/D123043

Landed at ffe0cc82dbaecde4fd1bb2bca5c6aea59be698a6

[2022-04-06 10:08] RKSimon commented on #39013
Resolving - we do a good job of using movmsk now

[2022-04-06 10:08] #39013 closed

[2022-04-06 10:23] RKSimon commented on #51609
Landed at 3369e474bbd1172175945437783b6841979e654a

[2022-04-06 10:23] #51609 closed

[2022-04-06 10:45] RKSimon commented on #54645
If at all possible it'd be great to see msvc /AVX and /AVX2 2-stage buildbots added so that we can start tracking this.

@sstamenova @rnk Are either of you to add additional bots?

[2022-04-06 11:03] VReichelt commented on #33843
Apparently this has been fixed (for LLVM 15) lately.

[2022-04-06 11:03] #33843 closed

[2022-04-06 11:06] VReichelt commented on #50844
This has been fixed for LLVM 13 and later by commit ea72b55b5c7c281cb21bb7bd50e6e039ca63dfe8

[2022-04-06 11:06] #50844 closed

[2022-04-06 11:17] VReichelt opened #54775 "clang-tidy: modernize-macro-to-enum crashes when checking for __restrict macro"
The following valid code snippet triggers an assertion with -checks='-*,modernize-macro-to-enum' enabled:

[code]

A check for a __restrict macro can e.g. be found in /usr/lib/regex.h .

[code]

This appeared with the new modernize-macro-to-enum check introduced last week by @LegalizeAdulthood .
Could you please have a look? Thanks!

[code]

[2022-04-06 11:39] AaronBallman commented on #53269
I'm not able to reproduce on Windows, but I suspect that's expected (I don't have a Linux box handy to test on at the moment). I'm also not able to reproduce on godbolt (even after adding the includes I spotted): https://godbolt.org/z/zPTjbo6nY, but they don't have curl as a library option so I can't test exactly. I looked through the curl source attached and didn't spot the obvious culprit (`#def

[2022-04-06 12:00] AaronBallman commented on #54625
Okay, I definitely agree that last flag wins makes sense for `-ffast-math` -fno-fast-math`. We use that pattern all over the place, and we should continue to support it.

But I think `-ffp-model=fast -ffp-contract=on` (and similar) is an entirely different beast. It seems quite likely for users to write this command line without any idea that there's a "last flag wins" situation here because there

[2022-04-06 12:17] vit9696 commented on #54670
Marxin from GCC suggested to keep using `-fprofile-prefix-map`, and there is a working patch in the bugzilla. Can we follow this in clang? I guess I can work on the patch if the design is settled.

[2022-04-06 12:18] DimitryAndric commented on #54756
In FreeBSD ports, we've hit the `--no-add-needed` option with two ports, `audio/mumble` and `audio/murmur` (see https://bugs.freebsd.org/263071) but I didn't see any other occurrence of the option.

I guess the use case for `--no-add-needed` or `--no-copy-dt-needed-entries` is rather limited, especially since the former (not copying DT_NEEDED entries) is apparently the default for both BFD ld and

[2022-04-06 12:23] wjllz commented on #54479
Yes! I guess. I could just use debugger.HandleCommand to set the breakpoint, and by id to got the location information.

But got original_value is a easy thing, because lldb don't support "memory history" in kdp protocal.  😤

[2022-04-06 12:26] benshi001 opened #54776 "[AVR] llvm-objdump can not decode LD/ST instructions properly"
With the follow assembly code `a.S`

[code]

Build and disassemble
[code]

Then the following error message rised
[code]

[2022-04-06 12:33] DimitryAndric commented on #54765
@ldionne maybe this has to do with commits add3ab7f4c8a7f25c2940889d397cbdc9f267666 and 3f43d803382d57e3fc010ca19833077d1023e9c9 just not making it into 14.0.0?

@Wentzell I'm assuming you are using the exact 14.0.0 release tag, not the `release/14.x` branch?

[2022-04-06 12:37] hahn-absint opened #54777 "memprof_meminfoblock.h leftover in CMakeLists LLVM14"
On branch for release 14, file memprof_meminfoblock.h is listed in compiler-rt/lib/memprof/CMakeLists.txt, but is no longer available in the repo as removed in commit 8306968b592d942cc49bde2e387061e673a9fbb7.

This causes a cmake error when attempting to build.

[2022-04-06 12:55] danielbisar commented on #53745
I think this change introduces a bug. run-clang-tidy-15 currently is not working. It exists with the error message: Unable to run clang-tidy.

I am running Ubuntu 20.04 LTS, with the official apt.llvm.org repos. Current version: clang-tidy-15/unknown 1:15~++20220405074512+72fe439a4e11-1~exp1~20220405074524.211 amd64

This occurs in line 305ff and exception is handled in line 319. Adding a except E

[2022-04-06 12:58] AaronBallman commented on #53745
@danielbisar -- does https://github.com/llvm/llvm-project/commit/04b42c99f62216263662d1033fa9b3e12c65563e resolve the issue for you?

[2022-04-06 13:04] danielbisar commented on #53745
@AaronBallman the first part yes. The part that the listed checks are not the ones used not.

[2022-04-06 13:10] rotateright commented on #54750
Thanks for the report and diagnosis. I am away from my dev machine until next week, but I can work on this as soon as I’m back. If it is critical, please revert the patch that exposed the regression, and we can reapply after the other folds are added.

[2022-04-06 13:14] AaronBallman commented on #53745
@danielbisar thanks for the details!
@aaronmondal, would you be interested in tackling the listed checks issue as well?

[2022-04-06 13:23] jimis opened #54778 "`clang -v` shows `InstalledDir: /bin` which is a symlink; A lot of `/bin` prefixed paths are then generated by Clang."
`PATH` on my setup is accidentally set to have `/bin` before `/usr/bin`. And `/bin` is a symlink towards `/usr/bin`. Because of that, Clang detects its `InstalledDir` to be in `/bin` and I believe this creates a bunch of other problems:

Clang emits system header paths based on clang's argv[0] invocation directory.  So Clang then emits /bin based paths like the following:

    /bin/../lib/gcc/x86_

[2022-04-06 13:34] victor-ve opened #54779 "clang fails to build for Linux sparc"
$ uname -a
Linux sparc64 5.16.0-6-sparc64 #1 Debian 5.16.18-1 (2022-03-29) sparc64 GNU/Linux

$ clang -v
Debian clang version 13.0.1-1
Target: sparc64-unknown-linux-gnu
Thread model: posix
InstalledDir: /usr/bin
Found candidate GCC installation: /usr/bin/../lib/gcc/sparc64-linux-gnu/10
Found candidate GCC installation: /usr/bin/../lib/gcc/sparc64-linux-gnu/11
Found candidate GCC installation: /usr

[2022-04-06 13:54] creator1creeper1 commented on #54721
This indeed does look like a duplicate.

[2022-04-06 13:54] RKSimon commented on #38793
Resolving - we now use GitHub Issues with its own notification controls (as well as CC'ing new bugs to llvm-bugs@)

[2022-04-06 13:54] #38793 closed

[2022-04-06 13:59] creator1creeper1 opened #54780 "`clang-format` does not correctly order templated qualifiers"
If we run `clang-format` on the following file ("`broken_east_const.cpp`"):
[code]
like this:
[code]
the file is not changed. However, since qualifiers should be right-aligned, the line
[code]
should be changed to
[code]

This came up in the [serenity](https://github.com/SerenityOS/serenity) project, specifically here: [Format.h#L632](https://github.com/SerenityOS/serenity/blob/master/AK/Format.h#

[2022-04-06 14:00] Wentzell commented on #54765
Yes this was using the exact 14.0.0 tag. I have not tried if the issue persists on 14.x

[2022-04-06 14:02] #54696 closed

[2022-04-06 14:02] creator1creeper1 commented on #54780
Duplicate of #54730.

[2022-04-06 14:02] #54780 closed

[2022-04-06 14:03] creator1creeper1 commented on #54721
This indeed does look like a duplicate.

[2022-04-06 14:03] #54721 closed

[2022-04-06 14:22] serge-sans-paille commented on #54715
The first call is enough to break on an asset, thanks for the reproducer!

[2022-04-06 14:22] AaronBallman commented on #51641
I believe it is safe to backport (I also double-checked with @erichkeane).

[2022-04-06 14:23] AaronBallman commented on #51416
Yes, I think it is (I also double-checked with @erichkeane).

[2022-04-06 14:23] aganea commented on #54487
As discussed in https://reviews.llvm.org/D122372 - yes it can be backported, but please wait for https://reviews.llvm.org/D123185 to land first, both patches have to be backported together.

[2022-04-06 14:32] bcl5980 commented on #39957
@rotateright
I'm trying to fix the case 2 in SimplifyCFG, can you help to review it?
https://reviews.llvm.org/D122485

[2022-04-06 14:49] david-arm commented on #53435
Hi @vfdff, I think it does for now. I introduced this in https://reviews.llvm.org/D115143 based on actual performance investigations on SVE hardware, and also based on gather/scatter entries in software optimisation guides.

[2022-04-06 14:51] aaronmondal commented on #53745
@AaronBallman Thanks for mentioning me. I'll take a look at this.

@danielbisar I'll try to reproduce. The `.clang-tidy` config file you are using may actually be relevant here as well. I vaguely remember an issue where the `.clang-tidy` config option
[code]
led to an issue which may be similar to the one you are describing.

[2022-04-06 14:57] fhahn commented on #53937
IIUC this has been fixed by fb6596f1ecab652b5b90cf2e395d64112504c1f8/ https://reviews.llvm.org/rGfb6596f1ecab652b5b90cf2e395d64112504c1f8

@jmores/@sylvain-audi please re-open if there's anything left to do.

[2022-04-06 15:01] RKSimon commented on #22303
[code]
Proof: https://alive2.llvm.org/ce/z/Ygq26C

[2022-04-06 15:17] feltech opened #54781 "clang-tidy: readability-identifier-naming - false positive with InheritParentConfig + VariableIgnoredRegexp + library macro"
I happened upon this issue when attempting to use the [trompeloeil](https://github.com/rollbear/trompeloeil) mocking framework, which provides macros that give access to method parameters as `_1`, `_2` etc placeholders.

These placeholders, despite being defined outside the project, cause `readability-identifier-naming` to trigger.

Adding a `VariableIgnoredRegexp` in the top-level `.clang-tidy` w

[2022-04-06 15:29] krayfaus commented on #51792
Any update on this?

Sorry to bump, but I've searched and couldn't find anything other than this issue regarding the support of P1689 on Clang.

[2022-04-06 16:14] aaronmondal commented on #53745
@danielbisar Ok I just tried to reproduce (custom build from ed4e6e03981a37d54c4ac635b2bdb2c2fe8fec92).
What i said about `TemplateParameterCase` is irrelevant here, so ignore that.

I was not able to repro the issue. Could it be that there is a typo in your `.clang-tidy` file? I recall that the recommended syntax for the `Checks` section was recently ([discussion](https://github.com/llvm/llvm-pro

[2022-04-06 16:46] arsenm commented on #54767
The waitcnts for data dependencies are implied by your register constraints. Volatile cannot/should not be relied on for waitcnt placement. You have a different issue

[2022-04-06 17:23] wjllz commented on #54479
#   my mini write-up

Hey, I solved(maybe) this problem by use lldb python script.

However, my code is ugly and buggy, but I am not familar with how to implement a debugger, so I decide to make myself be happy -- abandon this. I don't want to update the code, make it more stable and so on... In Chinese, we say:

I am sorry about this part... so sry.

So I decide to write this write-up, If anybody

[2022-04-06 17:28] SixthDot opened #54782 "language reference mentions `localaddress` intrinsic but does not specify it"
`localaddress` is mentioned in the semantics of [localescape / localrevover](https://llvm.org/docs/LangRef.html#llvm-localescape-and-llvm-localrecover-intrinsics), but has no specific entry in the [code gen section](https://llvm.org/docs/LangRef.html#code-generator-intrinsics).

[2022-04-06 17:50] nokotan commented on #54552
Now I agree with It could be better way that writing data segment metadata into wasm binary, like WasmWriter::writeSectionContent(_, WasmYAML::LinkingSection) does, when `-fdata-sections` specified than directly write data segments into wasm custom section.

Originally I hoped this feature in order  to use writing wasm-bindgen's metadata in C/C++ source files, which currently leads me to preproces

[2022-04-06 17:51] #54552 closed

[2022-04-06 17:52] efriedma-quic commented on #54604
Yes, it's safe.

[2022-04-06 18:04] efriedma-quic commented on #54625
I think users will still expect last-flag-wins... but they might get confused about exactly what it means for a flag to "win".

If we can offer the user some way to fix the flags "locally", it might be okay.  e.g. "warning: `-ffp-contract=on` overrides flag `-ffp-model=fast`.  note: replace `-ffp-contract=on` with `-ffp-model=strict -ffast-math`."  Not really happy with the exact language there, b

[2022-04-06 18:15] mathstuf commented on #51792
I've started plumbing the flags through and have them mostly working locally (the plumbing is laid down but there are clogs/hookups that need dealt with yet). However, there needs to be a new mode added to make the dependency mechanisms get the information necessary to where it can be output (that is, abusing `-E` is not suitable). That requires more LLVM/Clang knowledge than I have right now.

FW

[2022-04-06 18:29] namniav commented on #54770
[assembly-by-upstream-Clang.txt](https://github.com/llvm/llvm-project/files/8429470/assembly-by-upstream-Clang.txt)
[assembly-by-Apple-Clang.txt](https://github.com/llvm/llvm-project/files/8429473/assembly-by-Apple-Clang.txt)

[code]

Output of program generated by Apple Clang:
[code]

[2022-04-06 18:42] LegalizeAdulthood commented on #54775
I'll take a look tonight

[2022-04-06 18:46] AaronBallman commented on #54625
That's basically my concern -- the flags seem unrelated, so "winning" is very unclear, and being silent means users in this situation will most likely have no idea there was a winner and a loser involved.

That's effectively the outcome I was hoping for, but I'd even be fine if the diagnostic was `warning: '-ffp-contract-on' overrides '-ffp-model=fast'; the latter option is ignored` It's not as he

[2022-04-06 18:57] zahiraam commented on #54625
Strongly agree with this.

I think a warning saying this would be good. Trying to offer alternatives to the user might not be that easy to do and there might be multiple ones to offer.

[2022-04-06 19:24] g-berthiaume commented on #18080
+1 for `_Generic` formating.
This issue has been mentioned here: https://github.com/travisjeffery/ClangFormat-Xcode/issues/131

[2022-04-06 19:34] msebor commented on #54739
For reference (and for the test suite once this is fixed) the following shows invalid `strncmp` folding due to the `StringRef::substr()` truncation in an ILP32 compiler.  The expected result is for the `strncmp` call to be folded to a negative value.  That's also what a 64-bit host compiler does.
[code]

[2022-04-06 19:49] jyknight commented on #54747
I don't think that's a solution.

Using the align attribute on the return value to derive an allocation's REQUIRED minimum alignment seems just semantically invalid, as far as I can see. The align attribute is only a guarantee that the pointer value has at least the alignment specified. It should always be valid to drop it or reduce it.

[2022-04-06 19:55] #54685 closed

[2022-04-06 20:03] mstorsjo commented on #32077
Almost 5 years later, all remaining instances of `XFAIL: LIBCXX-WINDOWS-FIXME` are now gone, and the test configs no longer defines this feature, so this issue is finally closed by https://github.com/llvm/llvm-project/commit/7594e236795f695c7cf9336ee24ef76c275d8703.

[2022-04-06 20:03] #32077 closed

[2022-04-06 20:04] nico opened #54783 "lld/mac emits too many STABS entries when doing ICF"
(I have a patch for this I'll upload in a bit. Just want to file a bug so I have a place to add some more detail.)

Consider this example:

[code]

Let's link it with ld64:

[code]

Note that ld64 emits all 8 functions to the symbol table (PEXT SECT or SECT EXT), but it doesn't emit N_FUN stabs entries for the functions that get ICF'd.

Now, lld:

[code]

lld emits the symbol table entries, but it

[2022-04-06 20:15] RKSimon commented on #54547
Sorry - I missed this notification for some reason.

LGTM

[2022-04-06 20:39] msebor commented on #54766
Thanks for the pointers!

I think In order to efficiently compile examples such as
[code]
the internal array representation and the IL might need to be more efficient (e.g., sparse, or at least have the ability to start with the first nonzero element), and the emitted assembly needs to use `.zero` directive to fill data with the `N - 1` zeros.  It looks to me like the above is internally represent

[2022-04-06 20:39] nico commented on #54783
fix: https://reviews.llvm.org/D123252

[2022-04-06 21:05] #54640 closed

[2022-04-06 21:06] gulfemsavrun opened #54784 "Safe Stack instrumentation pass failed with an assertion in ScalarEvolution"
Here's the reproducer, and I attached `vfprintf-258ca6.c`.
`
"../../../../llvm-install-single-stage/bin/clang" "-cc1" "-triple" "x86_64-unknown-fuchsia" "-emit-obj" "-massembler-fatal-warnings" "--mrelax-relocations" "-disable-free" "-clear-ast-before-backend" "-main-file-name" "vfprintf.c" "-mrelocation-model" "pic" "-pic-level" "2" "-fhalf-no-semantic-interposition" "-mframe-pointer=all" "-ffp-c

[2022-04-06 21:06] tstellar commented on #54604
Merged: add3ab7f4c8a 3f43d803382d d53e2603383a

[2022-04-06 21:06] #54604 closed

[2022-04-06 21:10] gulfemsavrun commented on #54784
[safe-stack-instrumentation-pass-assertion-error.zip](https://github.com/llvm/llvm-project/files/8430612/safe-stack-instrumentation-pass-assertion-error.zip)

[2022-04-06 21:14] tstellar commented on #54784
@gulfemsavrun What version of clang is this?

[2022-04-06 21:37] andykaylor commented on #54625
I was trying to find some precedent for handling this in other compilers. GCC was the original source of a lot of these partially conflicting floating point options, but it doesn't offer any such warnings. I guess the idea is that users understand that things like -ffast-math and -funsafe-math-optimizations are umbrella settings and interact in expected ways with individual settings like -fassocia

[2022-04-06 22:25] kyulee-com opened #54785 "Module verifier failed on a call with "clang.arc.attachedcall"."
The following  test crashes with:
[code]

`DeadArgumentEliminationPass` deletes the return value which is not needed since `null` value seems constant-propagated.
The subsequent module verifier failed to assert this. I wonder if we should simply relax this assertion, https://github.com/llvm/llvm-project/blob/7c53fc4fe1308f5b2a7527d14ea41fabb18109b8/llvm/lib/IR/Verifier.cpp#L6014-L6015

[code]

[2022-04-06 22:25] oconnor663 commented on #54773
@sneves any idea if these might be easy fixes upstream?

[2022-04-06 22:56] msebor opened #54786 "unexpected memcmp folding for sizes close to SIZE_MAX"
Code in the `memcmp` folder copied below results in unexpected folding when the third argument to the call, `Len`, is close to `SIZE_MAX`(*).  When the multiplication by 8 overflows to a value that's less than the position of the first mismatched character in the two constant arrays the result of the call ends up folded to zero when nonzero is expected.
[code]
A test case that reproduces this and

[2022-04-07 00:10] gulfemsavrun commented on #54784
I used clang revision `f830392be7480f5e75760b2cbb17a45b4c8cb939`
https://github.com/llvm/llvm-project/commit/f830392be7480f5e75760b2cbb17a45b4c8cb939

I used the following `cmake` command for the Fuchsia Clang toolchain which enables assertions.
https://logs.chromium.org/logs/fuchsia/buildbucket/cr-buildbucket/8817590740703159489/+/u/clang/configure/execution_details

[2022-04-07 00:30] tstellar commented on #54784
@gulfemsavrun Can you try the 14.0.0 release and see if you can reproduce the issue with that?

[2022-04-07 00:57] PeixinQiao opened #54787 "Flang driver problem"
There seems to be one problem with the current driver:
[code]
`flang-new` put `_QQmain` in binary file compiled by program and put `main` in `libFortran_main.a` . gfortran put both `MAIN_` and `main` in binary file compiled by program , so it does not have this issue.

[2022-04-07 00:58] vfdff commented on #54757
aarch64 backend works fine.  https://godbolt.org/z/1h8ffKb6z

[2022-04-07 01:17] junaire commented on #54065
Is anyone working on this? If not, can I have a try? ;)

[2022-04-07 02:49] arsenm commented on #54635
Should be fixed by e6012c8e0fbdf422325e66c96537de03d258deb7

[2022-04-07 02:49] #54635 closed

[2022-04-07 02:50] arsenm commented on #54274
Should be fixed by e6012c8e0fbdf422325e66c96537de03d258deb7

[2022-04-07 02:50] #54274 closed

[2022-04-07 03:00] rotateright commented on #39957
@bcl5980 - I am away from work this week, but I will take a look as soon as possible when I am back.

[2022-04-07 04:07] int3 commented on #54783
I think you meant s/omits/emits/ in the title :)

[2022-04-07 04:15] daiyousei-qz commented on #51545
This bug is still around in clang 14 and standard <ranges> header. Use of subrange or some view adapters will report compile errors with libstdc++

[2022-04-07 04:39] jzern commented on #54427
@fhahn anything else you need from me on this one?

[2022-04-07 04:45] gandhi56 commented on #54762
`image_sample_c_cd_cl_g16_e64 v1, v2, s1, s2` generates the following error message with the compiler in trunk:

`error: e64 variant of this instruction is not supported`

[2022-04-07 05:04] tstellar commented on #51416
@cor3ntin We can't merge the patch as is, because there are ABI breaking changes to CreateLambda() and createLambdaClosureType().  Is there someway to rework the patch without changing the ABI?

[2022-04-07 05:07] jakevossen5 commented on #54065
Hey @junaire, I've been a bit busy but planning on working on it soon. Though if I get too busy again I'll give you a ping 👍

[2022-04-07 05:08] danielbisar commented on #53745
Hey, good point, I indeed found missing commas. Will check that further and give you an update.

[2022-04-07 05:12] tstellar commented on #54719
@phoebewang Is this safe to backport? https://github.com/llvm/llvm-project/commit/fd1da784ac644492f8ca40064baf3ef360352f55

[2022-04-07 05:21] tstellar commented on #54413
@fhahn Is this safe to backport? https://github.com/llvm/llvm-project/commit/ecb4171dcbf1b433c9963fd605a74898303e850d

[2022-04-07 05:23] phoebewang commented on #54719
I think it is safe to backport. Thanks!

[2022-04-07 05:26] 0x7cc opened #54788 "gcc style inline assembly question"
my test cpp code:

[code]

im using clang 14 on the https://godbolt.org/, compiler options:

[code]

generated code;
[code]

I think the correct one should be:
[code]

[2022-04-07 05:36] danielbisar commented on #53745
@aaronmondal Okay I tried it with Version '1:15~++20220406052928+560856d56ad9-1~exp1~20220406173025.213'
+ run-clang-tidy-15 replace with the version from https://github.com/llvm/llvm-project/commit/04b42c99f62216263662d1033fa9b3e12c65563e

Folder structure:

[code]
Execution tried with the following:

[code]
.clang-tidy (a stripped down version, just for this test)

[code]

Output

[code]

[2022-04-07 05:41] #54756 closed

[2022-04-07 06:09] danielbisar commented on #53745
The reason seems to be that clang-tidy always includes some checks:

[code]

~/ws/src/project $ clang-tidy-15 -p ../../build --config-file .clang-tidy -list-checks ./subfolder/code.cpp
---
Checks:          "clang-diagnostic-*,clang-analyzer-*,llvm-header-guard, modernize-use-nullptr, modernize-use-using,\n"
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     no

[2022-04-07 06:29] mstorsjo commented on #54753
Fixed by https://github.com/llvm/llvm-project/commit/8d7a17b7c8b7151b8453903db96fc7f45d9b1bae.

[2022-04-07 06:29] #54753 closed

[2022-04-07 06:33] mstorsjo opened #54789 "Backport "[AArch64] Fix the upper limit for folded address offsets for COFF" to 14.x"
I'd suggest backporting 8d7a17b7c8b7151b8453903db96fc7f45d9b1bae, "[AArch64] Fix the upper limit for folded address offsets for COFF", to the 14.x release branch.

CC @efriedma-quic to ack that this patch is safe and makes sense to backport.

[2022-04-07 06:33] mstorsjo commented on #54789
/cherry-pick 8d7a17b7c8b7151b8453903db96fc7f45d9b1bae

[2022-04-07 07:05] cor3ntin commented on #51416
@tstellar That seems pretty difficult if not impossible. I guess if we can't backport this, we might need to consider reverting https://reviews.llvm.org/rG22aa3680eaccb9b77ca224711c4da3a354aa2d45 in the 14x branche instead, would that be possible?

The state of affair in the 14 branch is pretty sad, as it crashes on very simple and non unusual code, like
https://godbolt.org/z/P3qPorsq1, such that

[2022-04-07 07:34] tru commented on #54487
/cherry-pick 0dfa8a019d9a

[2022-04-07 07:35] tru commented on #54487
@tstellar ready to be landed in 14.0.1

[2022-04-07 07:35] mkurdej commented on #54720
This was fixed in 6c7e6fc7.

`clang-format-main-20220209-a7b5e5b4.exe --style=file test.cpp`:
[code]

`clang-format-main-20220210-6c7e6fc7.exe --style=file test.cpp`:
[code]

[2022-04-07 07:35] #54720 closed

[2022-04-07 07:40] fhahn commented on #54413
Yes that should be safe, thanks!

[2022-04-07 07:44] tru commented on #54487
@tstellar ah the bot fails when the two commits depend on each other. I can squash them and push them to my fork if you like - or does the cherry-pick command support picking two commits at the same time maybe?

[2022-04-07 07:55] mstorsjo commented on #54487
I think it does support cherrypicking multiple commits, yes, although I haven't tried it.

[2022-04-07 08:20] tru commented on #54487
That syntax didn't work at least. I'll wait for Tom to advice.

[2022-04-07 09:34] RKSimon commented on #31434
Fixed in trunk: https://godbolt.org/z/vj5oMMKa1

[2022-04-07 09:34] #31434 closed

[2022-04-07 10:02] Kobzol opened #54790 "LLD requires `libatomic` in when compiling for `i686`"
Hi!

We're trying to [migrate](https://github.com/rust-lang/rust/pull/95171) the Rust compiler to use LLVM 14 on CI. I have found a build issue that happens when we try to build `lld 14.0.0` with `clang 14.0.0` when cross-compiling to `i686` from a `x64` host system. Even though the CMake check claims that `LIBATOMIC` is not required:
[code]
linking `lld` later fails with this error:
[code]
The CM

[2022-04-07 10:04] nidefawl opened #54791 "CIndexer cannot resolve stdlib include path"
When trying to use the CIndexer API and enabling logging I can see that it tries to use the incomplete include path `lib/clang/15.0.0/include`.

CIndexer passes the correct ResourceDir to the CompilerInstance, but not to the Clang Driver.

And the Clang Driver cannot find its installation path because of the hardcoded `clang` as first argument that it attempts to use to resolve its InstallDir.
htt

[2022-04-07 10:27] RKSimon commented on #50412
This was fixed by 09e71c367af36a07cce04a812dcd9c62bebfbcdf (AVX) and e4ab2024a65a2233d258fc3377bd6c84376376aa (SSE)

[2022-04-07 10:27] #50412 closed

[2022-04-07 10:59] mordante commented on #51001
The `re/re.foo` naming matches the sections in the Standard. Something in `libcxx/test/std/re/re.const/re.matchflag` seems more appropriate.

Lit requires two extensions to identify the test. So it should be named `foo.pass.cpp`. (There are other options of `pass` which will execute different lit tests.)

[2022-04-07 11:09] luismarques opened #54792 "Please backport d09d297c5d28 to LLVM 14.0.1 branch"
The d09d297c5d28bd0af4dd8bf3ca66d8dbbd196d9d commit fixes a crash introduced in LLVM 14 that wasn't caught in time.
If there's still time to accept patches for the LLVM 14.0.1 branch please backport this fix.

[2022-04-07 11:17] dpreobra commented on #54762
This is by design.

If an instruction A is supported, but A_e64 is not, you will get this error message. This is also true for other variants - _dpp and _sdwa.

If an instruction A is not supported on this GPU, but it is supported on some other GPU, instructions A, A_e64, A_dpp, etc should result in an error message "instruction not supported on this GPU".

If an instruction A is not supported on

[2022-04-07 11:21] AaronBallman commented on #53745
Clang diagnostics can never be disabled, but I'm surprised that clang static analyzer is enabled by default as well. @martong @Szelethus @steakhal @haoNoQ -- do any of you know if this is expected behavior for clang-tidy?

[2022-04-07 11:44] TNorthover commented on #48888
I think it looks OK.

[2022-04-07 11:56] fabian-r commented on #53242
For many of these instructions, AMD's instruction table provides no exact resource usage and there are also no suitable performance counters for uops.info-style experiments. While we could measure latencies, only adjusting them will also lead to wrong predictions since llvm-mca cannot know about the instructions' usage of functional units.
Is there an established way of handling such cases? E.g. w

[2022-04-07 12:01] Epliz commented on #54767
@arsenm , if I remove the `volatile`, and the `s_waitcnt`, this is for sure not correct, I get assembly like the following:
[code]
It doesn't insert any `s_waitcnt` as far as I can tell.

[2022-04-07 12:04] RKSimon commented on #53242
llvm-exegesis reports are usually a good starting point, with suitable corroborating values from other sources such as Agner, uops.info and instlatx64

[2022-04-07 12:04] dpreobra commented on #54119
I must note that this is not a disassembler issue. op_sel is not supported yet for v_add_nc_u16 (GFX10) but it should.

[2022-04-07 12:23] dpreobra opened #54793 "[AMDGPU][GFX10] Many VOP3 opcodes do not support op_sel"
The following GFX10 opcodes do not currently support op_sel but they should:

    v_ashrrev_i16
    v_lshlrev_b16
    v_lshrrev_b16
    v_max_i16
    v_max_u16
    v_min_i16
    v_min_u16
    v_mul_lo_u16
    v_add_nc_u16
    v_sub_nc_u16
    v_alignbit_b32
    v_alignbyte_b32
    v_interp_p2_f16

[2022-04-07 12:24] dpreobra commented on #54119
See Issue https://github.com/llvm/llvm-project/issues/54793 for a full list of GFX10 opcodes which have missing op_sel support.

[2022-04-07 12:32] dpreobra opened #54794 "[AMDGPU][GFX10] Some VOP3 opcodes do not support omod modifier"
The following GFX10 opcodes do not support output modifier though they should:

    v_div_fixup_f16
    v_fma_f16
    v_max3_f16
    v_med3_f16
    v_min3_f16
    v_interp_p2_f16

An example of failed test:

    v_div_fixup_f16 v5, v1, v2, v3 div:2

Expected result:

    0x05,0x00,0x5f,0xd7,0x01,0x05,0x0e,0x1c

Actual output:

    error: operands are not valid for this GPU or mode

[2022-04-07 12:35] AaronBallman commented on #54625
I would not hold GCC up as a particularly good practice in this case; GCC has traditionally been silent on a lot of things Clang gives diagnostics for.

Predictable and consistent option handling would be good, but the above explanation is what I'm pretty strongly in favor of diagnosing if we're not able to change option behavior to make them predictable and consistent. I don't think it's reasonab

[2022-04-07 12:43] dpreobra commented on #54793
There is a similar issue with GFX9: https://github.com/llvm/llvm-project/issues/38650

[2022-04-07 12:43] fabian-r commented on #53242
Those won't help for AMD CPUs, since there are no performance counters that count executed ops per functional unit (cf. the empty "Ports" column on uops.info, [here](https://uops.info/table.html?search=&cb_lat=on&cb_tp=on&cb_uops=on&cb_ports=on&cb_ZENp=on&cb_measurements=on&cb_doc=on&cb_base=on)).
AFAIK, the only approaches operating in this setting are PMEvo (ours) and PALMED (who have a differen

[2022-04-07 12:48] bcl5980 commented on #54736
We can't merge case 1 because if w0 is larger than 1 << 30, there are different.

[2022-04-07 12:52] dpreobra opened #54795 "[AMDGPU][GFX10] Some VOP3 opcodes do not support abs and neg modifiers"
The following GFX10 opcodes do not support abs/neg modifiers though they should:

    v_mov_b32_e64
    v_movreld_b32_e64
    v_movrels_b32_e64
    v_movrelsd_2_b32_e64
    v_movrelsd_b32_e64

These opcodes do not have FP operands but they are actually typeless.
GFX10 SPG states explicitly that these opcodes should support abs/neg modifiers.
Note that v_cndmask_b32_e64 do support abs and neg modif

[2022-04-07 12:59] nico commented on #54788
286331153 fits in 32 bit, so `mov eax, 286331153` has the same effect and needs fewer bytes to encode. Why do you think it shouldn't be emitted?

[2022-04-07 13:00] nico commented on #54783
Err, fixed. It's not like it means the epposite with that typo 🤦‍♂️

[2022-04-07 13:00] nico commented on #54783
Fixed in 8c1ea1ab815f84b6

[2022-04-07 13:00] #54783 closed

[2022-04-07 13:05] cristianassaiante opened #54796 "SROA affects DWARF ranges causing variable not available when debugging"
In this minimized C example, the pointer variable `l_47`, assigned at line 6 in the inner scope {} inside the main function, is marked as not available at line 9 and becomes available with its correct value at line 10.

Apparently this behavior is caused by SROA. By debugging and analyzing the DWARF with opt-bisect-limit, after SROA there is no longer a DW_AT_location for the variable and the valu

[2022-04-07 13:08] psigillito commented on #25697
@mydeveloperday this was merged on phabricator awhile ago. How do we close this issue out?

[2022-04-07 13:12] Leporacanthicus commented on #54788
Unless the value 286331153 is a relative address, and the code gets relocated to live above 4GB (or 2GB?), I guess?

I know nothing of the original question, but that's a reason why you'd want a 64-bit load.

--
Mats
________________________________
From: Nico Weber ***@***.***>
Sent: 07 April 2022 14:00
To: llvm/llvm-project ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [llvm/llvm-project

[2022-04-07 13:17] fabian-r commented on #53242
True, but this issue does not only affect FPU operations: e.g. RCR/RCL and SHLD/SHRD are also marked as `WriteMicrocoded` in the znver1 model.
For the horizontal operations, this should indeed work.

[2022-04-07 13:29] stuij commented on #54388
@tstellar @TNorthover those libc++ changes in the pull request already are/were on 14.x. I guess the `/branch` command in my comment above was against perhaps the latest tag at the time?: `llvmorg-14.0.0-rc4`

Should I do anything about this, and if so, what is the correct course of action?

[2022-04-07 13:35] kun-lu20 commented on #50374
This issue still persists on TensorFlow v2.8.0 which uses LLVM 15. Looks like specific half-precision (16 bit) operations are still missing in SystemZ LLVM backend.

Can anyone from community take a look at this issue? Thanks very much!

[2022-04-07 13:38] nikic commented on #54784
Candidate patch: https://reviews.llvm.org/D123309

[2022-04-07 13:48] adibiagio commented on #53242
AMD historically has never provided counters to accurately measure pipeline activity for the Integer unit.

That being said, RCR/RCL have a known #uOPs/latency/throughput. So, it is unclear to me why those are marked as Microcode. They are well described by the AMD SOG for family 17h. Basically, it is just a matter of porting those numbers into our .td files.

I am afraid that we cannot do much fo

[2022-04-07 14:35] #51188 closed

[2022-04-07 15:20] #44140 closed

[2022-04-07 15:21] steakhal commented on #53745
Yup, this is a problem. We have encountered this in the past.

The situation is quite bad and there are multiple symptoms/problems:
 - Only `core` analyzer checkers are intended to be enabled 'by default' along with a  couple of others, but `alpha.*` and `debug.*` packages are **not** intended to be enabled unless you know what you are doing.
 - There are other checkers which may require analyzer

[2022-04-07 15:22] serge-sans-paille commented on #54715
Should be fixed by https://reviews.llvm.org/D123308

[2022-04-07 15:45] hahnjo opened #54797 "ORC cannot run initializers with non-void signatures"
Consider the following program in C:
[code]

or the (stripped down) version in LLVM IR:
[code]

When trying to run with `lli --jit-kind=orc constructor.min.ll`, there is a segmentation fault because the `llvm::Function *` and its type are null pointers. This is because the `CtorDtorIterator` in `ExecutionUtils.cpp` expects another `ConstantExpr` in the first operand of a cast, that could be fixed

[2022-04-07 15:56] 0xjc opened #54798 "[clang-format] Misformatting lambda auto trailing return type"
The following code:
[code]

gets misformatted to:
[code]

under `.clang-format`:

[code]

Tested that this bug occurs with clang-format 12, 13, and 14.

This issue does not occur if the `auto&` trailing return types are replaced with specific types.

[2022-04-07 16:11] 0x7cc commented on #54788
The code will crash if rax register high 32 bits is not zero

[2022-04-07 16:54] Leporacanthicus commented on #54788
The specification for x86-64 is that upper 32 bits are set to zero on all 32-bit operations. See section 3.1.2.3 in the AMD specification here:
https://www.amd.com/system/files/TechDocs/24592.pdf
AMD64 Architecture Programmer’s Manual, Volume 1: Application Programming - Welcome to AMD<https://www.amd.com/system/files/TechDocs/24592.pdf>
Advanced Micro Devices Publication No. Revision Date 24592 3

[2022-04-07 16:59] #26675 closed

[2022-04-07 17:09] RKSimon commented on #20126
This was fixed sometime after 10.x  https://gcc.godbolt.org/z/96M8h43j5

[2022-04-07 17:09] #20126 closed

[2022-04-07 17:17] JVD66 opened #54799 "[libunwind,v12.0.1] : unw_step() fails without this patch to set _unwindInfoMissing in UnwindCursor.hpp"
Without the attached patch, which simply sets the cursor _unwindInfoMissing boolean to false
when valid info is found, to the source from 'libunwind-12.0.1-src.tar.xz' ,
all calls to unw_step() fail, even if valid unwind info was found, on any of the platforms:
  x86_64-redhat-linux (Fedora Core Linux 34),
  aarch64-unknown-linux-android2{4,6,8,9}  , and arm-unknown-linux-androideabi2{4,6,8,9} .

[2022-04-07 17:20] dwblaikie commented on #54796
I'd guess an early transformation removes the read for l_47 entirely, since it's dead - then later on the read for b[e] is emitted.

I don't think it's practical/likely that l_47 will have a location in this code if it's optimized at all - even the most basic optimization would remove the read of the global.

[2022-04-07 17:22] dwblaikie commented on #54796
"becomes available with its correct value at line 10." - oh, that is interesting. Sorry, missed that - I'm surprised it's preserved at all. Maybe there's some chance this could be made to work, then.

[2022-04-07 17:22] kiranchandramohan opened #54800 "[Flang] Use the OpenMP header and module provided by the OpenMP runtime"
Currently Flang uses a local OpenMP module and header. This ticket is a reminder to use the one provided by the OpenMP runtime.

[2022-04-07 17:52] nidefawl commented on #54791
Actually, the standard library/STL includes are found.
Only the include path to the compiler builtins is incorrect. (Because InstallDir is empty)

Here is a little testcase to reproduce the issue on windows:

[code]

Run it:

Output is:

[2022-04-07 18:00] RKSimon commented on #34550
Closing - we now have test coverage, and both test cases only use a single cmp

[2022-04-07 18:00] #34550 closed

[2022-04-07 18:06] DimitryAndric commented on #54799
As far as I can see, the `_unwindInfoMissing` member of the template class `UnwindCursor` is always initialized to `false` in the corresponding constructors:

[code]

But is this during a state where it first concludes that it *isn't* able to find unwind info, and sets `_unwindInfoMissing` to `true`, but then later changes its mind?

Do you have some sort of test case that can be run to show the i

[2022-04-07 18:14] #53515 closed

[2022-04-07 18:22] siggi-alpheus commented on #54761
Crashes also in a local ToT build:

lldb: /workspaces/llvm-codespace/llvm-project/llvm/../clang/include/clang/AST/DeclCXX.h:442: clang::CXXRecordDecl::DefinitionData& clang::CXXRecordDecl::data() const: Assertion `DD && "queried property of class with no definition"' failed.
Process 19451 stopped
* thread #1, name = 'lldb', stop reason = hit program assert
    frame #4: 0x00007fffe79423c2 liblldb.

[2022-04-07 18:51] efriedma-quic commented on #54789
Yes, this is safe to backport.

[2022-04-07 18:56] kyulee-com commented on #54785
@ahatanak Can you take a look? Thanks!

[2022-04-07 19:09] DimitryAndric commented on #37852
Hmm, I ended up at this commit 459b4b725f52f0befd90312a326225eda6450233 when checking the breakage reported for the FreeBSD `cad/horizon-eda` port (see also https://github.com/horizon-eda/horizon), which gives:

[code]

The offending code does this:

[code]

and apparently you now can't use `std::search` on `std::filesystem::path` iterators anymore? At least, not when you compile with `-std=c++17`

[2022-04-07 19:11] DimitryAndric commented on #37852
FWIW the actual source is at https://github.com/horizon-eda/horizon/blob/master/src/util/fs_util.cpp#L11

[2022-04-07 19:29] efriedma-quic commented on #54790
Try the following testcase.

[code]

Does that produce any `__atomic_` calls?  Does it produce any warnings with " -Wsystem-headers"?

[2022-04-07 19:58] jdenny-ornl opened #54801 "run-time failure on amdgpu related to __omp_rtl_debug_kind"
At d0fcbb37838a (main from today) when offloading to an mi60 (amdgpu), I see the following failure:

[code]

Any of the following works around the problem:
- Compiling with -O1, -O2, or -O3.
- Reverting  2945f11c605b (D118399) and thus breaking `__omp_rtl_debug_kind` on nvptx.
- Adding a check for `CGM.getTriple().isAMDGCN()` in `CGOpenMPRuntimeGPU::CGOpenMPRuntimeGPU`, effectively reverting 2945f

[2022-04-07 20:41] ahatanaka commented on #54785
I'll take a look at this later. I think we have to prevent `DeadArgumentEliminationPass` from changing the function type.

[2022-04-07 20:47] bfrg opened #54802 "Clang-14: diagnostics: wrong source range in output with -fdiagnostics-print-source-range-info"
Run: `clang -fdiagnostics-print-source-range-info test.c`

[code]

Result (with clang 14.0.0):
[code]

The locations inside the braces seem to be wrong. These suggest the following:
[code]

If we assume that the squiggles in the output are correct, the ranges should be specified like:
[code]

[2022-04-07 20:49] jacobsa opened #54803 "std::conjunction and std::disjunction don't implement less obvious standard requirements"
Here are some conformance tests for behavior specified for `std::conjunction` and `std::disjunction` in [[meta.logical]](https://timsong-cpp.github.io/cppwp/n4659/meta.logical#lib:disjunction) by N4659 (C++17). In particular they exercise the following:

* The requirement that the type traits inherit from an input type.
* The requirement that the type traits be usable with integral constants for w

[2022-04-07 21:34] markmi commented on #54004
I looked at https://releases.llvm.org/14.0.0/projects/libcxx/docs/ReleaseNotes.html and it lists:
[code]
as well as API changes.

[2022-04-07 21:51] fhahn commented on #54427
Ok I tracked down the issue and it looks like the underlying issue has been fixed on `main` already independent of b4c6d1bb3791.

Added a test in 631016a. @jzern could you confirm it works as expected on current `main` with b4c6d1bb3791 reverted?

[2022-04-07 21:53] fhahn commented on #54427
I also put up a fix for the 14.x branch, as the fix was submitted after the branch. The fix on main is a more invasive refactoring which likely doesn't make sense to pull in.

I put up a targeted fix for the release branch: 8767b7ea874e067912c547a6626acffb32b4032a (test) and 5ebd195cd16a437762afafdaabe395f4409d7b27 (fix).

@tstellar would it be possible to pick those fixes for 14.x?

[2022-04-07 22:46] gulfemsavrun commented on #54784
Thanks @nikic for a quick fix. I verified that https://reviews.llvm.org/D123309 solved the assertion error that we were seeing.

[2022-04-07 22:51] LegalizeAdulthood commented on #54775
So... is `__restrict` a keyword or a macro?

[2022-04-07 22:57] jdoerfert commented on #54654
This is the alloca_aggregate_arg function:
[code]
As you see, it may return either argument. As such, they are considered captured. Your patch above marks them as nocapture, which is then probably the source of all your troubles.

[2022-04-07 23:00] stwish-msft opened #54804 "[ASAN] [x86] Thrown exceptions corrupt stack near catch site"
When an exception is thrown with AddressSanitizer in use, the x86 compiler fails to take into account stack red-zones added for catch bodies when determining variable addresses. Below are five examples.

[code]

`> clang -m32 test.cpp -fsanitize=address`
[code]

[2022-04-07 23:25] elite-sheep opened #54805 "[lld-macho] -lto-embed-bitcode=optimized causes report_fatal_error"
Platform: MacOS with Rosette 2.
LLVM version: 13, installed with homebrew
I tried the bitcode embedding for clang. I have a very simple hello world c++ code and it happens that lld cannot recognize this flag. Can anyone help with this?

I get the idea from here: https://reviews.llvm.org/rGc8e0bb3b2c24ef59556d81a275fb1f5db64899d3

Error log:
[code]

[2022-04-07 23:29] arsenm commented on #54010
There's nothing magic in that header.

I looked again and I'm not sure I see how this is possible. The divergence of the threadIdx doesn't go away on re-association of the division (which you can only do if the block size is a multiple of the warp size). If you want a warp index, you want to divide just the block part here.

[2022-04-07 23:45] LegalizeAdulthood commented on #54775
OK, I have a fix ready.  Doing some local testing, then I will post in phabricator for a review.

[2022-04-07 23:46] ZequanWu opened #54806 "llvm-cov is unable to only generate coverage for source files in given directories"
We want to generate coverage report using `llvm-show` only for given directories. llvm-cov has the flag `--ignore-filename-regex=` to ignore source files that matches the regex, but it doesn't support negative lookahead (e.g. we only want coverage report for source files recursively inside folder1 `(?!folder1)`).
I think we should add a flag for this unless there is another way to solve it.

[2022-04-07 23:48] JVD66 commented on #54799
OK, here is a minimal test program that just reproduces the issue (ONLY!), and a more complete patch:

[test_54799.tar.gz](https://github.com/llvm/llvm-project/files/8447453/test_54799.tar.gz)

$ gunzip < test_54799.tar.gz | tar -xpf -
$ make UNW_12_DIST=${directory_where_unpatched_libunwind_12.0.1_is_installed} \
          UNW_FIXED_DIST=${directory_where_PATCHED_libunwind_is_installed}

eg. I ha

[2022-04-07 23:57] gen740 commented on #54760
I found another solution.

change
[code]
to
[code]
When assign yield_value to non-function-local lifetime value, it goes well. So assigning to any other tmp object, inside the promise_type (or outside of the yield_value function), this compile error won't happen.

I think this is the best workaround.

[2022-04-08 00:18] lhames commented on #54797
Thanks @hahnjo! I've committed a fix in a76209c265bd.

The aim is to move to to the ORC Runtime for running initializers in the future, and the ORC runtime should be able to match the behavior of the dynamic loaders (cast initializer address to `void()` and call it). Is there any valid use case for non-void initializers though? These feel like something that we might want to warn about in the comp

[2022-04-08 00:39] MaskRay commented on #54713
`-mtls-size=48` is irrelevant. The feature request is about large code model TLS for TLSDESC/Initial-Exec models on AArch64.

[code]

[2022-04-08 01:01] 0x7cc commented on #54788
high 56 or 48 bits, respectively. Doubleword operands, however, are normally stored in the low 32 bits
of GPRs and zero-extended to 64 bits.

sorry!
I don't know the spec. I will close this issue

[2022-04-08 01:01] #54788 closed

[2022-04-08 01:03] LegalizeAdulthood commented on #54775
https://reviews.llvm.org/D123349

[2022-04-08 01:24] MaskRay commented on #54204
Can you build lld from the `main` branch or `release/14.x` and check whether there is still an issue?

Please use `-DCMAKE_BUILD_TYPE=RelWithDebInfo` so that the in case of a crash, there are filename and line numbers.
Otherwise there is not much we can do with the opaque addresses, and can't know whether it is a distribution-specific issue.

[2022-04-08 01:27] MaskRay commented on #45112
This is somewhat obsoleted. For clang 14.0.0, we even dropped `-gz=zlib-gnu` and `-Wa,--compress-debug-sections=zlib-gnu`.

ld.lld --help message `--compress-debug-sections=[none,zlib]` is quite clear other values are unsupported.

[2022-04-08 01:27] #45112 closed

[2022-04-08 01:29] bcl5980 commented on #54692
it looks we have a combine in transformZExtICmp:
  zext (x >s -1) to i32 --> (x>>u31)^1
This optimization break further combinations.

[2022-04-08 02:21] stellaraccident opened #54807 "FunctionOpInterface is incompatible with SingleBlock trait"
The default implementation of `FunctionOpInterface::verifyBody()` delegates to `$_op.front()`, but the interface methods of FunctionOpInterface may be shadowed in various ways making this illegal to assume. Concretely, the `SingleBlock` trait defines `front()` (and a number of other things) differently, resulting in ambiguous symbol resolution.

This can be pretty easily fixed locally by accessing

[2022-04-08 03:11] yxsamliu commented on #54560
I have a patch for fixing this issue: https://reviews.llvm.org/D123353

[2022-04-08 03:25] xsxkair commented on #54771
this is .clang-format file
[code]

[2022-04-08 03:43] #54269 closed

[2022-04-08 04:30] brad0 commented on #54749
It says FreeBSD/powerpc but it's for any 32-bit PowerPC. I'm representing OpenBSD/powerpc.

[2022-04-08 06:10] sebhub opened #54808 "[clang-format] Misformatting with AlignAfterOpenBracket: BlockIndent"
The following code:
[code]
gets misformatted to:
[code]
under .clang-format:
[code]
desired format:
[code]
Tested that this bug occurs with clang-format 14.

[2022-04-08 06:55] hahnjo commented on #54797
@lhames as far as I can tell, you only committed the diff that I put above, that I could have done myself. However, as also noted above, this doesn't work if the constructor takes arguments so now it will crash in a different place. Regarding the question if that is valid, it's currently accepted by both Clang and GCC so there may be code using it. In fact, Clang's CUDA support generates construct

[2022-04-08 07:02] kito-cheng opened #54809 "Backport "[RISCV] Fixing stack offset for RVV object with vararg in stack.""
This bug is about the stack offset, RISC-V backend might generate wrong stack offset to corrupt the stack content if there is scalable vector object and callee-save vaarg objesct.

We hit this bug when compile spec2017 with auto-vectorization and cause wrong result, so I believe this should backport to LLVM 14 branch.

https://github.com/llvm/llvm-project/commit/690085c9b715af720ecbd1c009731ba5478

[2022-04-08 07:12] Kobzol commented on #54790
I took this code and put it into `test.cpp`. Then I compiled it with `clang++ 14.0.0` on `x64` Linux:
[code]
With `-Wsystem-headers` it gives one additional warning:
[code]

The first command is a minimal reproducible example of our issue.

[2022-04-08 07:32] #54715 closed

[2022-04-08 07:44] #54784 closed

[2022-04-08 08:11] ikspress opened #54810 "clang-format incorrectly formats pointer alignment with PointerAlignment: Right"
Content of clang-format:
[code]
In the extern "C" namespace statement block,  clang-format always uses PointerAlignment: Middle to formats pointer to class arguments.
e.g.
[code]
Obviously this is wrong.

[2022-04-08 09:07] #36407 closed

[2022-04-08 09:24] RKSimon commented on #52614
Closing - the 'confirmed' workflow seems to be working well instead

[2022-04-08 09:24] #52614 closed

[2022-04-08 09:25] Kobzol commented on #54790
It also has this error with `clang 13.0.1` btw. So it seems that the problem is not with the newer compiler (this has worked before for Rust with Clang 13 btw), but because something in `lld` now uses atomic functions that are not properly linked when compiled with `clang`.

[2022-04-08 10:29] RKSimon commented on #22303
Candidate Patch: https://reviews.llvm.org/D123374

[2022-04-08 10:35] RKSimon commented on #54694
Fixed by a3d5f1cf5d88dfbbed931951e07f328d5ceba510 - @goussepi should we cherry pick this for 14.x ?

[2022-04-08 11:23] dpreobra commented on #54697
Closed by 1f6aa90386b630f85a08fa4c290f944977b98a6d

[2022-04-08 11:23] #54697 closed

[2022-04-08 11:38] RKSimon commented on #54694
/cherry-pick a3d5f1cf5d88dfbbed931951e07f328d5ceba510

[2022-04-08 11:39] RKSimon commented on #54694
(discussed this with @goussepi offline)

[2022-04-08 12:20] RKSimon commented on #54695
Looks like at least one fold is being stalled by oneuse checks:
[code]
if %12 didn't have other uses, then this would fold and we'd realise that `and i64 %11, 2147483648` is zero

[2022-04-08 12:54] RKSimon commented on #23758
Resolving: https://godbolt.org/z/G3jYh93z1

[2022-04-08 12:54] #23758 closed

[2022-04-08 13:04] fabian-r opened #54811 "Wrong Resource Usage for BSR and BSF Instructions in Znver1 Scheduling Model"
When given one of the following 1-instruction basic blocks, llvm-mca reports an Rthroughput of 0.3:
[code]
and
[code]

Measurements with nanoBench and uops.info, as well as AMD's Latency Table, say that they are slower:
- BSR has a throughput of 0.25, i.e. an Rthroughput of 4
- BSF has a throughput of 0.5, i.e. an Rthroughput of 2 (according to AMD's table; I did not observe anything lower than 3

[2022-04-08 13:08] jan-moeller commented on #51130
It seems that this is fixed on the latest clang-trunk. At least, when following @davidstone 's godbolt link above, the example compiles now.

[2022-04-08 13:15] arsenm commented on #52706
I tried reverting this patch and I'm not seeing anything. Do you have the failing IR/ISA from when this was broken?

[2022-04-08 13:18] njames93 commented on #49501
Fixed in https://github.com/llvm/llvm-project/commit/0e0b0feff194358e5e68bf36f5a563d269fa8e88

[2022-04-08 13:18] #49501 closed

[2022-04-08 13:21] kito-cheng opened #54812 "RISC-V: Assertion failure for -2158497792"
How to reproduce:
[code]
Testcase:
[code]
Error Message:
[code]
Failed since https://github.com/llvm/llvm-project/commit/4c3d916c4bd2a392101c74dd270bd1e6a4fec15b / https://reviews.llvm.org/D113568

[2022-04-08 13:34] siggi-alpheus commented on #54761
Here's a backtrace for where this happens.

Looks like CXXRecordDecl::getMostRecentDecl() is failing and returning nullptr. This appears to bottleneck in
Redeclarable::getMostRecentDecl(), which by my reading should never return nullptr?

[code]

[2022-04-08 13:39] benshi001 commented on #54812
I will fix it. Thanks.

[2022-04-08 13:45] hahnjo opened #54813 "ORC crashed with unnamed external GlobalValue"
Consider the following reduced LLVM IR:
[code]

`lli --jit-kind=orc test.ll` crashes with
[code]

Of course, the IR doesn't make sense because you cannot reference the `GlobalValue` from anywhere other than this `Module` (as `@0`), but would be nice if the JIT didn't crash.

[2022-04-08 13:53] jmorse commented on #53937
Re-opening to request that this is cherry-picked into the release branch -- this is likely to trigger any time that someone uses opt-bisect-limit with the limit crossing instruction-selection, which while not common, can be vital for diagnosing compiler bugs. Fixing this on the release branch is going to ease matters for other developers.

@tstellar could you cherry pick fb6596f1ecab6 to the llvm

[2022-04-08 13:55] jmorse commented on #53937
(Made my best guess and labels and release milestones, apologies if I missed something)

[2022-04-08 13:56] nikic commented on #53937
/cherry-pick fb6596f1ecab652b5b90cf2e395d64112504c1f8

[2022-04-08 14:06] EAirPeter opened #54814 "Clang prohibits initialization of static members of specialized __declspec(dllexport) class templates"
The following snippet is accepted by MSVC, while rejected by clang (or clang-cl).
[code]
The following is what clang complains about.
[code]
It does not make sense to me, since that declaration is definitely not an instantiation. This error effectively prohibits any initialization of static members of `__declspec(dllexport)` class template specializations.
Note: clang (or clang-cl) accepts the cod

[2022-04-08 14:12] #54369 closed

[2022-04-08 14:14] arsenm commented on #49961
MIR massaged into parsable, updated form

[testcase.zip](https://github.com/llvm/llvm-project/files/8452591/testcase.zip)

[2022-04-08 14:18] EAirPeter commented on #54814
Like #54717, a known workaround is to move `__declspec(dllexport)` from class template declaration and to member function and static member declarations, and also specialized static member initializations.

[2022-04-08 14:27] davidbolvansky commented on #19374
Fixed since Clang 7

[2022-04-08 14:27] #19374 closed

[2022-04-08 14:29] bylee20 opened #54815 "`clang-format` crashes with combination of `AlignArrayOfStructures` and `ColumnLimit: 0`"
clang-format crashes with next file:
[code]
clang-format config:
[code]
crash message:
[code]

clang-format version: 14.0.0

[2022-04-08 14:30] davidbolvansky commented on #54811
cc @LebedevRI  @RKSimon

[2022-04-08 14:39] davidbolvansky commented on #54790
I observed this issue as well during transition of our tool to llvm/cland/lld 13.

[2022-04-08 14:44] arsenm commented on #49961
My first attempt to use llvm-reduce on MIR went better than expected:
[reduced.zip](https://github.com/llvm/llvm-project/files/8452847/reduced.zip)

[2022-04-08 15:02] davidbolvansky commented on #54786
"unexpected" - Well, this example is simply UB and the compiler can do anything.. so what is expected ? :)
But yeah, Len * 8 should be protected against possible overflow.

[2022-04-08 15:07] samuel-lee-msft opened #54816 "[x86] __stack_chk_fail introduced by -fstack-protector-strong ignores -fno-plt"
When compiling with options -fno-plt and -fstack-protector-strong, introduced calls to `__stack_chk_fail` use PLT.

https://clang.godbolt.org/z/EfenK53oe

This inhibits the use of the -fstack-protector-strong in environments which do not support the use of PLT.
This looks similar to #52645, but in slightly different circumstances.

[2022-04-08 15:18] arsenm commented on #49961
https://reviews.llvm.org/D123393

[2022-04-08 15:30] AaronBallman opened #54817 "Unknown type attributes are diagnosed twice with `[[]]` spelling"
Consider:
[code]
This generates four diagnostics, two for each unknown attribute. See https://godbolt.org/z/r6eGx1W6E for an example. The same does not happen for declaration attributes or statement attributes, and it does not happen for unknown type attributes spelled with `__attribute__`.

[2022-04-08 15:38] siggi-alpheus commented on #54761
Perhaps the problem is that the CmapSubtableFormat14 type has been stripped from the symbols at link time? Would this be considered a clang, or a linker bug?

It looks like the symbols only contain declarations of the type:

0x03f3a650: DW_TAG_structure_type
              DW_AT_name	("CmapSubtableFormat14")
              DW_AT_declaration	(true)

0x0403e100: DW_TAG_structure_type
              DW_

[2022-04-08 15:40] arsenm commented on #54767
Can you post the exact/complete modified testcase?

[2022-04-08 15:49] arsenm commented on #47690
Confirmed this is still broken. I'm not familiar with lld, but I don't understand why objectFiles is empty given that there is an object file here. AMDGPU isn't the only target assuming this isn't empty, and a few others have the same assert

[2022-04-08 15:53] siggi-alpheus commented on #54761
This one type is certainly an outlier among its peers, it's the only type that has no definition. All the other types look more like this example:
[code]

[2022-04-08 16:50] arsenm commented on #47690
It seems the distinction is in InputFiles.cpp:doParseFile:

`  // .so file
  if (auto *f = dyn_cast<SharedFile>(file)) {
    f->parse<ELFT>();
    return;
  }

  // LLVM bitcode file
  if (auto *f = dyn_cast<BitcodeFile>(file)) {
    bitcodeFiles.push_back(f);
    f->parse<ELFT>();
    return;
  }

  // Regular object file
  objectFiles.push_back(cast<ELFFileBase>(file));
  cast<ObjFile<ELFT>>(fil

[2022-04-08 17:09] sstamenova commented on #54645
I can't speak for Reid, but we're not able to right now. We're toying with the idea of maybe adding another `mlir` bot, but that's unlikely as well. I'll keep it in mind in case we get an opportunity, but I think it unlikely.

[2022-04-08 17:19] ps-19 commented on #54817
Sir can you please give little hint on how can one resolve this issue?

[2022-04-08 17:20] MaskRay opened #54818 "Backport `[MC][ELF] Improve st_size propagation rule` to 14.0.1"
* 67acc34e2ad89f18a6d66d72ddc30e77c5aff7d9 [MC][test] Improve offset.s
* e07dfa5328b0ca1465ae7b749e1ac2d994741e27 [MC][ELF] Improve st_size propagation rule

This fixes `st_size` for some symbols in some cases (when alias or symbol versioning is used), which may be checked by ABI checking tool. It will also help building glibc with clang 14.0.1 https://sourceware.org/pipermail/libc-alpha/2022-Apri

[2022-04-08 17:24] kerbowa commented on #54157
Should be fixed by 26b14c3ea7

[2022-04-08 17:27] jzern commented on #54427
This matches my experience when [llvmorg-15-init-3042-gb3e8ace19830](https://github.com/llvm/llvm-project/commit/llvmorg-15-init-3042-gb3e8ace19830) was present.

Thank you for looking into this. This passes my original test (x86-64, aarch64) and the new one via check-clang (x86-64) at llvmorg-15-init-7089-g8a0406dcc8ec with the other change reverted. I don't think I saw the problem on x86-64 at a

[2022-04-08 17:30] arsenm commented on #47690
https://reviews.llvm.org/D123411 should avoid this assert. These steps are probably not what you intended. The clang invocation here already runs lld to output a shared object. You're missing -c which would give you the plain object output

[2022-04-08 17:41] siggi-alpheus commented on #54761
Mkay, this patch will avoid the crash:
[code]

[2022-04-08 17:53] efriedma-quic commented on #54790
Okay... so I think what's happening is the following:

1. lld contains `std::atomic<GHashCell>`, which is similar to `std::atomic<X>` from the testcase.
2. clang doesn't like the way libstdc++ implements std::atomic for structs: it think the atomic operation might be misaligned, and therefore generates a call to libatomic.
3. The HAVE_CXX_ATOMICS64_WITHOUT_LIB doesn't catch this because it only co

[2022-04-08 18:09] efriedma-quic commented on #54790
Figured out what's happening here.  The `<atomic>` library in libstdc++ was changed at some point to use `std::__addressof` to compute the address of its member.  The code that computes the alignment of atomic operands treats that as a black box, so it loses the alignment information, and doesn't know the member is actually aligned.  Peeking into the implementation is sort of tricky given the way

[2022-04-08 18:20] arsenm commented on #47690
Fixed by 63fe6d7eae2991f6d1749a413a72c4f26a5a457f

[2022-04-08 18:20] #47690 closed

[2022-04-08 18:58] arsenm commented on #54801
rocgdb tells me this seems to be hitting a trap in __kmpc_alloc_shared. Looks to me like it's an assertion that the workitem ID is less than the group size

[2022-04-08 19:34] dhruvachak commented on #54654
Thanks. Removing the nocapture fixes this problem. Closing this issue.

[2022-04-08 19:34] #54654 closed

[2022-04-08 19:39] lhames commented on #54797
Interesting. I haven't come across this before.

Updating the LLJIT "Generic Platform" support to do this is probably awkward but doable. If you don't need it (and nobody else has asked for it) I'm not sure it's worth the effort for now, but if you'd like to tackle it the right place to look would be in `GlobalCtorDtorScraper::operator()`.

Doing this in the ORC runtime should be more natural, and

[2022-04-08 19:47] arsenm commented on #45412
This should have been fixed by 50f3bb13297b291b53abe3437075784c714b1a03

[2022-04-08 19:47] #45412 closed