[2022-06-20 19:12] Saecki commented on #53304
Can't reproduce either, closing.

[2022-06-20 19:12] #53304 closed

[2022-06-20 19:51] asl commented on #56129
@nikic Right. Looks like a clear regression to me. As now frontends cannot emit arbitrary non-optimized code and expect that optimization passes would clean the things up. Instead they need to emit something that would be consumed / expected by some optimization passes (`LowerExpect` as of now). Surely it worked before because some early optimization passes made the code mode accessible for patter

[2022-06-20 21:27] BinhaoQin commented on #55951
Currently I cannot upload the code that creates the error due to my organization. However, I suspect the issue to be with dependent template types. We are probably going to do a release build recently and by then I'll try to use clang-15 and report whether the problem still exists.

[2022-06-20 21:45] syheliel commented on #56109
[clang-repl.zip](https://github.com/llvm/llvm-project/files/8943843/clang-repl.zip)
@john-brawn-arm I have try it on my machine again and can still reproduce it, here is `clang-repl.symbols`.

[2022-06-21 00:28] hvdijk commented on #56066
I believe there is currently no standard way of performing explicit template instantiations that avoid the class name. This is similar to how in earlier versions of C++, there was no way of declaring friends using typedef names: `friend class T;` required `T` to be the class name, and `friend T;` was an error. It took an update to the C++ standard to add support for the latter, and then for compil

[2022-06-21 04:02] aeubanks commented on #56131
Should be fixed with latest revision of https://reviews.llvm.org/D128145, verified that it fixes the crash. Thanks for the report!
Closing since the patch was already reverted.

[2022-06-21 04:02] #56131 closed

[2022-06-21 05:04] chandlerc opened #56133 "LiveVariables.cpp:129 assert failure when using both ASan and LibFuzzer instrumentation with -fast-isel"
[code]

Reduced IR test case: https://gist.github.com/chandlerc/7346e831145d0c00723be7e18c07b254

[2022-06-21 05:56] calvin2021y opened #56134 "can not cross build lld static library from host"
I need cross build lld static library from linux host for android and other target.

the generate `llvm-tblgen` can not run from host,  is there a way to bypass this ?

[2022-06-21 06:31] philnik777 commented on #55328
It's now required to use a debug-build of the library to use the debug mode, so this shouldn't be an issue anymore.

[2022-06-21 06:31] #55328 closed

[2022-06-21 06:34] philnik777 commented on #46396
It looks like the libc++ instance was configured without debug symbols. Closing, since a library configured with the debug-mode enabled is now required.

[2022-06-21 06:34] #46396 closed

[2022-06-21 06:37] philnik777 commented on #45970
We now require the library to be built with the debug-mode enabled to use it.

[2022-06-21 06:37] #45970 closed

[2022-06-21 06:42] philnik777 commented on #22797
This has been removed at some point. We don't have `_LIBCPP_HAS_NO_STRONG_ENUMS` anymore.

[2022-06-21 06:42] #22797 closed

[2022-06-21 06:44] trcrsired opened #56135 "clang has ABI unmatched with GCC for __thread on windows targets"
See:
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=106042

This breaks the canadian compilation for clang from clang on linux or native compilation on windows itself with clang from clang since They generate different code for __call_once which cannot correctly link to GNU libstdc++ on windows.

[2022-06-21 07:05] philnik777 commented on #51551
`std::to_string` doesn't tag the string properly if the dylib isn't build with the debug-mode enabled. Running the debug-mode without a debug-dylib isn't a supported configuration anymore, so I'm closing it.

[2022-06-21 07:05] #51551 closed

[2022-06-21 07:10] philnik777 commented on #53669
This happens most likely because the dylib wasn't built with the debug-mode enabled. This isn't a supported configuration anymore, so I'm closing this.

[2022-06-21 07:10] #53669 closed

[2022-06-21 07:17] stinos opened #56136 "[clang-format] QualifierOrder and QualifierAlignment don't treat additional attributes well"
I'm guessing this is going to be the case for any kind of extra attribute, hence the title, but we're witnessing this in function declarations annotated with a `dllexport` macro; with `QualifierAlignment = Left` or with

[code]

[code]

gets turned into

[code]

Whereas it would arguably make more sense to leave that as-is because `__declspec` isn't part of the return type which is what it, in my

[2022-06-21 07:49] davidbolvansky commented on #56061
Interestingly, ICC generates such LEAs with just -O3.

[2022-06-21 08:09] LeoneChen opened #56137 "How to pass addition arguments to llvm pass registered by new pass manager"
When I use `clang-13 -fpass-plugin` to load pass, and use `mllvm` to provide addition arguments

![image](https://user-images.githubusercontent.com/35480440/174749033-579b4f68-8af7-4f1d-8d15-dcc35ab09bab.png)

Then I get error

![image](https://user-images.githubusercontent.com/35480440/174749414-d4978b92-6fe3-44e6-b755-47b26463cfad.png)

But when I use `clang-13 -flegacy-pass-manager -Xclang -loa

[2022-06-21 08:55] mango-wyc commented on #56113
url is 404 error

[2022-06-21 10:12] nikic commented on #56103
Fixed by https://github.com/llvm/llvm-project/commit/edcc68e86f784fa6e1514f230a3c89a275a66bb6.

[2022-06-21 10:12] #56103 closed

[2022-06-21 10:24] DavidSpickett commented on #56125
My point was that you might be arguing to move lldb-server to using swbreak as well/instead, to align it with gdbserver. That is more work and like you said we already have an equivalent for lldb to lldb-server connections.

If you can make lldb understand swbreak and test it without any lldb-server changes that's fine. I know we can test lldb-server by supplying it packets (e.g. `lldb/test/API/to

[2022-06-21 11:17] PeixinQiao opened #56138 "[flang] external procedure name generated not consistent with `flang-new` and `bbc + tco`"
[code]
The external procedure name `testfunc_` can be interoperated with C.
[code]
The external procedure name `_QPtestfunc` cannot be interoperated with C.

Is this designed on purpose? The `flang-new` in `fir-dev` does not support this. Is this new supported feature somewhere in llvm main?
@jeanPerier @schweitzpgi

[2022-06-21 11:26] kiranchandramohan commented on #56138
Yes, the ExternalNameConversion pass is enabled in the flang-new driver in llvm-project/main. https://reviews.llvm.org/D121171

[2022-06-21 11:28] kiranchandramohan commented on #56138
We did not cherry-pick that patch to `fir-dev`. So `fir-dev` `flang-new` does not have the `ExternalNameConversion` pass.

[2022-06-21 11:29] PeixinQiao commented on #56138
@kiranchandramohan @clementval Got it. Thanks a lot.

[2022-06-21 12:13] banach-space commented on #56138
I agree that this is expected (i.e. that's what we implemented), but making `flang-new` and `bbc`+`tco` behave consistently would make more sense to me personally.

In any case, this is the direction that was decided in https://reviews.llvm.org/D121171.

[2022-06-21 12:14] kiranchandramohan opened #56139 "[Flang] Lowering error with optional arguments and strings"
A lowering error is seen when optional arguments and strings are used together in an if statement..

Error (originally seen with cam4)
[code]
Reproducer
[code]

[2022-06-21 12:15] clementval commented on #56138
`bbc` and `tco` are purely dev test tool. It makes sense to not have the mangling on by default on them.

[2022-06-21 12:22] kiranchandramohan opened #56140 "[Flang] Assertion failure in lowering for Reshape Intrinsic"
An assertion failure is seen when particular type of inputs and outputs are present for the Reshape intrinsic.

Assertion (originally seen in cam4)
[code]
Reproducer
[code]

[2022-06-21 12:47] kiranchandramohan opened #56141 "[Flang] Assertion failure while lowering to LLVM"
An assertion failure is hit while lowering to LLVM. The source-level reproducer is provided. An FIR level reproducer is not yet available.

Assertion (originally seen with cam4)
[code]
Reproducer
[code]

[2022-06-21 12:58] vfdff opened #56142 "[sve] crash on function LowerOperation in pass AArch64 Instruction Selection"
see https://gcc.godbolt.org/z/MbanhWb8o, and my local bt information as following

[code]

[2022-06-21 13:00] kiranchandramohan opened #56143 "[Flang] FIR verification failure with select"
A verification failure is seen with select and strings.

Verification Error (Originally seen with cam4)
[code]
Reproducer
[code]

[2022-06-21 13:14] #53269 closed

[2022-06-21 14:45] labath opened #56144 "LLDB cannot recognise assertion failures on new glibcs"
New glibcs (circa 2.34) have an extra frame on top of the assert stacks. This frame belongs to the `__pthread_kill_implementation` function, but (as the name implies) this is a private implementation detail. In fact, if the user does not have debug info for the c library, then lldb will not even know the name of that function. frames below that belong to `raise` and `abort` (public functions), but

[2022-06-21 15:00] vfdff commented on #56142
candidate MR: https://reviews.llvm.org/D128283

[2022-06-21 15:04] davidbolvansky commented on #56129
Given that patch caused so many problems, it should be reverted.

[2022-06-21 15:36] DennisYurichev opened #56145 "FYI: consuming too much RAM during build"
If to run cmake with no -j option, it may use all CPU cores available.
But during linking phase, this may consume all RAM available, which leads to extensive paging.
I had to build it with "-j 1".

[2022-06-21 15:39] topperc commented on #56145
You can limit the number of link jobs by passing `-DLLVM_PARALLEL_LINK_JOBS=<num>` to cmake

See https://llvm.org/docs/GettingStarted.html#common-problems

[2022-06-21 15:41] DennisYurichev commented on #56145
Yes, I built with Ninja.

[2022-06-21 16:15] DennisYurichev commented on #56145
Of course, I'm a noob and stranger to LLVM folks, maybe I shouldn't give advice, but I think linking phase should be more RAM-friendly...

[2022-06-21 16:17] topperc commented on #56145
Which linker are you using? And what CMAKE_BUILD_TYPE are you using?

[2022-06-21 16:30] BaoshanPang opened #56147 "optimization oppotunity with option "-mattr=+unaligned-scalar-mem""
With the fix for https://github.com/llvm/llvm-project/issues/56110,
For such ll code:
[code]
When compile it with -mattr=+unaligned-scalar-mem, such asm code would be generated:

[code]

But ideally I think such code should be genereated:

[code]

[2022-06-21 16:32] zchrissirhcz opened #56148 "[BUG] Clang 14.0.5 unable to execute command: Aborted"
## Purpose
I was read this tutorial http://www.cs.cornell.edu/~asampson/blog/llvm.html , when execute this command it failed:
[code]
The CC points to my compiled clang-14.0.5 compiler.
The error message is in the last with attached diagnostic files.

## Basic Environment
Ubuntu 20.04, x86_64
[code]
## Reproduce steps
[code]

## The output
[code]
[dianostic_msg_files.tar.gz](https://github.com/llvm

[2022-06-21 16:36] zhendongsu opened #56149 "wrong code at Os and above with -mllvm -enable-newgvn"
This appears to affect clang 5.* and later.

[code]

Compiler Explorer: https://godbolt.org/z/sT1G5seEP

[2022-06-21 16:40] nickdesaulniers commented on #48553
Almost; there are 4 very similarly named flags:
1. `-mstack-protector-guard=`
2. `-mstack-protector-guard-reg=`
3. `-mstack-protector-guard-offset=`
4. `-mstack-protector-guard-symbol=`

7c3fea7721e421de235917d9454d448f976500fc implements 1-3.  Clang is still missing support for 4 which is used by the Linux kernel when building the 32b x86 Linux kernel.

[2022-06-21 16:40] nickdesaulniers commented on #46685
cc @asb

[2022-06-21 16:41] nikic commented on #56148
This is almost certainly a bug in your plugin pass, not LLVM.

[2022-06-21 16:46] #54469 closed

[2022-06-21 17:58] fhahn commented on #56149
Thanks for filing NewGVN issues. Unfortunately there are quite a lot of known issues in NewGVN, so I am not sure if it makes sense to keep fuzzing it for now, as I expect most of the new issues will be duplicates of the existing ones.

[2022-06-21 18:17] yuanfang-chen commented on #55804
Thanks for the suggestions.  I've put up a fix here https://reviews.llvm.org/D127233.

[2022-06-21 18:41] zhendongsu commented on #56149
Okay, Florian, thanks for the note; let me stop testing NewGVN for now then.

[2022-06-21 18:44] llvm-beanz commented on #55144
Landed.

[2022-06-21 18:45] nikic opened #56150 "Cherry-pick MergeFunctions fix"
In cast there will be a LLVM 14.0.6 release, it would be nice to pick up the fix for https://github.com/llvm/llvm-project/issues/55264.

[2022-06-21 18:45] nikic commented on #56150
/cherry-pick caa2a829cdf905a5e8664d96a464d414b2adb42e

[2022-06-21 18:45] llvm-beanz commented on #55108
Landed in 9f499d9d73edfc818978c64eb24b8d2d34995d76.

[2022-06-21 18:58] nico commented on #56121
858e8b17f736 did the cop-out for now.

But still slow when e.g. linking a mac/arm binary on a linux system.

[2022-06-21 19:05] ayrivera-intel commented on #55726
Hi @jdoerfert ,

Sorry for taking your time. I wanted to ask if you have any comments or thoughts about this issue since you authored the changes for [AAPointerInfo](https://reviews.llvm.org/D104432). Does AAPointerInfo expects that the states for all attributes are generated? Again, thanks for your time.

[2022-06-21 19:30] llvm-beanz opened #56151 "HLSL/DXIL SV_GroupIndex CodeGen"
Clang supports parsing the `SV_GroupIndex` semantic and applying it as an attribute, however it currently does not support code generation.

[2022-06-21 19:42] fhahn commented on #56145
Thanks for the report. As this is not really an actionable issue I'm going to close this one. Some suggestions can be found at the link @topperc mentioned: [ttps://llvm.org/docs/GettingStarted.html#common-problems](https://llvm.org/docs/GettingStarted.html#common-problems)

[2022-06-21 19:42] #56145 closed

[2022-06-21 19:55] djtodoro commented on #55915
Adding **--enable-new-pm=0** to the `opt` I see the same LLVM IR code for both with and without debug info (so the problem does not exist with the legacy PM).

[2022-06-21 20:00] djtodoro commented on #55915
The weird thing is that, in the debug info case, it somehow changes the loop form (but the LLVM IR Function is the same) outside the LICM Pass itself (may be in the `LoopPassManager`) from `%for.body<header>,%if.then,%land.rhs,%land.end,%if.then1,%for.inc11<latch><exiting>,%for.body4.preheader,%land.rhs.1,%land.end.1,%land.rhs.2,%land.end.2` to `%for.body<header>,%if.then,%for.body4.preheader,%lan

[2022-06-21 20:59] ishaangandhi opened #56152 "[clang-tidy] False positive for misc-unused-parameters"
Code in `test.H`:
[code]

Command:
[code]

Output:
[code]

What I would want to happen is the error to be reported, but not the warning.

Interestingly, that is what happens if you just change the function _slightly_:
[code]

Using clang-tidy on that, you get:
[code]

clang-tidy v13.0.0

[2022-06-21 21:02] EugeneZelenko commented on #56152
Could you please try 14 or `main`? https://godbolt.org should be helpful.

[2022-06-21 21:42] #50402 closed

[2022-06-21 21:58] nickdesaulniers opened #56153 "unprofitable SCEV/INDVARS transform"
[code]
[code]
produces
[code]
unfortunately the `udiv` we got from SCEV is going to be lowered to an relatively expensive libcall to `__aeabi_uldivmod` (32b x86 is also affected, the libcall is `__udivdi3`). So we may have eliminated the loop body, but we replaced it with a relatively expensive libcall.

Forked from https://github.com/ClangBuiltLinux/linux/issues/1635. https://github.com/ClangBuil

[2022-06-21 22:19] jdoerfert commented on #55726
I'll upstream a fix tonight

[2022-06-21 22:28] royjacobson opened #56154 "Concepts 'more constrained' not detected for member functions"
https://godbolt.org/z/bvKGhY4Yz

[code]

This should compile, I think, but it doesn't. For some reason MSVC also say that `a.f()` is ambiguous.

[2022-06-21 22:30] nickdesaulniers commented on #56153
FWIW, backtrace looks like:
[code]
so `llvm::ScalarEvolution::howManyLessThans` can end up inserting divisions.

[2022-06-21 22:38] preames commented on #56153
Having a backedge expression result in a udiv is pretty fundamental.  That's the core goal of SCEV's design.

We could potentially exploring making RLEV cost based, but we've talked about that before, and we have pretty solid reasons for wanting to treat it as a canonical form.

On the target which doesn't have udiv, can you give a feeling for the relative cost of the libcall and loop?  Are we tal

[2022-06-21 22:40] ishaangandhi commented on #56152
Exists in `clang-tidy` 15 as well:
[code]

[2022-06-21 22:50] tstellar commented on #45485
/cherry-pick 6edfe45a63125a8938a5bea13534a118b0e31023 86c1d075bb32101fe1c403e873ce33945bfa9626

[2022-06-21 22:53] tstellar commented on #45485
Do we have a -Werror buildbot that we could enable for the release branch?

[2022-06-22 00:33] xiangzh1 commented on #48553
Yes, I remember I implemented some, let me try to support the 4 (some days later).
Please can you give me the requirement of support "-mstack-protector-guard-symbol=" ?

[2022-06-22 02:13] nickdesaulniers commented on #48553
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=3fb0fdb3bbe7a

[code]
[code]
should produce references to:
[code]
operands rather than `%fs:40` if the first two flags are removed.

[2022-06-22 02:31] #55726 closed

[2022-06-22 02:52] #56138 closed

[2022-06-22 02:53] PeixinQiao commented on #56143
Are these issues open to anyone to fix?

[2022-06-22 03:03] yangyibiao opened #56155 "lldb prints wrong value for -O1"
$ clang --version
[code]
$ lldb --version
`lldb version 15.0.0`

$ cat small.c
[code]

$ clang -g -O1 small.c; lldb a.out
[code]

We can found that, lldb prints `a = 0`.  I was wondering that the correct output should be `a = 1`.

[2022-06-22 04:13] MaheshRavishankar opened #56156 "Commit that adds Float16 type support causes correctness error downstream"
Commit https://github.com/llvm/llvm-project/commit/655ba9c8a1d22075443711cc749f0b032e07adee was found to be root cause of a correctness when IREE was rebased on top of LLVM tree. The correctness error shows up on an fp16 test compiled for x86. In MLIR it is specified as follows
[code]
This is translated to the following LLVM IR.
[code]

With commit https://github.com/llvm/llvm-project/commit/655ba

[2022-06-22 04:14] MaheshRavishankar commented on #56156
@phoebewang could you revert the commit that is the root cause while the issue is fixed. I am happy to help with providing artifacts for help traige and test the fix.

[2022-06-22 04:25] #56039 closed

[2022-06-22 04:50] #55922 closed

[2022-06-22 05:17] phoebewang commented on #56156
@MaheshRavishankar Thanks for reporting it. I saw you have disable the test. Can I take a try to fix it in a separate patch before reverting?

[2022-06-22 05:47] foutrelis commented on #53684
@tstellar Do you believe this has any potential to cause issues on Arch (and Fedora?) with llvm13-libs shipping an ld.so.conf.d file containing `/usr/lib/llvm13/lib`? From what I can tell, the `libclang.so.13` library in there (which links to `libLLVM-13.so`) has precedence over clang 14's `/usr/lib/libclang.so.13`. The latter links to `libLLVM-14.so` so they're not completely equivalent.

I imagi

[2022-06-22 06:51] kiranchandramohan commented on #56143
Yes, @PeixinQiao. Please assign it to yourself if you are working on it.

[2022-06-22 07:16] #56075 closed

[2022-06-22 07:42] PeixinQiao commented on #56143
Thanks @kiranchandramohan . I will take a look at this.

[2022-06-22 07:48] phoebewang commented on #56156
Is it possible a runtime issue like #55992 ?

[2022-06-22 07:51] dwblaikie commented on #55760
Yeah, with the updated/edits to the previous comments that sounds right to me - looks like (@yangyibiao could you confirm this?) the behavior's equivalent, but we went from "<variable not available>" to "<Could not evaluate DW_OP_entry_value.>". - yeah, maybe the latter could be more precise about why it couldn't be evaluated, but it's equivalent functionality (& in other cases the runtime could p

[2022-06-22 08:10] tstellar commented on #53684
@foutrelis I think having two versions of libclang.so.13 installed on your system (one linking with LLVM13 and one with LLVM14) is likely to cause issues.  I would recommend trying to avoid this.  Since this has been an issue for many people I'm wondering if we should revert this change and switch back to the soname matching the version number.

[2022-06-22 08:58] markuslavin commented on #55914
[D127208](https://reviews.llvm.org/D127208) landed. Problem solved so closing ticket.

[2022-06-22 08:58] #55914 closed

[2022-06-22 08:59] maribu opened #56157 "[AVR] missing built-in defines"
avr-gcc [provides a number of built-in defines](https://gcc.gnu.org/onlinedocs/gcc-10.2.0/gcc/AVR-Options.html) that is useful to implement context switching code for AVR, most notably `__AVR_3_BYTE_PC__`, `__AVR_2_BYTE_PC__`, `__AVR_HAVE_RAMPD__`, `__AVR_HAVE_RAMPX__`, `__AVR_HAVE_RAMPY__`, `__AVR_HAVE_RAMPZ__`. There are also other built-in defines that are useful to provide optimized inline ass

[2022-06-22 08:59] kasperk81 commented on #26779
https://github.com/llvm/llvm-project/commit/9590c532b892743040b7a3ea8a8308098e1aff1e fixed this.

[2022-06-22 09:09] mydeveloperday commented on #56136
Its a macro, clang-format can't look deep into macro it see app_dll as an identifier which could be a class or typedef

`const app_dll` is correct

you can avoid this by

a) putting app_dll  in CAPITALS  APP_DLL  (as all macro should be right? ;-)
b) putting app_dll  into something like StatementMacros I think..

[2022-06-22 10:03] mstorsjo commented on #54773
CC @ericastor

[2022-06-22 10:22] bcl5980 commented on #54543
f0071d43 can avoid generate issue IR.
Issue IR can be fixed in DAG after: 6c951c5ee

So Close the ticket for now.

[2022-06-22 10:59] AaronBallman opened #56159 "-Wreserved-macro-identifier does not catch command line macros"
If you define or undefine a reserved macro name within the TU, we properly diagnose it. But if you define or undefine a macro using the command line, we do not issue any diagnostics. I think the command line should be treated the same as within a TU.

Live example: https://godbolt.org/z/3edqooWr9

[2022-06-22 11:40] zchrissirhcz commented on #56148
Thank you for the hint. I checked again and guess it was due to two or more version of clang/llvm on my machine. (As the pasted log shows, it use llvm-10 header file, which is not expected.)  I removed my llvm-10 related development package and explicitly specify LLVM_DIR to my llvm-15's and now it works.

[2022-06-22 11:40] #56148 closed

[2022-06-22 12:14] max-quazan opened #56160 "[LSR] Assertion `(!F.ScaledReg || !F.ScaledReg->isZero()) && "Zero allocated in a scaled register!"' failed."
https://godbolt.org/z/65j5Wfd95

Run `llc` or `opt -loop-reduce -S` on the following test:
[code]

Crash would be
[code]

[2022-06-22 12:18] max-quazan commented on #56160
The bug is pretty old (maybe it has been there for months), our triage failed to find the patch.

[2022-06-22 12:44] matan7890 commented on #55934
Hey @steakhal, thanks for approving the FP!
Is there anything I can do to help? Is there any information missing I can try to provide?
I'm not familiar with clang's code, but I can try to search for the bug if you could guide me to the relevant code area in general, though I guess someone with better understanding of the code can find a solution faster.

[2022-06-22 12:56] #56152 closed

[2022-06-22 13:13] ericastor commented on #54773
`llvm-ml` is definitely not "100% complete" yet. For instance (as highlighted here):

- `@@` is not yet implemented
- `SEGMENT`'s additional parameters are not yet supported.

As for nesting PROC/ENDP pairs... I'm surprised to learn `ml64.exe` supports that, but of course we can add that as a feature.

As with all aspects of open-source development, we welcome additional contributions!

[2022-06-22 13:23] nico commented on #56121
0baf13e282abe226069d9e18ca60dc63dfcbdb28 did the parallelization. (Commit message has some metrics.)

After these changes, things are fairly fast on macOS. Linking an arm64 mac binary on different hosts is still 2.55% slower than it needs to be; the fix for that is to make LLVM's SHA256 implementation faster as described in https://github.com/llvm/llvm-project/issues/56121#issuecomment-1160432972

[2022-06-22 13:26] mstorsjo commented on #54773
FWIW, other options for building LLVM entirely self-hosted without relying on `ml64.exe` would be to disable the blake3 assembly (you should be able to set `-DLLVM_DISABLE_ASSEMBLY_FILES=ON` when configuring the build), or coerce it to use the gnu style `.S` assembly even in clang-cl mode, somehow (since clang can assemble that just fine).

[2022-06-22 13:29] statham-arm commented on #54773
Yes, I found `LLVM_DISABLE_ASSEMBLY_FILES`, and that's how I worked around this. I did wonder about using the GNU-style files, but didn't fancy trying to figure out how to make the cmake system use them in what's otherwise a Windows-style compilation.

I hadn't quite realised that llvm-ml was in an unfinished state; if I had, I might not have bothered raising this bug. I assumed it was complete en

[2022-06-22 13:38] ericastor commented on #54773
Please don't apologize for raising the issue... that's how we'll get these all identified & fixed! (I wasn't even aware of the blake3 assembly files somehow, and getting that working is a good next target.)

[2022-06-22 14:15] mstorsjo commented on #54773
Well "LLVM's own sources" is also a rather relative concept, as the blake3 assembly files were imported from a third party pretty recently. Before that, llvm-ml did pass the bar of being able to build LLVM's MASM OpenMP assembly code though!

And indeed, when the tool is complete enough for some use cases, getting to know the other use cases that still don't work is valuable - that's more meaningf

[2022-06-22 14:43] teresajohnson commented on #55160
I suppose I got cc'ed because of my WPD work, but this seems quite different - at least from the examples in the godbolt link. I'm not very familiar with CallSiteSplitting, but can it be expanded to handle this case? @alexander-shaposhnikov can you show a short example for each of your 2 options?

[2022-06-22 15:29] MaheshRavishankar commented on #56156
Thanks @phoebewang for taking a look. You are right that the issue is that the patch changes lowering to `__extendhfsf2/__truncfhf2` is the issue. We have our own implementation of `__gnu_h2f_ieee/__gnu_f2h_ieee`. Making the `__extendhfsf2/__truncfhf2` use the same implementation leads to errors. We are working in an environment where we cannot assume that the deployment target has all the standar

[2022-06-22 15:33] #54708 closed

[2022-06-22 15:40] MaheshRavishankar commented on #56156
That would be fine. But it is a support regression for us. It might well be that our use case wasnt part of the consideration here. I am happy to use any approach that you suggest to fix the issue (including changes to our code base). For now I am disabling the test that is failing, but it has cascading effects. I really hope we can (with your help) fix the issue.

[2022-06-22 15:42] jpeyton52 commented on #54708
No problem :) ! Thanks again for bringing this issue to our attention.

[2022-06-22 15:50] Bu11etmagnet opened #56161 "Building BLAKE3 assembler implementation fails on MacOS"
After `[acd64d8e85f69467c64af833ef6b38b807bd9b4b] [Support/BLAKE3] CMake: Check for 'IS_X64' or 'CMAKE_OSX_ARCHITECTURES' before adding the assembly files`, building on a Mac Mini (Mid 2011, Core i5, MacOS 10.13.6 High Sierra) doesn't work anymore:

[code]

It was working perfectly fine until then. The commit was found by `git bisect`; versions before that still compile.

[code]

[2022-06-22 16:17] yangyibiao commented on #55760
@dwblaikie After reading @jmorse 's detail explanation. I agree that thest two bbehavior are equivalent and the latest one would be more precise.

[2022-06-22 16:23] regehr commented on #53835
this no longer crashes

[2022-06-22 16:23] #53835 closed

[2022-06-22 16:34] #56160 closed

[2022-06-22 17:16] #55928 closed

[2022-06-22 18:23] He3lixxx opened #56162 "Loop-Idiom optimization into memcpy doesn't trigger for 16-byte struct with local temporary copy"
Given this code ([godbolt](https://godbolt.org/z/eqorzE7zE))
[code]

clang optimizes the loop into a `memcpy` call. However, when uncommenting the second `uint64_t` member `b`, it doesn't do that anymore.

I've played around a bit with different struct sizes using
[code]
and it seems the optimization is only applied for sizes 1, 2, 4 and 8, but not for higher powers of two (16, 32, 64) and not for

[2022-06-22 18:41] dpreobra opened #56163 "[AMDGPU][MC][GFX11] Some VOP3.DPP8 opcodes cannot be decoded"
An example of failed test:

    0x00,0x00,0xc2,0xd4,0xe9,0x04,0x02,0x00,0x01,0x77,0x39,0x05

Expected output:

    v_cmpx_eq_i32_e64_dpp v1, v2 dpp8:[7,6,5,4,3,2,1,0]

Actual result:

    v_dot2acc_f32_f16 v156, v1, v187 ; encoding: [0x01,0x77,0x39,0x05]

See also bug #56065. The root cause is the same.
A fix is pending.

[2022-06-22 18:44] Bu11etmagnet commented on #56161
Seems to be  working after #69d9437472851290b5db54661c336284f7ffc9a8

[2022-06-22 18:52] dpreobra commented on #56091
Fixed by commit 485e8b4f63efc4717b326e46b499c944e443fe6d.

[2022-06-22 18:52] #56091 closed

[2022-06-22 19:17] nemanjai commented on #56052
I am not opposed to removing the claim that the analysis is preserved.

[2022-06-22 19:58] AaronBallman opened #56164 "Precommit CI in an (entirely) broken state"
The precommit CI bot appears to be broken again:
[code]
As an example: https://buildkite.com/llvm-project/diff-checks/builds/111361 but I've been seeing it in most of my reviews today.

[2022-06-22 20:06] efriedma-quic commented on #56153
The compiler-rt routines for division are not very well optimized; we're probably talking about hundreds of cycles if we're using the 64-bit target-independent divide routine on a 32-bit target.  We could probably do better, but still pretty expensive in any case.  For x86 specifically, we do have an optimized assembly routine for __udivdi3, though.

We also don't have any compiler optimizations f

[2022-06-22 20:17] metaflow commented on #56164
I have stopped the offending bot.

[2022-06-22 20:31] mpermino opened #56165 "Backend error when compiling x86 AMX-INT8 code with -O0"
Reproduced @ OS Windows 11, clang 14.0.5 (the binary from https://github.com/llvm/llvm-project/releases/tag/llvmorg-14.0.5).

[code]

With `/O2` it compiles successfully.
The code is as small as:

[code]

[2022-06-22 20:43] yuanfang-chen commented on #56154
Just did a search and found the very interesting PR (https://reviews.llvm.org/D119544) you mentioned. Yeah, I think that should fix this bug.

[2022-06-22 23:50] ldalessa opened #56167 "clang fails to compile constexpr std::vector from libstdc++"
Now that libstdc++ has a fully constexpr c++20 vector, I'd like to start using it, however it seems to trigger a lifetime tracking bug in llvm.

[code]

live: https://godbolt.org/z/qrfxPGxYY

[2022-06-23 00:42] JohelEGP opened #56168 "Stack dump on use of injected-class-name in a templated friend declared in a base type"
See https://godbolt.org/z/cK7xEMj96.

[code]

[code]

[2022-06-23 00:44] phoebewang commented on #56156
Yes, the implementation of `__extendhfsf2/__truncfhf2` has wrong ABI assumption. This patch changes the calling conversion from GPR to FPR. So you may need some changes like this:
[code]

Another approach is to assign `f16c` feature with the IR so that backend will lower to the native instructions rather than library.
`F16C` was supported by Core since Ivy Bridge, it should work for all modern X86

[2022-06-23 00:44] JohelEGP commented on #56168
#54590 may be related.

[2022-06-23 02:12] Peter9606 opened #56169 "[OpenMP for MIPS] A "#else" is missed here?"
https://github.com/llvm/llvm-project/blob/1dd2c93a660cd5de0769ff88634fe149904caa17/openmp/runtime/src/kmp_affinity.h#L257

Don't see any reason that `#error` should be put here, but for arch that doesn't support sched_setaffinity and sched_getaffinity. So I guess a "#else" is missed.

[2022-06-23 02:23] dyung opened #56170 "A/F: `getSignificantBits() <= 64 && "Too many bits for int64_t"' after 6c951c5ee6d0b"
We have an internal test that started hitting an assertion failure which I bisected to commit 6c951c5ee6d0b848877cb8ac7a9cb2a9ef9ebbb5. Consider the following code:
[code]
If compiled with optimizations enabled with a compiler built that includes 6c951c5ee6d0b848877cb8ac7a9cb2a9ef9ebbb5, you will hit an assertion failure:
[code]

[2022-06-23 04:45] MaheshRavishankar commented on #56156
That still doesnt work. I tried what you had as well as
[code]

Both dont work. Is there a way we can keep the original behavior w.r.t to generating ```__gnu_h2f_ieee/__gnu_f2h_ieee```. I am not sure adding f16c feature works for us.

[2022-06-23 07:09] phoebewang commented on #56156
Ohh, my mistake! It needs a reinterpret_cast rather than static_cast. It should be:
[code]

[2022-06-23 07:26] triplef commented on #54556
https://reviews.llvm.org/D123898

[2022-06-23 07:31] ByteNacked commented on #56125
Okay, thanks,
I'll look into `lldb/unittests/Process/gdb-remote/GDBRemoteCommunicationClientTest.cpp` .

[2022-06-23 08:30] labath commented on #56125
Tests for the opposite direction can be found in `test/API/functionalities/gdb_remote_client/`

[2022-06-23 08:40] labath commented on #56079
Could this be because you have debug info for some of the code that gets linked in to the application (crt_begin and friends). The test probably needs to be relaxed to account for that.

[2022-06-23 09:12] bbennetts opened #56172 "Namespace split across lines"
With the attached format config lines are being split at namespace usages.  This is really ugly, is there a configuration change to fix this or is it a bug?

[code]

[namespaceSplit.h.txt](https://github.com/llvm/llvm-project/files/8965775/namespaceSplit.h.txt)
[dot-clang-format.txt](https://github.com/llvm/llvm-project/files/8965776/dot-clang-format.txt)

[2022-06-23 09:13] dyung opened #56173 "Building LLVM fails with older versions of VC++ compiler after adding /permissive- switch in df6291a6"
We hit an issue internally where our Windows build bots were suddenly failing to build LLVM which I bisected back to be caused by df6291a666d3be784e2bbd00e4dbcdcceaf0196f.

According to the LLVM documentation at https://llvm.org/docs/GettingStarted.html, the minimum required toolchain for building using Visual Studio is Visual Studio 2019 16.7. According to wikipedia, Visual Studio 2019 16.7 corre

[2022-06-23 09:25] bbennetts commented on #56172
The ticket actually has a typo - however problem still occurs with it fixed.
[namespaceSplit.h.txt](https://github.com/llvm/llvm-project/files/8965895/namespaceSplit.h.txt)

[2022-06-23 09:31] bbennetts commented on #56172
It has been pointed out that my description is ambiguous; specifcally for this ticket I am referrinf to :+1:

[code]

[2022-06-23 10:20] elManto opened #56174 "Memory Corruptions in Clang frontend"
I found some ASAN violations in the clang frontend. The easiest way to reproduce is:

git checkout 6ab1ed43f5ebef581c
cmake ../llvm -G 'Unix Makefiles' -DCMAKE_C_COMPILER=clang-14 -DCMAKE_CXX_COMPILER=clang++-14     -LLVM_USE_SANITIZE_COVERAGE=YES -DLLVM_USE_SANITIZER=Address '-DLLVM_ENABLE_PROJECTS=llvm;clang;clang-tools-extra'   -DCMAKE_BUILD_TYPE=Release -DLLVM_TARGETS_TO_BUILD:STRING=Hexagon
m

[2022-06-23 10:31] JonPsson opened #56175 "CodeGenPrepare does not sink some address computations"
While working on improvements of FP addressing, I have seen a regression that seems to origin in CodeGenPrepare.

_Short background: SystemZ has 16 FP regs and 32 overlapping vector regs. The FP memory instructions support 20-bit displacements, while the vector instructions only 12-bit. Currently the SystemZ isLegalAddressingMode() returns true for a 20-bit displacement in these cases, but I think

[2022-06-23 10:33] jayfoad commented on #56052
https://reviews.llvm.org/D128421

[2022-06-23 10:40] AaronBallman commented on #56164
Thanks, I can confirm that the Precommit CI seems to be fixed now, so I'm closing this issue.

[2022-06-23 10:40] #56164 closed

[2022-06-23 10:58] dpreobra commented on #56163
Fixed by commit dcb24f93afd4c0c25329fd7a245ec86234462628.

[2022-06-23 10:58] #56163 closed

[2022-06-23 11:36] RKSimon commented on #56170
reduced:
[code]

[2022-06-23 12:31] #55716 closed

[2022-06-23 12:50] elevendroids opened #56176 "clang-format: misformatted method body when declared with trailing return type syntax followed by a requires clause"
`clang-format` incorrectly formats methods declared with the trailing return type syntax followed by a `requires` clause.

Tested version:
[code]

Platform:
Arch Linux, x86_64

---

Consider this example:

[code]

Reformatting it with `clang-format` (using the default configuration) leads to badly indented function body:
[code]

When using the regular return type syntax... :
[code]

... the method

[2022-06-23 13:30] npanpaliya opened #56177 "Unable to download tar.gz of certain commits"
Tensorflow 2.8 and 2.9 needs following commits of llvm in the form of .tar.gz -
1. 55c71c9eac9bc7f956a05fa9258fad4f86565450
2. 1cb299165c859533e22f2ed05eb2abd5071544df

I am able to download .zip of these commits but not .tar.gz. This had been working but suddenly it started failing for me today (after I cleared bazel cache, so probably it started to fail even earlier than today). As a result of t

[2022-06-23 13:47] fhahn commented on #56177
Are you referring to be able to download `llvm-project` for a certain commit as tar.gz? I think the file formats for such a download is set by Github and I doubt there is something we can do to change that.

For now, I am going to close this issue as I don't think there's anything we can do. Please check with Tensorflow for instructions on how to build Tensorflow. If I missed anything, please feel

[2022-06-23 13:47] #56177 closed

[2022-06-23 13:49] DavidSpickett opened #56178 "clang 13.0.1 miscompiles SVE VLA build of clang 14"
I'm aware the 13 branch is done with, I'm just filing this for record keeping in case others hit it.

Since https://lab.llvm.org/buildbot/#/builders/198/builds/998 it appears that the 13.0.1 we use as the host compiler is miscompiling clang in the 1st stage leading to an assertion failure when building stage 2.

This only happens with a build that is targeting SVE VLA (vector length agnostic) code

[2022-06-23 13:50] DavidSpickett commented on #56178
Closing as we aren't doing any fixes to the 13 branch (again, just opening this to keep a record).

[2022-06-23 13:50] #56178 closed

[2022-06-23 14:02] profdevc opened #56179 "how to convert a variable into llvm::value using c++ api"
for converting a constant number, like 0,1,..., we can use like  ```IRBuilder::getint8``` or ```ConstantInt::get(Type::getInt32Ty(Context), 1)  (from /llvm/example/fibonacci)```, but I don't find a way to convert a ```int8_t``` or ```int64_t``` type variable into llvm::value . Maybe the variable set from input so it is not constant.
I'd like to convert the int8_t variable in c++ code into llvm::va

[2022-06-23 14:16] npanpaliya commented on #56177
It had been working earlier. I don't know what has been changed and where. I've been building TF with these commit of llvm in .tar.gx format for months almost every day.

[2022-06-23 14:17] npanpaliya commented on #56177
@fhahn - I can't reopen this issue.

[2022-06-23 14:20] #54629 closed

[2022-06-23 14:25] fhahn commented on #56177
It is still not clear to me what is not working exactly. Could you please specify *how* you were downloading the repo?

I just tried to download a tarball of the repo for a specific commit, which still seems to work (see below). Github might have made some changes, but in that case you would have to raise the issue with Github directly.

[code]

[2022-06-23 14:29] llvm-beanz opened #56180 "HLSL RWBuffer Type"
HLSL RWBuffer type needs to be forward declared in the external sema source and expanded on a call to `CompleteType`.

Additionally the implementations for the access operators need to be fleshed out to call intrinsics. This will phase in over multiple changes.

[2022-06-23 14:34] npanpaliya commented on #56177
I'm still not able  to download `wget https://github.com/llvm/llvm-project/archive/55c71c9eac9bc7f956a05fa9258fad4f86565450.tar.gz`

Tensorflow downloads all its dependencies during the build. llvm is also one of the TF's dependencies as mentioned here https://github.com/tensorflow/tensorflow/blob/v2.8.2/third_party/llvm/workspace.bzl#L16.
So, as mentioned in this file bazel tries to download llvm

[2022-06-23 14:37] mkurdej commented on #56176
It looks as if the function braces where considered a part of the requires clause (compound requirements).
@HazardyKnusperkeks, WDYT?

[2022-06-23 14:37] pratlucas opened #56181 "[Thumb] Thumb1's frame lowering emits invalid tMOVr for targets below V6-M"
When emitting BP-based accesses to the stack, Thumb1's frame lowering is making is of a non-flag-setting low-reg-to-low-reg tMOVr instruction that is invalid for Thumb targets that do not include ArmV6-M instructions.

This behaviour can be reproduced using the folloing test (based on a case from `llvm/test/CodeGen/Thumb/frame-access.ll`):

[code]

Which results in:

[code]

[2022-06-23 15:10] fhahn commented on #56177
Right, this all seems to indicate a Github issue, not an issue with `llvm-project`.

[2022-06-23 15:28] npanpaliya commented on #56177
Okay. Thanks for your replies and help.

[2022-06-23 15:31] npanpaliya commented on #56177
Could you please help me with the link where I can create the issue with Github directly?

[2022-06-23 15:34] npanpaliya commented on #56177
Got the link.

[2022-06-23 15:44] dougallj opened #56182 "Windows AArch64 frame lowering fails to align large stack frames"
It appears that if `__chkstk` is called, and the frame requires an alignment greater than 16, the `and` operation to align `sp` is missing. This causes a crash [in x265](https://bitbucket.org/multicoreware/x265_git/src/9b59d45549f460e41a852cfd276f9b89eed2112a/source/encoder/sao.cpp#lines-786:808) (autovectorization leads to writing to `(diff | 16) - 16`), which was reported as https://github.com/H

[2022-06-23 15:46] TommyXR opened #56183 "Assertion when passing a lambda to an immediate function"
I encountered a crash on the latest version (clang-trunk x86-64) available in compiler-explorer.

https://godbolt.org/z/4ozGTasoT

The crash doesn't happen on the 14.0.0 version of the compiler.

Here is the stacktrace (everything is in the script).
[code]

Thank you!

[2022-06-23 16:07] darkhpp opened #56184 "char8_t does not correctly show up in debugger on windows"
Clang on windows does not appear to be correctly generating debugging info for `char8_t`. In the VS debugger, it shows `???`. In the lldb(the one bundled with clion), the `_Ptr` and `_Buf` are outright missing. Both debuggers cannot show `char8_t[]` local variable as well. Code snippet is from Microsoft's STL's string.

Works fine under `cl.exe`.

May be related: https://developercommunity.visuals

[2022-06-23 16:11] EugeneZelenko commented on #56184
It'll be good idea to use same version of Clang and LLDB.

[2022-06-23 16:17] kiranchandramohan commented on #56139
This seems to pass with fir-dev. So please check whether it is a missed upstreaming before continuing.

[2022-06-23 16:24] klausler commented on #55198
I have found the bug.

[2022-06-23 16:38] bd1976bris opened #56185 "[LLVM][LLD][LTO] Profile Guided Layout (--call-graph-profile-sort) does not work with FullLTO"
The CGProfilePass is not run as part of compiling the LTO object file with FullLTO, as a consequence the  .llvm.call-graph-profile section is not emitted into the LTO object file and profile guided layout (--call-graph-profile-sort) does not occur.

Profile guided layout does currently work with both ThinLTO and with normal compilation as the CGProfilePass is run appropriately for both.

[2022-06-23 16:40] understreck commented on #56183
https://godbolt.org/z/3e6ersvGn
minimised example
Bar needs to be passed a lambda it seems
Both functions need to be consteval and not just evaluated during compile time and constexpr
Happens on both -O0 and -O3
Foo taking a char is arbitrary, it is the nesting of Foo, Bar and the lambda that seems important
If the lambda is given a name and passed in as a parameter is compiles normally

[2022-06-23 16:41] bd1976bris commented on #56185
Review for potential fix: https://reviews.llvm.org/D128452

[2022-06-23 16:42] darkhpp commented on #56184
Tested with LLVM 14.0.4:
[code]

[2022-06-23 17:05] DimitryAndric opened #56186 "#line 0 with debug info: cannot have column info without line info"
As reported in https://bugs.freebsd.org/264853, compiling peg/leg (see https://www.piumarta.com/software/peg/) with clang and debug info turned on results in fatal backend errors:

[code]

This seems to be caused by the `#line 0` directives in https://www.piumarta.com/software/peg/peg-0.1.18/src/peg.peg-c. As far as I can determine, a `#line` directive should have a "non-negative decimal integer c

[2022-06-23 17:12] edfvogel opened #56187 "libc++: thread::id operators == != (others) won't compile."
Certain uses of the thread::id operators will not work when using libc++.

Here is a cut/paste from a cygwin session:

[code]

VS2019 also compiles this without error.

Not important.  Just wanted to let you know.

Ed Vogel

[2022-06-23 17:45] efriedma-quic commented on #56173
I tried out the given file with various Visual Studio versions at https://godbolt.org/ , and I didn't manage to reproduce.  I think that has all the same versions available through the Visual Studio installer, so I don't have any way to get the exact compiler you're using.  (Maybe the issue was fixed in some 16.7 patch release?)

If you can suggest some workaround, we can consider it.

[2022-06-23 17:45] edfvogel opened #56188 "libc++ - <future> missing a swap function template."
It seems libc++ is missing a swap function template.

Here's a cut/paste from a cygwin session:

[code]

Visual Studio 2019 also compiles this.

Not an important issue.  Just wanted to report it.

Thank you,

Ed vogel

[2022-06-23 18:20] rnk commented on #56155
My general opinion is that LowerDbgDeclare makes the wrong tradeoff between variable availability and accuracy, so we use `-instcombine-lower-dbg-declare=0` in Chrome. I did file a [bug](http://crbug.com/765793) to follow up, improve things, and get us all on the same page one way or another, but that did not happen unfortunately. :)

I think it makes sense to carry forward with the new assignment

[2022-06-23 18:33] majnemer opened #56189 "Missing optimization for switch from int to bool"
Consider a function like:
[code]

My clang/LLVM build gives back:
[code]

This is sort-of like writing:
[code]

I think this could be simplified further to:
[code]

For clarity, this is as-if we wrote the code initially as:
[code]

[2022-06-23 19:34] thesamesam opened #56190 "ODR warnings in AsmPrinter/DWARFLinker"
Original downstream [report](https://bugs.gentoo.org/853895) is in Gentoo from Agostino Sarubbo (@asarubbo).

Noticed when buildling LLVM 14 with `-Werror=odr` (we're doing some runs with this in Gentoo to test readiness for LTO).
[code]

This is with GCC 11.3.0. Full log: [build.log](https://github.com/llvm/llvm-project/files/8970275/build.log)

[2022-06-23 19:35] thesamesam opened #56191 "ODR warnings in SystemZGenAsmMatcher/AArch64GenAsmMatcher"
Noticed from same original bug as #56190:
[code]

[2022-06-23 19:35] dyung commented on #56173
It seems it might be a problem with the exact version we have installed on our build bots. I looked at godbolt and yes, it doesn't appear to have the same version that we are using available. If you have a copy of Visual Studio 2019 installed, here is a copy of [c1xx.zip](https://github.com/llvm/llvm-project/files/8970298/c1xx.zip) that you can use to reproduce the problem. Simply unzip the dll fi

[2022-06-23 19:37] AaronBallman commented on #21668
@appmonster007 -- I'm not certain where you've tracked this down to, but my thinking was that this was an issue in the CFG builder. We have some special logic when building a unary expression to handle `sizeof` when it evaluates its arg vs when it doesn't (with VLAs): https://github.com/llvm/llvm-project/blob/main/clang/lib/Analysis/CFG.cpp#L4173, and I was thinking we'd need to add some special l

[2022-06-23 19:46] dwblaikie commented on #56186
Fair enough. Looks like we should have an assertion in DILexicalBlock's ctor to catch this earlier and then somewhere in the call stack (I mean, DILexicalBlock could do it itself) the column should be zero'd or otherwise ignored.

[2022-06-23 20:09] vit9696 opened #56192 "[MIPS][LLD] -mno-abicalls is ignored for LTO"
For 2 empty files (t.c and k.S) do the following:

[code]

The following warnings will be generated:

[code]

The problematic one is the `ld.lld: warning: lto.tmp: linking abicalls code with non-abicalls code k.o`. The assembly code is correctly generated without ABI calls. However, LTO code apparently is generated with ABI calls despite `-mno-abicalls` argument present.

Is it a bug or shall one

[2022-06-23 20:13] MaheshRavishankar commented on #56156
This works! Thanks a lot for your input!

[2022-06-23 20:13] #56156 closed

[2022-06-23 20:19] efriedma-quic commented on #56173
I see the following possibilities:

- Declare the exact version you're using unsupported, and require a more recent 16.9 release if you're using 16.9.
- Revert the patch until we bump the minimum version requirement for some other reason.
- Add some CMake check for the exact compiler version you're using, and turn off /permissive- for that version specifically.
- Hack the source code in some way t

[2022-06-23 20:21] efriedma-quic commented on #56173
Of those options, reverting the patch entirely is probably the one I like least; I'd like to catch any errors caused by /permissive- sooner rather than later.

[2022-06-23 21:21] erikdesjardins commented on #56189
Alive2 link for convenience: https://alive2.llvm.org/ce/z/3m384E (for this specific case, not a general proof)

[2022-06-23 21:34] kiranchandramohan commented on #56139
The following upstreaming patch should fix this.
https://reviews.llvm.org/D128464

[2022-06-23 22:01] HazardyKnusperkeks commented on #56176
It's parsed as a requires expression, the detection heuristic is flawed.

[2022-06-23 23:17] mwyman opened #56193 "Objective-C++ implicit ivar access uses local `self` shadow rather than method's implicit `self`"
C++ skips the Objective-C name lookup behavior that [filters non-implicit-self](https://github.com/llvm/llvm-project/blob/7bfad7b9d8f978fa43a8d6112f7eb2462c28f6a0/clang/lib/Sema/SemaLookup.cpp#L1984-L1985), and will instead find local variables that shadow `self`:

[code]

When this shadowing occurs in a block, in Objective-C++ the `-Wimplicit-retain-self` warning is still emitted on bare ivar acc

[2022-06-24 00:14] arsenm opened #56194 "Bitcode reader asserts in lazyLoadOneMetadata"
While trying to load some bitcode from an older build from a few months ago, I ran into this assertion in the bitcode reader. Attached is patch adding reduced lit test

[code]
[0001-Bitcode-Add-asserting-bitcode-testcase.zip](https://github.com/llvm/llvm-project/files/8972128/0001-Bitcode-Add-asserting-bitcode-testcase.zip)

[2022-06-24 00:16] mysterymath commented on #56070
I've reworked https://reviews.llvm.org/D127885 to parse deplib sections from libcall-supplying object files before LTO occurs; please take a look.

[2022-06-24 01:36] vfdff commented on #56182
it is interesting, it works fine if doesn't compile with -target arm64-pc-windows

https://godbolt.org/z/zd9nMqejq

[2022-06-24 02:09] aheejin commented on #55022
Is this issue resolved? I'd appreciate more info or the reproducer. Will close this issue because this is inactive for a while now, but please feel free to reopen it when you have more info. Thanks!

[2022-06-24 02:09] #55022 closed

[2022-06-24 02:48] blitz-research opened #56195 "Clang-tidy 'use-after-move' not detected in constructors"
Hi,

Clang-tidy is not correctly finding the 'use after move' error in the constructor here (and in all ctors AFAICT), although it is in the main code. This is with 'bugprone-use-after-move' enabled.

[code]
I'm using the clang-tidy that's built-in to the last (2022.2) CLion and I'm not sure what version it is.

Bye!
Mark

[2022-06-24 02:55] #55983 closed

[2022-06-24 04:07] yamt commented on #55379
does this approach (make it consistent, introduce a new knob for `class {}`) sound good?

[2022-06-24 04:36] mttbx opened #56196 "compiler-rt riscv support"
[code]

[2022-06-24 05:03] #46827 closed

[2022-06-24 05:46] dougallj commented on #56182
Yeah, it also works fine if the frame is small enough to not require the `__chkstk` call. (https://godbolt.org/z/YnvfMcGrv)

I think the problem is in `AArch64FrameLowering::emitPrologue`, where the `if (windowsRequiresStackProbe(...))` block builds its own `sub` instruction then sets `NumBytes = 0`:

https://github.com/llvm/llvm-project/blob/0593ce5f0bbb7b9aebc5f15f60876b0bc7aad652/llvm/lib/Targe

[2022-06-24 05:53] labath commented on #56184
I suspect this happens because the pdb reader does not recognise the char8_t in the pdb info. @ZequanWu might be interested in looking at that.

[2022-06-24 06:08] kmistryic opened #56197 "make verifyMemoryOpIndexing external"
We use this function `verifyMemoryOpIndexing` from mlir quite frequently in other files, can we make it external?

[2022-06-24 06:12] HazardyKnusperkeks commented on #56176
Review: https://reviews.llvm.org/D128496

[2022-06-24 06:48] frederick-vs-ja commented on #56187
libc++ defines these operators as hidden friends, which seems non-comforming.

[2022-06-24 08:14] frederick-vs-ja commented on #56188
I don't think there's anything wrong in the template `std::swap` overload you wanted to detect. It's correctly provided by libc++.
https://github.com/llvm/llvm-project/blob/cc3ef26f60b12f1999f85bd31b51585312c8c3a9/libcxx/include/future#L1603-L1609

----
I think the problem is caused by two `swap` overloads.

The one for `__compressed_pair` (which is non-standard) is unconstrained.
https://github.c

[2022-06-24 08:22] bbennetts commented on #56172
Hi @mkurdej ,

Yes this is a better example of what I mean.  You are correct there is a point where splitting the namespace qualification would become necessary; but I would want to hazard a guess to when.

Thanks.

[2022-06-24 08:56] gengur commented on #55022
Yes, this issue is resolved. You can close. Thank you very much.

On Fri, Jun 24, 2022, 05:09 Heejin Ahn ***@***.***> wrote:

[2022-06-24 09:18] #56139 closed

[2022-06-24 10:44] k1nder10 commented on #55608
Yes, the commit you mentioned does help us. Though the function is anyway too big. Probably we'll hit the limit in the near future when more code is written.

[2022-06-24 11:09] AaronBallman commented on #21668
I don't agree that they're both evaluated correctly -- the diagnostic for `f()` is correct, but the one for `g()` is a false positive. The rule in the standard for when `typeid` evaluates its expression argument is: http://eel.is/c++draft/expr.typeid#3 (for the `g()` case) and http://eel.is/c++draft/expr.typeid#4 (for the `f()` case). `typeid` is really weird in that way, not entirely like `sizeof

[2022-06-24 11:12] ab-yb opened #56198 "Front-end crash on jemalloc tests"
[code]
[add.zip](https://github.com/llvm/llvm-project/files/8975714/add.zip)

[2022-06-24 11:57] ararmine opened #56199 "error in backend: Cannot select X86ISD::CALL for function pointer with __ptr32"
LLVM crashes in back-end for a function pointer with __ptr32 MS qualifier, cannot select CALL instruction.
Below is the C++ example:
[code]
Run **X86-64 clang (trunk)** with the following command:
`clang example.cpp -S -fms-extensions`

[code]

[2022-06-24 12:19] ararmine commented on #56199
With **X86-64 clang 14.0.0** compilation is successful but I think the generated IR is incorrect:
`@call = dso_local global i32 (i8 addrspace(270)*)* @_Z5func1PU10ptr32_sptrKc, align 8`
should be something like:
`@call = dso_local global i32 (i8 addrspace(270)*) addrspace(270)* addrspacecast (i32 (i8 addrspace(270)*)* @_Z5func1PU10ptr32_sptrKc to i32 (i8 addrspace(270)*) addrspace(270)*), align 4

[2022-06-24 12:26] orcguru opened #56200 "Build failure on AIX due to 30dfe016d4 "[CMake][compiler-rt] Use COMPILE_OPTIONS and LINK_OPTIONS""
FAILED: /buildbot_worker/official-worker/clang-aix-dev/build/lib/clang/15.0.0/lib/aix/libclang_rt.atomic-powerpc.so
: && "/gsa/rtpgsa-p2/00/xlcmpbldenv/aix/cmake-3.16.0/share/cmake-3.16/Modules/Platform/AIX/ExportImportList" -o CMakeFiles/clang_rt.atomic-dynamic-powerpc.dir/objects.exp CMakeFiles/clang_rt.atomic-dynamic-powerpc.dir/atomic.c.o && /buildbot_worker/official-worker/clang-aix-dev/build

[2022-06-24 12:36] orcguru commented on #56200
Code change in compiler-rt/cmake/Modules/CompilerRTUtils.cmake triggered the failure

[2022-06-24 12:54] #56200 closed

[2022-06-24 13:23] steakhal commented on #55934
@haoNoQ WDYT about a fix something like this?

[code]

I'll push this to review if everything goes well.

[2022-06-24 13:26] EugeneZelenko commented on #53674
@martingalvan-nordic: Looks like nobody doing that.

[2022-06-24 13:29] martingalvan-nordic commented on #53674
@EugeneZelenko are you an LLVM maintainer? Is there any way to have someone take a look at these issues?

[2022-06-24 13:57] EugeneZelenko commented on #53674
@AaronBallman, @LegalizeAdulthood, @njames93 are most active maintainers these days.

[2022-06-24 14:22] nikic commented on #55859
Candidate patch: https://reviews.llvm.org/D128532 Doesn't cover the second point though.

[2022-06-24 14:34] tambry commented on #55384
Fixed by cdc59e2202c11a6a5dfd2ec83531523c58eaae45.

[2022-06-24 14:34] #55384 closed

[2022-06-24 14:36] AaronBallman commented on #53674
I won't have the chance to look into this any time soon, but something fishy is going on.

https://github.com/llvm/llvm-project/blob/main/clang/include/clang/Driver/Options.td#L6374
https://github.com/llvm/llvm-project/blob/main/clang/include/clang/Driver/Options.td#L6485

So the driver certainly knows about these options. But when I test locally on Windows, the behavior is a bit surprising.
[code

[2022-06-24 14:41] martingalvan-nordic commented on #53674
Hi @AaronBallman thanks for looking into this. I've seen these issues with clang-tidy 13; not sure if that's the same version you're using. There's also a related issue, https://github.com/llvm/llvm-project/issues/52687.

We can help out with any testing you may need.

[2022-06-24 14:44] nikic commented on #55764
Simpler reproducer:
[code]

LegalizeInfo is a GlobalISel concept that should not be relevant for NVPTX.

From a cursory look, this seems to be a simple bug in LowerReturn: https://github.com/llvm/llvm-project/blob/8c278a27811ccf9d7a32c0a460b08069c4b3b7b5/llvm/lib/Target/NVPTX/NVPTXISelLowering.cpp#L2644

I think this should check getTypeSizeInBits() rather than getAllocSizeInBits(). For `i24` the

[2022-06-24 15:43] kjetilkjeka commented on #55764
Thanks for looking into this @nikic

I don't think it is entirely that simple. rustc promotes everything with size less than a pointer size to immediates. This means that the same must also be done for `i40`, `i48` and `i56`. I also assume that a solution should preferably also work for non-divisible-by-eight bit widths?

I just found about the GlobalISel and that it is not used for NVPTX and that

[2022-06-24 15:52] alvinhochun opened #56202 "[libc++] int-to-string conversions significantly slower on mingw"
This is the same issue as https://github.com/llvm/llvm-project/issues/40476 but specifically for mingw. The prior issue was fixed for MSVC with https://reviews.llvm.org/D59525 and the follow-up https://reviews.llvm.org/D59727, but mingw still uses the slow path requiring `__libcpp_locale_guard`.

I don't have proper benchmark data now, but converting numbers to strings using `std::ostringstream` i

[2022-06-24 16:01] #55818 closed

[2022-06-24 16:08] philnik777 commented on #54097
The feature has been implemented.

[2022-06-24 16:08] #54097 closed

[2022-06-24 16:26] #54846 closed

[2022-06-24 17:05] ZequanWu commented on #56184
Hi, I tested locally with thunk lldb, it works. I think this was fixed at  5c9e20d7d0a71439a95875ba6067f9c0fc7a4e04, which is not part of llvm 14.0.4.

[2022-06-24 17:22] zhendongsu opened #56203 "[SimplifyCFG] clang crashes at -O1, -Os & -O2 on x86_64-linux-gnu: Assertion `IterCnt++ < 1000 && "Iterative simplification didn't converge!"' failed"
It appears to be a regression from 14.0.0.

[code]

Compiler Explorer: https://godbolt.org/z/8cKcMqzKv

[2022-06-24 17:32] zhendongsu commented on #56203
Perhaps the same as or related to https://github.com/llvm/llvm-project/issues/54610

[2022-06-24 17:57] bgra8 opened #56204 "Commit that relands _Float16 type support on X86 causes correctness error"
Last reland of the _Float16 type support on X86 ([655ba9c8a1d220](https://github.com/llvm/llvm-project/commit/655ba9c8a1d22075443711cc749f0b032e07adee)) causes correctness error.

Reproducer:

`float myabs(float value) {
  if (value > 0) return value;
  return value * (-1.f);
}

// The test passes if we remove the `__attribute__((noinline))`.
void __attribute__((noinline)) apply_myabs(
    const _

[2022-06-24 18:00] bgra8 commented on #56204
@phoebewang could you revert the culprit commit while the issue is fixed? Please let me know if you need additional info.

[2022-06-24 18:09] MehdiChinoune commented on #56173
Which Windows SDK version are you using?
Windows SDKs < 10.0.16299.0 fail to compile with `/permissive-`

[2022-06-24 19:17] tmiasko opened #56205 "AddressSanitizer false positive due to incorrectly preserved writesonly attribute"
AddressSanitizer instrumentation introduces reads from shadow memory, while at
the same time preserving existing `writesonly` function attribute. This
transformation introduces undefined behaviour:

This is also problematic in practice, since a dead store elimination might
remove an unpoisoning store to shadow memory preceding call to such a function,
consequently leading to a false positive repor

[2022-06-24 19:30] petrhosek commented on #56200
Is this issue still active?

[2022-06-24 19:37] petrhosek commented on #56200
This should be addressed by https://reviews.llvm.org/D128552.

[2022-06-24 20:46] efriedma-quic commented on #56182
Note that in general, since "realignment" is actually allocating stack space, we need to call __chkstk on the allocated space.

We also need to make sure the unwind opcodes correctly reflect the realignment (probably by ending the unwind prologue before we perform the realignment).

[2022-06-24 21:02] DimitryAndric opened #56206 "[libc++] QoI for <type_traits> after 6adbc83ee9e4"
As reported in https://bugs.freebsd.org/264877, after 6adbc83ee9e4, accidentally including the "wrong" header for `std::swap` can sometimes lead to rather bewildering error messages. E.g.:

[code]

with clang and libc++ 14.0.5 leads to:

[code]

This seems to be because 6adbc83ee9e4 ("[libcxx][modularisation] moves <utility> content out of <type_traits>", by @cjdb) moved a bunch of these things to

[2022-06-24 21:21] ye-luo commented on #55361
[Failing IR.zip](https://github.com/llvm/llvm-project/files/8980734/Failing.IR.zip)

[2022-06-24 21:22] philnik777 commented on #56206
I'll do it as part of my series on modularizing `<type_traits>`, but that might take a few more weeks.

[2022-06-24 21:44] programmerjake opened #56207 "llvm.vscale.i64 not lowered to a constant"
iirc the call to `llvm.vscale.i64` should be lowered to a constant as part of legalization since x86_64 doesn't support scalable vectors, instead, instruction selection fails:
https://llvm.godbolt.org/z/q987oTf94
[code]

[code]

[2022-06-24 22:39] alexfh commented on #56204
A bit simpler test case:

[code]

[2022-06-24 22:54] alexfh commented on #56204
And an even smaller one:
[code]

And the difference in x86 assembly is:
[code]

[2022-06-25 02:22] phoebewang commented on #56204
The diff in the assembly is correct.
@bgra8 @alexfh It works with GCC 12.0. Did you build it with compiler-rt? I knew compiler-rt has a problem due to the ABI change. See https://discourse.llvm.org/t/how-to-build-compiler-rt-for-new-x86-half-float-abi/63366
Maybe I should enable the front support when I reland it so that we can build compiler-rt with the correct ABI.

[2022-06-25 02:43] #56176 closed

[2022-06-25 02:44] dyung commented on #56173
I don't think the Windows SDK version matters here. The preprocessed file that I provided above does not require any external references, and it compiles fine using `/permissive-` with 19.29.30141.0, but fails with 19.28.29915.0.

[2022-06-25 03:32] phoebewang commented on #56204
A patch to enable the `_Float16` type: https://reviews.llvm.org/D128571

[2022-06-25 03:37] kmistryic opened #56208 "lld: Quoted symbol is not supported in the ENTRY command"
`ENTRY(__start) ` works ok , lld can find the symbol and work as expected.
but `ENTRY("__start")` here lld consider even start and end quote as part of symbol name and it fails to find the name. throw below error.
`ld.lld: warning: cannot find entry symbol "__start"; not setting start address`

while both syntax works with gnu ld. please confirm if it's a bug if not why we deviated from gnu ld.

[2022-06-25 05:37] ptr1337 opened #56209 "bolt: --instrument merges files not correctly and gets overwritten from previous profile"
Hey,

As already mentioned here some time ago, https://github.com/ClangBuiltLinux/tc-build/issues/155#issuecomment-1106831385 the bug seems still present in the main branch.

If instrumenting a binary with:

[code]

The output of the profile does not get correctly merged automatically, only the latest process seems to profiled correctly.
For example if running a workload with the instrumented bina

[2022-06-25 05:39] owenca commented on #56043
https://reviews.llvm.org/D128574

[2022-06-25 06:28] ptr1337 commented on #56209
Here a example with the latest commit from main:

## without  ` --instrumentation-file-append-pid `
Binary which will be used for the example:
`/usr/lib/gcc/x86_64-pc-linux-gnu/12/cc1`

[code]
[code]

Now running a workload and compiling gcc and then optimize the binary with the profile, when watching at the profile size when running the workload you'll see big jumps between 300kb and 50+MB.
When

[2022-06-25 08:42] alvinhochun commented on #56202
Tried making a quick benchmark with [nanobench](https://github.com/martinus/nanobench/blob/v4.3.7/src/include/nanobench.h):

<details>
<summary>Benchmark code</summary>

[code]
</details>

### libc++/mingw/ucrt ([llvm-mingw-20220323-ucrt-x86_64](https://github.com/mstorsjo/llvm-mingw/releases/tag/20220323))

`clang++ locale-perf-test.cpp -o locale-perf-test-mingw.exe -O2`

|               ns/op |

[2022-06-25 09:45] timxx opened #56210 "clang analyzer: False positive NewDeleteLeaks for QObject related object creation"
See [Object Trees & Owership](https://doc.qt.io/qt-5/objecttrees.html), for example, the following code generates a false `clang-analyzer-cplusplus.NewDeleteLeaks`
[code]
Is it anyway to suppress this false report? Or how can I modify the mallocchecker to temporary disable this.

[2022-06-25 09:58] SchrodingerZhu opened #56211 "Targets linke `x86-64` can not be used in `cpu_dispatch`"
CPU targets like `x86-64` is not a valid identifier in c++.
[code]

[2022-06-25 10:35] SchrodingerZhu opened #56212 "unexpected ifunc behavior"
I tested the following with symbols of AOR lib
[code]
when I override the symbol uses runtime dispatching, everything works fine.

Then, I tried the indirect function method shown above (compiled with `-O0/-O3`, clang 13.0.0 with lld), and I started to get random crashes.

Am I doing something wrong here? Or does this appear to be a bug in LLVM?

[2022-06-25 10:37] kloczek commented on #55227
Gentle ping again 😋

[2022-06-25 10:39] SchrodingerZhu commented on #56212
With only
[code]
I can already reproduce some problems.

[2022-06-25 12:05] mgorny commented on #56032
FYI, backporting this on Gentoo broke stuff:

[code]

[2022-06-25 12:10] SchrodingerZhu commented on #56212
Mark the symbol with hidden visibility seems to fix the issue (but I don't know why this is happening)

[2022-06-25 12:30] PeixinQiao commented on #56140
Take up this. This is one corner case for reshape intrinsic. Will prepare one solution soon.

[2022-06-25 13:19] EugeneZelenko commented on #56212
Could you please try 14 or `main`? https://godbolt.org should be helpful.

[2022-06-25 13:55] vfdff commented on #56162
With my debug, I found it affected by checking **NewAI.getAllocatedType()->isSingleValueType()**, and it is brought by the first initial MR.
[code]

[2022-06-25 14:28] elevendroids opened #56213 "clang-format: misformatted function declarator when using multiple requires-expressions in and a trailing return-type"
`clang-format` seems to get confused when formatting a constrained function template, which has multiple joined requires-expressions and uses a trailing return-type syntax.

Consider this example:

[code]

After formatting it with `clang-format` - no config file, just `--style="{BasedOnStyle: llvm, AlwaysBreakAfterReturnType: All}"` - the result looks as follows:

[code]

Tested version:
[code]

P

[2022-06-25 14:34] jxhekang opened #56214 "How to get the unique name or identifier of mlir operation's operand(value)?"
Is there a good way to get  the unique name or identifier of mlir operation's operand(value)?
I didn't find the answer from : https://mlir.llvm.org/doxygen/classmlir_1_1Value.html

[2022-06-25 14:53] elevendroids opened #56215 "clang-format: constructor initializers are not formatted after a requires clause"
Hello again :grin:
Take a look at the following example:

[code]

Formatting this with `--style="{BasedOnStyle: llvm, BreakConstructorInitializers: BeforeColon, ConstructorInitializerIndentWidth: 4, PackConstructorInitializers: Never}"` produces this output:

[code]

Version tested:
clang-format version 15.0.0 (https://github.com/llvm/llvm-project.git 1f69f7ea9af4bd4e8001a25044aa026557f366f7)

Pla

[2022-06-25 15:40] AMS21 opened #56216 "clang-format: Puts noexcept specifier on empty line"
Given the following source `test.cpp`:
[code]

And running `clang-format test.cpp --style=Chromium`

results in the following output:
[code]

tested and confirmed versions
[code]

[2022-06-25 18:18] wsmoses opened #56217 "Clang emits illegal nsw which results in Incorrect answer"
Consider the program written here https://godbolt.org/z/aWzvY6o88 (reproduced below)
[code]

Semantically the multiplication between A and `12345` is an integer and when it overflows, it should wrap around to be a negative number for a final result of -740563387. GCC gets this correct, as well as Clang at O0.

However, inspecting further, we find this is not the case at Clang O1 or above and it pr

[2022-06-25 18:19] wsmoses commented on #56217
@tstellar I know you're just preparing 14.0.6 and was hoping that to be the last release, but assuming a fix for this is made shortly, is there a chance this could make it in?

[2022-06-25 18:28] wsmoses commented on #56217
Actually, I don't think the error here is in the optimization pass, but rather Clang should not be emitting nsw for the multiply, since it clearly wraps.

[2022-06-25 18:34] wsmoses commented on #56217
Per the C standard signed integer overflow is undefined, so I suppose this is just a case of Rodinia is poor code.

Closing.

[2022-06-25 18:34] #56217 closed

[2022-06-25 18:37] mizvekov commented on #56217
You should try -fwrapv for code that assumes signed overflow like this.

[2022-06-25 18:56] MaskRay commented on #56196
compiler-rt/lib/builtins (compiled to `linux/libclang_rt.builtins-riscv64.a` or `$triple/libclang_rt.builtins.a`) supports RISC-V, so I think this request is invalid.

If you think something is missing or there is a build system problem, please see http://www.catb.org/~esr/faqs/smart-questions.html and reopen with more information:

* Be precise and informative about your problem

[2022-06-25 18:56] #56196 closed

[2022-06-25 19:19] #56208 closed

[2022-06-25 19:46] #32436 closed

[2022-06-25 19:47] #14866 closed

[2022-06-25 19:47] #22669 closed

[2022-06-25 19:47] #28302 closed

[2022-06-25 19:48] #12480 closed

[2022-06-25 20:05] shiltian opened #56218 "[Clang][OpenMP] Struct data member is not captured correctly"
The parallel region of the following code doesn't execute.
[code]

[2022-06-25 20:48] HileYapak opened #56219 "senin ananı soyunu sopunu sikiyim aptal orospu evladı"
amını siktiğim

[2022-06-25 21:42] EugeneZelenko commented on #56219
Swearing on Turkish.

[2022-06-25 21:42] #56219 closed

[2022-06-25 21:43] EugeneZelenko commented on #28302
@ismail" Could you please elaborate on reason(s) and also add relevant label(s)?

[2022-06-25 21:43] EugeneZelenko commented on #12480
@ismail" Could you please elaborate on reason(s) and also add relevant label(s)?

[2022-06-25 21:44] EugeneZelenko commented on #22669
@ismail" Could you please elaborate on reason(s) and also add relevant label(s)?

[2022-06-25 21:44] EugeneZelenko commented on #14866
@ismail: Could you please elaborate on reason(s) and also add relevant label(s)?

[2022-06-25 21:44] ismail commented on #28302
After 6 years I don't know the status or this nor can check it. I don't see any value in leaving it open.

[2022-06-25 21:44] EugeneZelenko commented on #32436
@ismail: Could you please elaborate on reason(s) and also add relevant label(s)?

[2022-06-25 21:45] EugeneZelenko commented on #28302
@ismail; So `obsolete` is reasonable label.

[2022-06-25 22:15] shafik commented on #56217
Also note that using `-fsanitize=undefined` will catch this but as indicated in another comment using `-fwrapv` will give you the result you expect as well.

[2022-06-25 23:02] stellaraccident commented on #56037
I took a stab at a more complete implementation. PTAL: https://reviews.llvm.org/D128593

[2022-06-26 01:31] xivarri opened #56220 "mlir BuiltinDialect.cpp compilation error use of overloaded operator '!=' is ambiguous"
Hi - when trying to compile mlir as part of building tensorflow using bazel, I get the following error, which does seem to reflect the current code. I don't understand the code well enough to propose a fix though, any workaround? Thanks

[code]

[2022-06-26 01:33] zufuliu opened #56221 "[clang-tidy] identifier scope for `misc-confusable-identifiers`"
See https://godbolt.org/z/87r1nGjes
[code]

produces following warnings for identifiers used in the two unrelated functions.
[code]

[2022-06-26 01:51] kloczek opened #56222 "lld 14.0.6: test suite is failing"
lld build from its own dist standalone tar ball.
cmake setup:
[code]
And test suite is failing:
[code]

[2022-06-26 02:39] fsb4000 commented on #55768
We managed to fix the issue without ABI break.
Thanks @dwblaikie !
I'm closing this issue, but I can't add the `invalid` tag.

[2022-06-26 02:39] #55768 closed

[2022-06-26 03:30] PeixinQiao opened #56223 "[flang] `flang-new` linking failure: relocation R_X86_64_32 against `.bss' can not be used"
[code]
[code]
Is this because flang runtime static library built without `-fPIC`?

[2022-06-26 06:08] AldrinMathew opened #56224 "SEGV when creating `llvm::Function` & setting `llvm::TargetTriple`"
The following is the original error
[code]

And the code that causes the error is as follows
[code]

Seeing `StringMapImpl`, I initially thought that the error is related to StringRef. I separated function calls to individual statements and added debug prints to see the flow of execution upto the error. Turns out, it is caused by by `llvm::Function::Create` when it is trying to see if the `llvm::V

[2022-06-26 06:08] lattner opened #56225 "[arith] Documentation out of date"
The arith dialect only works on scalar types, but the dialect documentation still pervasively talks about tensors and vectors

[code]
  }];
[code]

[2022-06-26 06:13] hmartinez82 commented on #51286
I was able to reproduce this while building GIMP for Windows using Clang in MSYS2.

[2022-06-26 06:23] AldrinMathew commented on #56224
The statements after the first return statement is the actual code in that file. I added the steps above that to easily debug the problem. This initially happened in the IR generation phase of my language

[2022-06-26 07:38] kspalaiologos opened #56226 "clang-format: does not respect PointerAlignment with multiple declarations on a single line."
I use the following `.clang-format` file:

[code]

Given the following code:

[code]

I expected the following output after executing `clang-format -i test.c`:

[code]

Unfortunately, `PointerAlignment: Middle` is not respected when there are many declarations on a single line:

[code]

I use `Debian clang-format version 13.0.1-6` on `Linux legendre 5.18.0-2-amd64 #1 SMP PREEMPT_DYNAMIC Debian 5.1

[2022-06-26 08:25] LuoYuanke commented on #56165
This has been fixed in https://reviews.llvm.org/D125075.

[2022-06-26 08:29] DeVaughn97 opened #56227 "Clang doesn't read Direct X9 commands in referenced file DBOData.h"
Hi I'm trying to get Clang to generate an assembly file from my C++ file and for some reason clang can't read D3DXMATRIXA16 despite being defined in  DBOData.h

![image](https://user-images.githubusercontent.com/94544102/175806157-18c82114-e0aa-42c4-b93a-6b9a323014f1.png)

any ideas on why clang can't read this definition?

[2022-06-26 08:56] #56165 closed

[2022-06-26 09:13] NJUocean opened #56228 "[LLVM-COV] DEFFUNC callsites result wrong coverage statistics under while-statement"
1|       |struct ucharp { unsigned char *v, *l, *h; };
    2|     15|#define AREF(var, idx) ((((((((var).v+(idx)) < (var).l) \
    3|     15|			   || (((var).v+(idx)+1) > (var).h))) \
    4|     15|			  && (__builtin_trap (), 0)), \
    5|     15|			 (var).v)[(idx)])
    6|       |
    7|       |struct list
    8|       |{
    9|       |  struct list *next;
   10|       |};
   11|       |
   12|

[2022-06-26 09:30] NJUocean commented on #56228
For LLVM-COV 11.0.0

[2022-06-26 11:21] vfdff commented on #56170
it doesn't reproduce base on the new upstream, https://gcc.godbolt.org/z/dshc7Wchj

[2022-06-26 11:57] banach-space commented on #56223
Hi @peixin , thanks for reporting this!

While it's been pointed out that this might not be the right approach, https://reviews.llvm.org/D128333 should allow you to work around this for the time being. I'm still looking for the most suitable approach.

-Andrzej

[2022-06-26 12:10] banach-space commented on #56223
Btw, I've observed this behavior while building SNAP on X86. It works just fine on AArch64 (most likely because some object files on AArch64 just happen to be PIC).

I've updated the title to highlight that:
* this is not specific to any particular application
* it's a linking error

[2022-06-26 12:32] darkhpp commented on #56184
Yep, that commit fixes it. Thanks for help.

[2022-06-26 13:40] #56184 closed

[2022-06-26 13:43] EugeneZelenko commented on #56228
Could you please try 14 or `main`?

[2022-06-26 14:47] NJUocean commented on #56228
Thanks for your reply! It is fixed in 14.0.4.
Last year I reported some bugs for 11.0.0 on bugzilla and it was automatically moved to github. Now I'm sorting out my previous work and continuing to report some missing bugs. I find that some bugs indeed have been fixed in 13 and 14, while some not. By the way, the labels of issues has been modified like replacing "new issue" with "tools:llvmcov " ,

[2022-06-26 14:48] NJUocean commented on #56228
Thanks for your reply! It is fixed in 14.0.4.
Last year I reported some bugs for 11.0.0 on bugzilla and it was automatically moved to github. Now I'm sorting out my previous work and continuing to report some missing bugs. I find that some bugs indeed have been fixed in 13 and 14, while some not. By the way, the labels of issues has been modified like replacing "new issue" with "tools:llvmcov " ,

[2022-06-26 14:54] NJUocean opened #56229 "[LLVM-COV] Callsite in a for-loop"
Found in 11.0.0 ,also exists in 14.0.4
Should the coverage of line 18 be 5?
[code]

[2022-06-26 14:54] EugeneZelenko commented on #56228
@NJUocean: No it's just categorization of issue. There is `confirmed` label. Please not that issues could be fixed only in `main` since even backports to 14 were stopped. So if problems of older versions gone in 14 and `main` there is no point to report them.

[2022-06-26 15:05] NJUocean commented on #56228
@EugeneZelenko Get it. I will no longer report what have been fixed in latest version.

[2022-06-26 15:13] #56228 closed

[2022-06-26 15:14] perfect7gentleman opened #56230 "LLVM-14.0.6 checks for os/signpost.h in Gentoo Linux"
[code]
14.0.5 build well.

[2022-06-26 15:21] zdimension opened #56231 "rust-lld SIGABRT on big project"
[code]
Not deterministic, happens from time to time (twice in two weeks), so I'm not sure what additional info to give

[2022-06-26 15:24] PeixinQiao commented on #56223
Thanks @banach-space . Assign this to you.

[2022-06-26 17:01] alvinhochun commented on #56231
Cleaned up the backtrace for you:

[code]

These two non-backtrace lines are not part of the backtrace:

[code]

[2022-06-26 17:02] zdimension commented on #56231
@alvinhochun Thanks! I'll edit the OP. Sorry about that!

[2022-06-26 17:05] BinhaoQin opened #56233 "CUDA Shared Variable with Non-empty compile time Constructor"
I understand that shared variables shouldn't have actual constructors and not treating this as an error is potentially dangerous. However, the use case where the constructor only lives in compile time should be allowed (e.g. using only `static_assert` in constructors). Such use case exists when bridging with some libraries' generic code across device and host (e.g. Eigen). Currently, `clang` emits

[2022-06-26 17:07] BinhaoQin commented on #56233
Consider the following code segment:
[code]

[2022-06-26 18:13] MaskRay commented on #56231
The stack trace is not sufficient to know what's going on, so this issue is not actionable. Plus, rust-lld is a tool in the Rust repository. You can ask there how to create a `--reproduce` tarball with all input files.

[2022-06-26 18:32] alvinhochun commented on #56231
Valgrind or a rust-lld build with ASAN (if you manage to get one) would probably catch something too, I guess.

[2022-06-26 19:08] Hisamera opened #56234 "Adding hot-patch compiler flag when compiling UE5 from source fails on multiple files."
Hello

I would like to get this out first
I read contributing guideline, but because of Epic EULA I cannot just plop here it's entire source code, some assignee or contributor to LLVM can quite easliy become an Epic's developer here on Github and get the source code for self.

tl;dr UE5 with hotpatch flag fails to compile, please help or advise. For more information see attached files.

With very

[2022-06-26 20:15] #56043 closed

[2022-06-26 21:13] arrowd commented on #45902
Still reproducible with

[code]

[2022-06-26 22:36] stellaraccident opened #56235 "SCF ForLoopRangeFoldingPass has multiple correctness issues"
I spent some time trying to use the SCF ForLoopRangeFoldingPass, and I found that it mis-compiles on at least two cases, neither of which have unit tests:

1. When folding a mul into an induction variable where the loop has a non-zero lower bound.
2. Folding a mul by a negative number.

The first is relatively easily dealt with by also folding the lower bound, but the second is not so easy to do w

[2022-06-26 23:40] jonathanpoelen opened #56236 "error or warning on multi-line expressions are truncated"
[code]
[code]

Lines 2 and 3 should be displayed in the message, as does gcc:

[code]

[2022-06-27 01:50] bcl5980 commented on #56170
fixed by 8c742056

[2022-06-27 01:50] #56170 closed

[2022-06-27 02:53] gandhi56 commented on #54869
By codegen do you mean the AMDGPU instruction selector?

[2022-06-27 04:31] dwblaikie commented on #55768
Awesome, glad to hear there was a source fix!

[2022-06-27 06:41] t-8ch opened #56237 "libc++: __cxa_free_exception cannot be overridden properly because of inlining"
Environment: libc++ 14.0.6 on Linux x86_64

I'm building a support library that extends the builtin exception machinery of the standard C++ runtime.
For this the library overrides `__cxa_allocate_free()`, `__cxa_free_exception() and `__cxa_throw()` to perform its own additional logic and then calls back into the original functions.

Unfortunately in libc++ the call to `__cxa_free_exception()` from

[2022-06-27 08:27] mkurdej commented on #56215
@HazardyKnusperkeks, may it be related to #56176 (and so possibly fixed by https://github.com/llvm/llvm-project/commit/b3aeca3962bb39dfe110472ea033bda32044455d)?
@elevendroids, could you test it with the current main please?

[2022-06-27 08:37] oToToT commented on #53956
Closing as the fix is now merged in rust-lang/rust#98285.

[2022-06-27 08:37] brunodefraine commented on #55384
Not that the commit has been reverted pending a fix for the problems that it caused in the multistage builds.

[2022-06-27 08:38] oToToT commented on #53956
Closing as the fix is now merged in rust-lang/rust#98285.

[2022-06-27 09:09] kanje opened #56240 "clang-analyzer-cplusplus.NewDeleteLeaks when a tuple of a unique_ptr is captured in lambda"
### Observation

Both `clang-tidy` and `scan-build` warn about a potential memory leak in this code, which looks like a false positive:

[code]

[code]

### Expected Behaviour

No warning is issued for this code.

### Additional Details

Environment: Fedora 35, clang 13.0.0, gcc 11.3.1.

Compile commands:

[code]

Note, the issue is reproducible with `-std=c++17` and `-std=c++20`, but not with `-s

[2022-06-27 09:28] q-p opened #56241 "[OpenMP] Compile-time regression (>4x) from clang-13 to clang-14"
I'm seeing a huge performance regression in *compile-time* (haven't checked run-time yet) since upgrading from clang-13 to clang-14.

Run-time of the compilation of one (particular) file is as follows (this file leads to a huge chain of template instantiations):
- clang-13: 77secs
- clang-13 without `-fopenmp`: 64secs
- clang-14: **360secs**
- clang-14 without -fopenmp: 50sec

(without `-fopenmp`

[2022-06-27 09:58] AldrinMathew commented on #56224
Just got the source of the error for `TargetTriple`

[code]

[2022-06-27 10:15] nikic opened #56242 "[IndVars] Incorrect comparison folding"
In the following test (https://llvm.godbolt.org/z/rT64Yb1K6), `-indvars` currently folds `%cmp2` to `false`:
[code]
This is incorrect: While we have a guard that `%v > 0`, the value of `%v` in the `%prev` phi comes from the previous iteration, so the used context is incorrect.

[2022-06-27 10:37] dbakunevich opened #56243 "[LICM][LoopSimplifyCFG] Instruction does not dominate all uses!"
Godbolt link: https://godbolt.org/z/nxcc7nzTa

Run `opt -passes='loop-mssa(licm,loop-simplifycfg)'` on the test
[bug.ll.txt](https://github.com/llvm/llvm-project/files/8991112/bug.ll.txt)

Failure looks like:
[code]

[2022-06-27 10:38] Mrmaxmeier commented on #55136
Hi,

I started looking into this, but don't have any experience with LLVM development so my methodology might be all over the place :)

<details>
<summary>The reproducer can be further reduced to this:</summary>

[code]

</details>

To further minimize, I simplified the `.mir` from `llc -stop-before="wasm-reg-stackify"`. While the `undef` store seems required for the LLVM-IR reproducer, the stacki

[2022-06-27 10:51] nikic commented on #56242
I believe https://reviews.llvm.org/D101829 previously tried to fix this issue, but the fix is incomplete. Here the incoming phi block is loop.latch, and `%v` does properly dominate the latch.

[2022-06-27 11:27] kanje commented on #56240
Just have discovered https://github.com/llvm/llvm-project/issues/55219. So this probably is a duplicate.

[2022-06-27 11:30] AaronBallman commented on #56221
Confirmed that this is an issue -- two parameters in different declarations cannot be confused for one another.

[2022-06-27 11:42] q-p commented on #56241
This was with `Homebrew clang version 14.0.5`, building on (and for) Apple Silicon (aarch64).

[2022-06-27 12:16] AaronBallman opened #56244 "CodeGen crash on huge string concat expressions"
Attempting to create a sufficiently large `std::string` object (greater than 65535 characters) results in a crash during codegen. It looks like we might be running out of stack space, but it's unclear whether we've hit an infinite recursion or just too deep of a finite recursion.

Consider: https://godbolt.org/z/3afvrhMvq

This ends up with a backtrace along the lines of:
[code]

[2022-06-27 12:17] AaronBallman commented on #56244
[long_string_test.txt](https://github.com/llvm/llvm-project/files/8991865/long_string_test.txt)

[2022-06-27 12:28] bgra8 commented on #56204
@phoebewang I'm compiling the program with clang.

I patched https://reviews.llvm.org/D128571 ontop of the culprit reported in this issue and I get the exact same behavior with both my repro and @alexfh shortest reproducer.

Could you please verify for yourself?

[2022-06-27 12:42] q-p commented on #56241
It seems that (running an Instruments trace) that most time is spent in `llvm::Value::getName()` from within `OMPInformationCache::initializeRuntimeFunctions()`.

[code]
![Screen Shot 2022-06-27 at 14 37 07](https://user-images.githubusercontent.com/9739000/175944165-f1b0456f-d154-4367-a88a-0bb896634c11.png)

[2022-06-27 13:13] AaronBallman commented on #55982
This has been extremely distracting as a code reviewer. Not being able to trust precommit CI failures because they're spurious ~90% of the time is training reviewers to *ignore failing precommit CI* and is wasting code review time where authors are adding formatting tags to tests and reviewers are asking to remove the formatting tags. Can this please be addressed?

CC @ChristianKuehnel @metaflow i

[2022-06-27 13:15] nikic commented on #56242
Candidate patch: https://reviews.llvm.org/D128640

[2022-06-27 13:21] ghost opened #56245 "clang-format --length behavior"
From the documentation:

`--length=<uint>                - Format a range of this length (in bytes).`

The way I read this is that a piece of text that is equal to the number of bytes will be formatted.

I've counted the number of bytes for the first 2 lines (I know there is a `--lines` option, it's just an example):

- with `microsoft` style, only those 2 lines are formatted;
- with `gnu` and `mo

[2022-06-27 13:48] #56230 closed

[2022-06-27 14:05] DavidTruby commented on #55197
I've posted what I think is a fix for this as https://reviews.llvm.org/D128642 which generates much better code for your example

[2022-06-27 14:23] erichkeane commented on #56244
Note the std::string implementation isn't necessary here: https://godbolt.org/z/bxYdz6bj7

I'm guessing based on the stack trace that we're hitting some sort of recursive limit trying to emit the LHS/RHS binary operators, still having to save each temporary and forward it onto the next.  There is probably an opportunity to come up with a more iterative implementation of this (it might be as easy a

[2022-06-27 14:34] q-p commented on #56241
The only *obvious* `getName()` I could see in `OMPInformationCache::initializeRuntimeFunctions()` is the following one https://github.com/llvm/llvm-project/blob/13fb97d68821e1948d176057ebee94f50cb05b62/llvm/lib/Transforms/IPO/OpenMPOpt.cpp#L506

This one also seems to be new compared to llvm 13.x, where that part doesn't exist yet: https://github.com/llvm/llvm-project/blob/75e33f71c2dae584b13a7d11

[2022-06-27 14:35] q-p commented on #56241
And the patch that introduced it is https://github.com/llvm/llvm-project/commit/989674f110548866f149b964288d8a84f0d60f40 by @jdoerfert

[2022-06-27 14:50] #55859 closed

[2022-06-27 15:02] elevendroids commented on #56215
@mkurdej Unfortunately, this is not related to the previous bug (also reported by me, works fine now) - here I've used 1f69f7e (see description) which is from day after the b3aeca3 merged.

[2022-06-27 15:06] jhuber6 commented on #56241
Yes, `-mllvm -openmp-opt-disable`

That part of the code is a pretty nasty hack we should try to get rid of soon anyway. I find it hard to believe that simply checking all the functions in a Module would cause a slowdown of that magnitude. I'm assuming the regression wont't go away if you remove that line of code. If you could get the LLVM IR for the case where `OpenMPOpt` is very slow it will hel

[2022-06-27 15:08] ldalessa opened #56246 "[consteval] clang++ sometimes reports false-positive errors for static consteval member functions"
When I have a CRTP that uses it's client's function, if that client's function happens to be `static consteval`, `clang++` reports an error.

[code]

live: https://godbolt.org/z/KG5oT6GTj

[2022-06-27 15:26] fhahn commented on #55111
@juj does this still reproduce/any updates on extracting a LLVM IR reproducer?

[2022-06-27 15:29] python3kgae opened #56247 "DirectX Backend: add intrinsic for DXIL operations."
For all DXIL operations which do not have existing llvm intrinsic, add target-specific intrinsic.

To make the convert to DXIL operation easier, the target-specific intrinsic should match DXIL operation signature if possible,

Handle will be added as i32 to work around intrinsic table gen cannot have struct parameter (it might because cannot match anonymous struct type).
When convert from intrinsi

[2022-06-27 15:45] ye-luo commented on #55361
20220621 build 3815ae29b5cb43333adde04df9d9a7a644b77d68 remains bad
20220622 build bc74bca5363270e987c2e3c263bfaaeb6ceab66f seems good.
Likely being fixed by
[code]

[2022-06-27 15:52] akaStiX opened #56248 "-fpch-codegen crashes clang (14.0.6) on PCH compilation"
When I tried to build Unreal Engine's PCH for Android with -fpch-codegen -fpch-debuginfo the way it's described here https://releases.llvm.org/11.0.1/tools/clang/docs/ReleaseNotes.html#new-compiler-flags
I got clang crashing on me instead:
[code]

Content of the header I try to precompile:
[code]
Source code for ImageWrapperPrivate.h can be obtained from Unreal Engine's repo here https://github.co

[2022-06-27 16:48] xgupta commented on #49186
Thanks, we can close this report.

[2022-06-27 16:48] #49186 closed

[2022-06-27 16:56] jdoerfert commented on #56241
A simple fix should be to add
[code]
before
[code]

As we make the "new LTO pipeline" the only supported compilation mode, we don't need the noinline and this code anymore.

@q-p Do you want to check the effect of the above? If it solves the problem either of us can make a patch.

[2022-06-27 16:57] jdoerfert commented on #55361
Yay!

[2022-06-27 17:00] xgupta commented on #49710
Then It should be fine to close this report.

[2022-06-27 17:00] #49710 closed

[2022-06-27 17:08] xgupta commented on #51594
This is not crashing on trunk now.

[2022-06-27 17:08] q-p commented on #56241
I should be able to try to build a custom clang tomorrow or the day after to see whether that's the culprit. I'll report back once I've done that.

[2022-06-27 17:10] jdoerfert commented on #56241
Also, we can already restrict this to the device compilation. So we could also guard the entire loop with `if (isOpenMPDevice(M))`. I assume doing both is reasonable.

[2022-06-27 17:11] xgupta commented on #51491
Not crashing anymore.

[2022-06-27 17:11] #51491 closed

[2022-06-27 17:15] xgupta commented on #53795
No crash on trunk, fine to close.

[2022-06-27 17:15] #53795 closed

[2022-06-27 17:16] xgupta commented on #51764
Checked today, it is fine and not crashing anymore.

[2022-06-27 17:16] #51764 closed

[2022-06-27 17:18] banach-space commented on #56223
@PeixinQiao I'm not seeing this issue with your particular reproducer (I do see it with SNAP, though).

I've tested with ld.bfd 2.34 and LLVM's ToT (48eb2bc608e2). How did you build `flang-new` and `clang`? Here's my CMake configuration:
[code]
Which revision and CMake configuration did you you use?

I would much rather work with your reproduce than with SNAP, but I need to make it fail first :)

[2022-06-27 17:30] xgupta commented on #53510
Now clang is not crashing but gcc giving ICE - https://godbolt.org/z/P7Tn86r18.

[2022-06-27 17:48] #56142 closed

[2022-06-27 17:51] Artem-B commented on #56233
We could allow use of static_assert in such constructors, but for this particular example it appears to be unnecessary.
`static_assert` does not have to be in the body of the constructor. Considering that you're checking a template parameter, it could be done in the body of the struct itself: https://cuda.godbolt.org/z/EEaYv7hro
[code]

[2022-06-27 18:05] jhuber6 commented on #56241
I went ahead and pushed this upstream in c7243f21d3f1b1544f6067f81b02c0af9f2ee8ab, you be able to take the diff and apply it locally.

[2022-06-27 18:07] sean-mcmanus commented on #43678
This issue also seems like it's a duplicate of https://github.com/llvm/llvm-project/issues/25697 .

[2022-06-27 18:10] sean-mcmanus commented on #25697
I'm seeing this fixed with clang-format 14.

[2022-06-27 18:11] sean-mcmanus commented on #43678
I'm seeing this fixed with clang-format 14. I'll file a new bug on the other case I mentioned.

[2022-06-27 18:16] sean-mcmanus opened #56249 "clang-format on .c files incorrectly turns "int delete();" into "int delete ();""
Use clang-format test.c with

[code]

Bug: Output is incorrectly `int delete ();`. There should be no space before the `(`.

A similar issue recently got fixed with clang-format 14: https://github.com/llvm/llvm-project/issues/25697

Originally reported at https://github.com/microsoft/vscode-cpptools/issues/9336

[2022-06-27 18:46] Groverkss commented on #44731
Fixed by https://github.com/llvm/llvm-project/commit/aab7e2fa05c0ad9bc8ffb40f058512d41d980135

[2022-06-27 18:46] #44731 closed

[2022-06-27 18:50] BinhaoQin commented on #56233
Actually the use case where we want that restriction check only for device object exists.
[code]
Otherwise using macro is needed and the code is less clear.

[2022-06-27 18:56] correaa opened #56250 "[clang-tidy] crash when analysing nested class defintion"
I have a class and a nested class definition.

[code]

Even with an empty nested class, clang-tidy (13.0.0) crashes.
You can find the approximate locations of the lines in the source code here: https://gitlab.com/correaa/boost-mpi3
Here it is the trace:

[code]

[2022-06-27 18:59] EugeneZelenko commented on #56250
Could you please try 14 or `main`? https://godbolt.org should be helpful.

[2022-06-27 19:11] #49689 closed

[2022-06-27 19:13] avikivity commented on #49689
Hurray! Can this be backported to 14.0.x please?

Many thanks for the fix.

[2022-06-27 19:19] ye-luo opened #56251 "slpvectorizer crash"
Failure starts by
[code]
remains failing today in e7d1cc923ee3449a6c0a0d8717bc947fd26a8f5a

Source and commandline in [bug.zip](https://github.com/llvm/llvm-project/files/8994798/bug.zip)
[code]

[2022-06-27 19:23] alexey-bataev commented on #56251
The patch itself is not a cause of the crash, it just have an extra assertion that was triggered, showing that there are some internal problems in SLP vectorizer. I have a small reproducer already, investigating.

[2022-06-27 19:23] correaa commented on #56250
In my Ubuntu 21.10 setup I can try `clang-tidy 12` easily, with which I get the same error.

How do you use godbot with clang-tidy?

The code compiles ok with `clang 13.0.0` (and also with `g++ 11.2`).

[2022-06-27 19:28] correaa commented on #56250
The problem appears when I add the nested class.
But there is a long distance interaction because the stack trace goes to another file called `request.hpp` and the line

[code]

which requires another unrelated `NOLINT`.

I am the author of the code.

[2022-06-27 19:29] River707 commented on #56214
The closest thing to getting a "name" would be `printAsOperand`, which would give you the representation a value would have if the IR were printed (i.e. the `%foo`).

[2022-06-27 20:57] serge-sans-paille commented on #56221
Sure I'll have a look.

[2022-06-27 21:41] barcharcraz commented on #53269
Yep, this is 100% a bug in cpprestsdk (and frankly I'm surprised that header didn't blow up in someone's face much earlier)

[2022-06-27 22:13] tstellar opened #56252 "googletest-crash.py test is failing on Fedora 36"
Full test log is here:

https://download.copr.fedorainfracloud.org/results/@fedora-llvm-team/llvm-snapshots/fedora-36-x86_64/04565366-llvm/builder-live.log.gz

It looks like there is an issue with matching the escape character in the FILE variable.

[2022-06-27 22:20] mikeurbach commented on #56037
Thanks @stellaraccident! I will take a look and try out the patch tomorrow.

[2022-06-27 22:41] SchrodingerZhu commented on #56212
Is it possible that the problem was because that what I had tried to override is memcpy/memset? (Hence, visible symbols affect the functionality of ld before it is actually loaded by ld.)

[2022-06-27 23:06] yuanfang-chen commented on #56252
Just to confirm, does the test environment have two cores?

[2022-06-27 23:17] tstellar commented on #56252
@yuanfang-chen Yes, it's a 2-core machine: https://download.copr.fedorainfracloud.org/results/@fedora-llvm-team/llvm-snapshots/fedora-36-x86_64/04565366-llvm/hw_info.log.gz

[2022-06-27 23:18] yuanfang-chen commented on #56252
Thanks for the confirmation. Hopefully 14d3021c10d0853a3ae9931b610afca6d385201e could fix it.

[2022-06-27 23:33] yuanfang-chen commented on #49689
/cherry-pick 12d8ab03c8d3 e2e9e708e5c2c3

[2022-06-28 00:05] ZequanWu commented on #56095
I found that lldb stops unwinding is because the calculated cfa for frame 4 is not 16 bytes aligned, https://github.com/llvm/llvm-project/blob/main/lldb/source/Plugins/ABI/X86/ABIWindows_x86_64.h#L45. So, it gets rejected and unwinding stops here.

Logs:
[code]
For frame 4, CFA is calculated to be 0x97ffde878, which is not 16 byte aligned, but https://docs.microsoft.com/en-us/cpp/build/stack-usage

[2022-06-28 00:12] jasonmolenda commented on #56095
I'm sure you've seen it, but this is 16-byte alignment enforced in lldb/source/Plugins/ABI/X86/ABIWindows_x86_64.h CallFrameAddressIsValid().

[2022-06-28 00:18] SchrodingerZhu commented on #56212
So, on x86 I can see that
[code]
at runtime while this is not reported on aarch64.

[2022-06-28 00:22] SchrodingerZhu commented on #56212
For those who may be interested in testing the case:
[test.zip](https://github.com/llvm/llvm-project/files/8996536/test.zip)

[2022-06-28 00:51] yuanfang-chen commented on #49689
/branch yuanfang-chen/llvm-project/release/14.x

[2022-06-28 01:12] yuanfang-chen opened #56254 "Backport fixes for #49689"
/branch yuanfang-chen/llvm-project/release/14.x

[2022-06-28 01:18] yuanfang-chen commented on #56254
/branch yuanfang-chen/llvm-project/release/14.x

[2022-06-28 01:21] bradlitterell opened #56255 "WhitespaceSensitiveMacros fails when used with IndentPPDirectives"
sample code using stringize operator (`#`)

[code]
clang-format command & version
[code]

result:
[code]
Expected:
`PROFILE_QUOTE` is indented under the `#if`, but the actual definition of the macro `#IDxxxX` is untouched.

I understand the intent of WhitespaceSensitiveMacros to NOT modify the DEFINITION of the macro.  Please let me know if I misunderstand the purpose, thanks.

[2022-06-28 01:38] PeixinQiao commented on #56223
Thanks @banach-space .

I built this on my laptop at home. I will send these info to you later.

[2022-06-28 01:45] orcguru opened #56256 "Assertion failure on AIX due to "2faacf61a50e [SLP]Improve shuffles cost estimation where possible""
opt -slp-vectorizer bugpoint-reduced-simplified.ll

opt: /home/tingwa/repo/public/llvm-project/llvm/lib/Transforms/Vectorize/SLPVectorizer.cpp:7744: llvm::Value *llvm::slpvectorizer::BoUpSLP::createBuildVector(ArrayRef<llvm::Value *>): Assertion `any_of(VectorizableTree, [VL](const std::unique_ptr<TreeEntry> &TE) { return TE->State == TreeEntry::NeedToGather && TE->isSame(VL); }) && "Non-matching

[2022-06-28 02:20] EmmaJaneBonestell opened #56257 "Clang has sanitizer failures and SEGVs when built with VFE"
System: Ubuntu 22.04, x86_64, libstdc++12
Trunk and previous versions seem to be affected.

Attached is a ~1000 lline backtrace with variables, etc, from lldb.

When LLVM/Clang are built with "-fvirtual-function-elimination," and any optimization above "-O0", most of the LLVM binaries all SEGV almost immediately (e.g. lli, llc, clang, opt); "--help*" or no command are the only commands that will n

[2022-06-28 02:29] orcguru commented on #56256
Confirmed https://reviews.llvm.org/D128680 will fix the crash

[2022-06-28 04:03] bradlitterell opened #56258 "Should clang-format remove breaks after ALL_CAPS return types"
Sample Code:
[code]
When run with a short line length and a forced break after return types:
[code]
lines are wrapped as expected:
[code]
Running clang-format again with a longer line length on this first output file with a new format that doesn't want breaks after return types and longer lines:

[code]
results in this:
[code]
Observe that the function names were re-merged with the return types in

[2022-06-28 04:12] yuanfang-chen commented on #56254
/branch yuanfang-chen/llvm-project/release/14.x

[2022-06-28 04:17] yuanfang-chen commented on #49689
@avikivity It seems 14.0.6 is past due.

@tstellar any idea if there will be 14.0.7? Thanks.

[2022-06-28 04:20] UmeshKalappa0 commented on #56023
@asl ,
@nemanjai
 and @chmeeedalf

We made the changes ,can i raise a review with llvm trunk ?

[2022-06-28 05:57] zhendongsu opened #56260 "[SCEV] Assertion `isLoopInvariant(Operands[i], L) && "SCEVAddRecExpr operand is not loop-invariant!"' failed"
It appears to be a recent regression.

[code]

Compiler Explorer: https://godbolt.org/z/xdsMYsrzc

[2022-06-28 06:35] martinboehme commented on #55982
It should be [possible to do this](https://stackoverflow.com/a/57272592) simply by adding a `.clang-format` file to `clang/test` with this:

[code]

I notice however that `clang/test` [already contains](https://github.com/llvm/llvm-project/blob/main/clang/test/.clang-format) a `.clang-format` file with this:

[code]

Looking at the history, it looks as if the intent was to make clang-format "do so

[2022-06-28 07:22] martinboehme commented on #55982
Patch submitted for review:

https://reviews.llvm.org/D128706

I'd like to make sure we have consensus that this is the right change to make, so I'd like multiple reviewers to weigh in. Do you have recommendations for who to add?

[2022-06-28 08:31] alvinhochun opened #56261 "[libc++] std::to_chars precision loss for 80-bit long double"
`std::to_char` in libc++ converts `long double` to `double`: https://github.com/llvm/llvm-project/blob/3c126d5fe468e703ee3eacfcfc3641879b4fb281/libcxx/src/charconv.cpp#L81-L83

Test shows libc++ `std::to_char` output being different from `printf`/`std::ostream`, and compared to libstdc++: https://godbolt.org/z/GsYfTTjq7

[2022-06-28 08:38] serge-sans-paille commented on #56221
Patch proposed in https://reviews.llvm.org/D128715

[2022-06-28 08:45] q-p commented on #56241
As another aside: A comparison between the patched 14.0.6 with the OpenMPOpt pass either enabled (default) or disabled shows that this pass is quite expensive (on this case):
- 14.0.6mod with OpenMPOpt (`-O2`): 69secs
- 14.0.6mod w/o OpenMPOpt (`-O2 -mllvm -openmp-opt-disable`): 61secs

That's 13% of total compilation time.

[2022-06-28 08:49] vogelsgesang opened #56262 "C++20 coroutines: HALO regressed between clang 12 and 13"
See https://godbolt.org/z/fjoK4aMKT for a self-contained example.

Clang 12 was still able to apply heap allocation elision on `-O2`.
Clang 13 is no longer able to apply heap allocation elision with `-O2` but instead requires `-O3`.
Also see https://stackoverflow.com/questions/71581531/halo-support-on-recent-compilers-for-c-coroutines/72770957

Not sure if this change was intentional, just wanted

[2022-06-28 08:50] vogelsgesang commented on #56262
@ChuanqiXu9 FYI, as I know you have a lot of knowledge on clang's coroutine implementation

[2022-06-28 08:59] ChuanqiXu9 commented on #56262
It is a regression change due to we enable new pass manager by default in 13: https://godbolt.org/z/c9csbhGjo
Thanks for reporting this. I'll take a look.

[2022-06-28 09:45] fhahn commented on #56260
IR reproducer, crashing with `opt -passes='loop(loop-rotate,loop-deletion)'`

https://llvm.godbolt.org/z/bv6EabxjY

[code]

[2022-06-28 10:06] nrinskaya opened #56263 "[LoopFuse] No dominance relationship between these fusion candidates!"
This bug was found by Azul FuzzGen IR test generator.

https://godbolt.org/z/aqMMhr7Mo

Run `opt` with `-passes=loop-simplify,newgvn,loop-fusion`

[code]
Stacktrace:
[code]

[2022-06-28 10:29] isuckatcs opened #56264 "[analyzer] Placement new checker for arrays result in false positive"
When placement new is used to create and array of elements at a specific location, a warning is falsely reported.
[code]

The warning is only reported in case of arrays with both `trunk` and `14.0.0` clang.
Writing `new (arr + 1) s` doesn't end up with a warning, but `new (arr + 1) s[1]`, `new (arr + 1) s[2]`, etc. all do.
Feel free to check the snippet on godbolt: https://godbolt.org/z/dvz9nqPne.

[2022-06-28 10:42] dmitriy-philimonov opened #56265 "BOLT: instrumentation looses doubles in virtual overloaded functions"
The small reproducer:
[code]

Compile, run instrumentation:
[code]

As you can see, a double passed to virtual functions magically converts to zero.

* LLVM release: 14.0.6
* LLVM configuration
[code]
* OS: Ubuntu 20.04.4 LTS, EulerOS 2.5
* Affected open source projects: MySQL server.

[2022-06-28 11:07] nrinskaya opened #56266 "[LoopDeletion] Assertion `OldBr && "Preheader must end with a branch"' failed."
This bug was found by Azul FuzzGen IR test generator.

https://godbolt.org/z/PM58j4sd4

Run `opt` with `-passes=newgvn,loop-deletion`

[code]

Stacktrace:
[code]

[2022-06-28 11:28] akuleshov7 commented on #56265
I suggest to duplicate this issue here: https://github.com/facebookincubator/BOLT/issues
Looks like they are still answering :)

[2022-06-28 11:29] dbakunevich opened #56267 "[CodeGenPrepare] GC relocate is incorrectly tied to the statepoint"
Godbolt link: https://godbolt.org/z/39frWe6ja

Run `opt -codegenprepare` on the test
[bug.ll.txt](https://github.com/llvm/llvm-project/files/9000568/bug.ll.txt)

Failure looks like:
[code]

[2022-06-28 11:49] max-quazan commented on #56243
Root cause evaluation (tl;dr: here be dragons).

The bug happens on interference of 2 transforms.

Act 1: Before transform, we had the following code:
[code]
LICM decides that it can sink `%y` to the loop exit block. Normally, it would require to create LCSSA phis for all arguments of %y that are defined in the loop. However, the only such argument is `%x` which has the type of token. It is imposs

[2022-06-28 12:07] dpreobra commented on #54869
Generally speaking, yes. Currently, codegen can only select these instructions with `op_sel=0`. AFAIK codegen does not support `op_sel` for `VOP3` opcodes yet.

[2022-06-28 12:28] fhahn commented on #56260
It least the IR reproducer isn't a recent regression, it also fails with e6bc7037d386184d94bf68b184d0ac62b96a4098 from September 2020

[2022-06-28 13:41] jhuber6 commented on #56241
Very interesting, some more motivation to get rid of that work-around entirely. Thanks for digging this deep and figuring it out. I think we're past the deadline for a 14.0.6 backport. @tstellar Any possibility of backporting https://github.com/llvm/llvm-project/commit/c7243f21d3f1b1544f6067f81b02c0af9f2ee8ab?

Yes, OpenMPOpt can be relatively expensive. It's a very heavy inter-procedural optimiza

[2022-06-28 14:01] mgorny opened #56268 "LLDB seem to deadloop upon hitting AArch64 trap asm (brk #0xf000)"
`lldb/test/API/tools/lldb-server/main.cpp` defines the following trap code for aarch64:

[code]

However, this seems to deadloop LLDB. E.g.:

[code]

and so on.

[2022-06-28 14:07] ayermolo commented on #56265
We also read here. :)

[2022-06-28 14:28] labath commented on #56268
That is sort of "working as intended" because arm cpus (unlike intel) do not increment the pc upon hitting the breakpoint instruction. We probably need to paper over that in our tests.

[2022-06-28 14:34] AaronBallman commented on #55982
Thank you for the sleuth work, I hadn't realized we already controlled this!

I mentioned this on the review, but because this is changing something that seems at least partially intentional, we should probably have an RFC on Discourse. Then the reviewers matter less, we're just checking that you did what you said you'd do in the RFC.

[2022-06-28 14:55] mgorny commented on #56268
Wrt the test, perhaps the simplest solution would be to add another CLI command to `raise(SIGSTOP)`? These tests are POSIX-only anyway, so I suppose that would work for us, wouldn't it?

[2022-06-28 15:10] banach-space commented on #56223
Thanks! I don't see anything obviously different in your configuration that would affect this.

We've continued discussing this in https://reviews.llvm.org/D128333  and it looks like we'll go ahead with that as a valid workaround. At least for now. Long term, we should add support for `-fpic`, `-fpic-level` and `-mrelocation-model` in Flang's frontend driver. And more specifically, refine how [Tar

[2022-06-28 15:12] AaronBallman commented on #21668
Absolutely!

After speaking on Discourse, I've assigned this issue to @appmonster007 at their request.

[2022-06-28 15:19] PeixinQiao commented on #56223
Here is the output on my laptop.
[code]

[2022-06-28 15:33] labath commented on #56268
Well...  that's what he has to do right now. There's a conflict here between wanting to preserve the cpu/os behavior for consistency with the non-debugging scenario, and being helpful and doing what the user wants (which is contingent on being able to guess what the user wants).

The last time this subject came up, someone floated the idea of automatically adjusting the PC inside lldb, but only ri

[2022-06-28 15:33] banach-space commented on #56223
And what triple does `-###` show for you? It's `"-triple" "x86_64-unknown-linux-gnu"` in my set-up.

[2022-06-28 16:08] PeixinQiao commented on #56223
`"-fc1" "-triple" "x86_64-unknown-linux-gnu" "-emit-obj" "-fcolor-diagnostics" "-o" "/tmp/conftestf-6b82cd.o" "-x" "f95-cpp-input" "conftestf.f90"`

[2022-06-28 16:11] jerryyin opened #56269 "LinalgOdsGen target causing build-time race conditions that fails build"
Note: This is mirrored from mlir discourse for tracking purpose. The link to original discussion is [here](https://discourse.llvm.org/t/linalgodsgen-target-causing-build-time-race-conditions-that-fails-build/63334).

CC: @stellaraccident  @joker-eph

Original description is attached below.

------

## Summary

We discovered some hard-to-reproduce race conditions when building Linalg dialect. This

[2022-06-28 16:22] stellaraccident commented on #56269
I did look at this for a few minutes and didn't spot anything obvious. Need to look more closely at generated Makefiles, I guess.

[2022-06-28 17:14] lexika979 opened #56271 "Building LLVM on Windows using Clang and Ninja fails"
Hello, i am trying to build LLVM on Windows (11) using Clang and Ninja.
I followed the documentation and the readme on the GitHub repo, and used the following commands:

[code]

Both Ninja and Clang are the latest stable release.
Since the log itself is incredibly long, here are the parts i think are relevant:

[code]

If i should post the full log (or any other info) just tell me, i'd attach it t

[2022-06-28 17:15] jasonmolenda commented on #56268
I handled this one poorly on Darwin systems by doing it in debugserver.  brk #0xf000 is used for builtin_debugtrap() which is intended to trap into the debugger and allow you to resume execution.  I did

[code]

wherein I comment that I'm a scoundrel,

[code]

but didn't figure out how to push a thread plan to advance over the break, I'm not sure if I spoke with @jimingham about it before I decide

[2022-06-28 17:28] mordante commented on #56261
The original code was provided by Microsoft, on Windows `double` and `long double` have the same size.
It's on my todo list to improve this at some point, it's also listed at the status page.

https://libcxx.llvm.org/Status/Cxx17.html#note-p0067

[2022-06-28 17:36] yuanfang-chen commented on #56252
Fixed in 9d37895a71cb7f2ac. Thanks.

[2022-06-28 18:10] natgla commented on #55929
@jpeyton52: Can you please look at this? Let us know what other info would be useful for you.

Thank you,
Natalia Glagoleva

[2022-06-28 18:38] maksfb commented on #56265
Thank you for the small repro.

[2022-06-28 18:48] dyung commented on #56173
My preference would be to hack the source code to work around the issue, but like you mentioned, not sure how that would look like. Second preference would be to detect this particular version of the VC++ compiler (if that is even possible) and possibly disable `/permissive-` for that version.

[2022-06-28 18:52] jasonmolenda commented on #56268
I'm not sure if this is really even a ThreadPlan situation.  We need to show the original pc value as the location we stopped, so the builtin_trap() line in the source is highlighted, but as soon as we resume execution we need to pc += 4 before that thread runs.  a ThreadPlan pushed on the stack makes sense, but it's a threadplan that would increment pc and be completed - a bit unusual.   And I'm

[2022-06-28 19:09] efriedma-quic commented on #56173
In terms of possible source-code hacks, maybe you can avoid the constexpr call by turning the function into a macro?  The error message seems to point to something about the call...

[2022-06-28 20:39] arsenm commented on #56042
This is a bug in mesa. The IR is invalid:

issue56042.ll:146:24: error: invalid insertelement operands
  %145 = insertelement float undef, half %144, i64 0

[2022-06-28 20:46] alexey-bataev commented on #56256
bf4dcbd2df009ba71d9032379fe8bc37ba0903ff

[2022-06-28 20:46] #56256 closed

[2022-06-28 20:47] alexey-bataev commented on #56251
bf4dcbd2df009ba71d9032379fe8bc37ba0903ff

[2022-06-28 20:47] #56251 closed

[2022-06-28 21:09] BinhaoQin commented on #56233
I understand and agree with your point. Indeed, this is kind of issue where could be prevented if code bases are written in a better and more portable fashion. However, the realistic situation is sometimes more complicated. Let's look at an example similar to schemes used in some libraries:
[code]
It would be easy and intuitive for users to allow instantiation of `__shared__ A<false>` but generate

[2022-06-28 21:11] chilikink opened #56272 "[flang] Incorrect missing-space warning in format item"
Using flang from the main branch (commit 1088d4ad749fd79cc1c3aa9c55b926bbf5ef64f7), compilation of the following code
[code]
with `-std=f2018` results in a warning about missing space within the format item "F10.3":
[code]

[2022-06-28 21:29] mstorsjo commented on #56095
Thanks for investigating!

With that information, I tested lifting that restriction, requiring only 8 byte stack alignment, and then unwinding through these functions does succeed!

Then, `ntdll.dll'KiUserExceptionDispatcher` is the next function in the backtrace, which apparently is the problematic one. The following function in the backtrace after that one is `KernelBase.dll'RaiseException` - bu

[2022-06-28 21:33] jimingham commented on #56268
lldb handles stepping over a breakpoint with the ThreadPlanStepOverBreakpoint.  However, because lldb has to handle the case where we stopped, e.g. for a step, then the user puts a breakpoint on the current PC before continuing, right before it restarts the process, it looks at all the threads, and if there's one that's sitting on a breakpoint, it pushes the "ThreadPlanStepOverBreakpoint" to handl

[2022-06-28 21:34] klausler commented on #55198
Fix is in https://reviews.llvm.org/D128760

[2022-06-28 21:45] nvinson opened #56273 "gcc-12.1.1 build fails with clang-14.0.6 when flags contain -D_FORTIFY_SOURCE=3"
When attempting to build gcc-12.1.1 with clang-14.0.6 and passing in -D_FORTIFY_SOURCE=3, the build fails due to stage2 and stage3 comparing different.  The same test was repeated using gcc and -D_FORITFY_SOURCE=3.  In the gcc test case, gcc built correctly.

System build information below:
[code]

[2022-06-28 21:48] nvinson commented on #56273
[gcc-12.1.1_p20220625_clang_f_s_3_build.log.zip](https://github.com/llvm/llvm-project/files/9005606/gcc-12.1.1_p20220625_clang_f_s_3_build.log.zip)

The build log for the clang{,++} -D_FORITFY_SOURCE=3 attempt.

[2022-06-28 21:49] nvinson commented on #56273
[gcc-12.1.1_p20220625_gcc_f_s_3_build.log.zip](https://github.com/llvm/llvm-project/files/9005611/gcc-12.1.1_p20220625_gcc_f_s_3_build.log.zip)

The build log for the g{cc,++} -D_FORITFY_SOURCE=3 attempt.

Sorry for compressing the files. It was the only way to make them small enough for github to accept.

[2022-06-28 22:39] jasonmolenda commented on #56268
Yeah, handling this in debugserver was a simple approach because I could have debugserver report the original pc value but, behind lldb's back, update the thread's pc value to be pc+4, so when we resume, it does the right thing.  Inside lldb, we don't have a great way to do the same thing, and need to defer the update to the point where we resume.

I guess one possible idea might be that we distin

[2022-06-28 22:47] efriedma-quic commented on #56227
Missing reproduction steps; see https://llvm.org/docs/HowToSubmitABug.html .

But I suspect D3DXMATRIXA16 isn't actually defined anywhere, and there's something wrong with your headers.

[2022-06-28 22:47] #56227 closed

[2022-06-28 23:53] rlavaee opened #56274 "BOLT gives lower improvement on clang-bootstrap than before"
My recent experience with LLVM trunk shows a smaller improvement on clang than my prior experience with the incubator repo (https://github.com/facebookincubator/BOLT).

Here is the log for perf2bolt and llvm-bolt:

[code]

[code]

I am measuring 5.5% improvement on top of PGO binary (compared to around 9-10% I was seeing before):
[code]

[2022-06-29 00:14] kawashima-fj opened #56275 "[LoopInterchange] Wrong direction vector analysis in LoopInterchange?"
I found a simple missed-optimization in LoopInterchange and tried to fix. However, I'm confused in the current implementation.

# Problem

The following loops can be interchanged theoretically because they only have a flow dependence with a direction vector `(<, =)` from (X) to (Y).

`fail1.ll`:

[code]

This IR corresponds to the following C program.

`fail1.c`:

[code]

However, they aren't inte

[2022-06-29 00:16] maksfb commented on #56274
Thanks for letting know. Are you optimizing the same clang-15 binary as before? Do you have dynostats from previous BOLT where you saw larger gains?

[2022-06-29 02:03] syheliel commented on #56271
Hi, from my experience, the best way to compile it is using visual studio's `x64 native tools command prompt`. you can try the following things:
1. if you're using `clang`, make sure to build under `x64 native tools command prompt`
2. otherwise just use `cl` compiler under `x64 native tools command prompt`

[2022-06-29 02:51] FuXiii opened #56276 "can not find c++20 concepts head file"
`deepin(linux) system`+`vscode` + `clang` + `clangd` + `cmake`
[code]

the `CMakelists.txt` write in:
[code]
and the code in source file:
(the code is copy from cppreference)
[code]
then build:
[code]

[2022-06-29 04:00] rlavaee opened #56277 "BOLT crashes with -update-debug-sections on clang."
llvm-bolt crashes when optimizing clang binary built with `-DLLVM_BUILD_TYPE=RelWithDebInfo`. Stacktrace is included below:

[code]

[2022-06-29 04:08] tstellar commented on #56241
@jhuber6 We are done with backports for 14.0.x.

[2022-06-29 04:15] mgorny commented on #56268
I've decided to check how GDB/gdbserver is handling it… and it isn't. It just deadloops on the `brk` as well.

[2022-06-29 04:26] kawashima-fj commented on #48650
Fixed by https://reviews.llvm.org/D101305 .
I confirmed LLVM 12 has the problem and LLVM 13 doesn't have the problem.

[2022-06-29 04:26] #48650 closed

[2022-06-29 04:27] BaoshanPang opened #56278 "fatal error: error in backend: Cannot select: intrinsic %llvm.arm.set.fpscr"
[code]
[code]

[2022-06-29 04:35] kawashima-fj commented on #42671
Fixed by https://reviews.llvm.org/D102743 .
I confirmed at latest `main` branch doesn't have the problem.

[2022-06-29 04:35] #42671 closed

[2022-06-29 05:27] BertalanD commented on #56276
On Linux, Clang uses libstdc++ by default as the C++ standard library. Your distro comes with gcc/libstdc++ version 8 (see the "Found candidate GCC installation" lines), but the `<concepts>` header was only added in libstdc++ 10.

You can install a newer version of GCC or  libc++, LLVM's own C++ standard library. To use libc++, ensure that CMake uses the Clang compiler (you might need to set `CMAK

[2022-06-29 05:27] #56276 closed

[2022-06-29 05:49] ChuanqiXu9 commented on #40002
This one should be outdated.

[2022-06-29 05:49] #40002 closed

[2022-06-29 06:15] lexika979 commented on #56271
I will try that now, thank you!

[2022-06-29 06:21] agostonrobert opened #56279 "[clang] unexpected syntax error when __builtin_offsetof uses array dereference on member"
The last line in the following code is accepted by `gcc` but rejected by `clang`, although the same syntax is accepted for assignment even by `clang`.
[code]

[2022-06-29 06:52] martinboehme commented on #55982
Good idea -- done:

https://discourse.llvm.org/t/rfc-disable-clang-format-in-the-clang-test-tree/63498

[2022-06-29 06:55] ChuanqiXu9 commented on #51623
This should be fixed in https://github.com/llvm/llvm-project/commit/9c04851cf5809c80862183481f8ced0b3e9ee301

[2022-06-29 06:55] #51623 closed

[2022-06-29 07:11] BertalanD commented on #51756
Implemented in https://github.com/llvm/llvm-project/commit/e29dc0c6fde284e7f05aa5f45b05c629c9fad295.

[2022-06-29 07:18] tbaederr opened #56280 "LLDB build problems on s390x with recent glibc"
lldb fails to build on s390x with a recent glibc:

[code]

`struct iovec` is defined both in `/usr/include/bits/types/struct_iovec.h` (from glibc) and `/usr/include/linux/uio.h` (from the kernel).

The problem only exists in s390x. FWIW I've found that just removing the `<linux/uio.h>` include from `NativeRegisterContextLinux_s390x.cpp` seems to fix the build.

[2022-06-29 07:21] #55810 closed

[2022-06-29 07:33] FuXiii commented on #56276
When I try to search `libstdc++` by `apt`, I can't find `libstdc++ 10`, which one should I download?:
[code]

[2022-06-29 07:42] dmitriy-philimonov commented on #56265
@maksfb , if you have some handmade patch for LLVM-14.0.6 (BOLT version: f28c006a5895fc0e329fe15fead81e37457cb1d1), please, feel free to share here, I'd test it for the whole MySQL server: this way I may find some more troubles.

[2022-06-29 07:42] FuXiii commented on #56276
I can find:
[code]

Can I just download this one? or I should download some one like `libstdc++10`,but until now I can't find this one by `apt`?should I update the `apt` search source link?

[2022-06-29 07:43] ChuanqiXu9 commented on #56262
This one should have been fixed in trunk: https://godbolt.org/z/q1aWx89hj

[2022-06-29 07:43] #56262 closed

[2022-06-29 07:45] fweimer-rh commented on #56280
The problem appears to be s390x-specific because the source file is.

The source of the incompatibility is the addition of `process_madvise` to `<sys/mman.h>`, which also brought in a definition of `struct iovec`. We should probably merely use a forward declaration in this context.

[2022-06-29 07:49] BertalanD commented on #56276
Looks like only older versions of libstdc++ are available for your distribution. You *might* be able to get a newer one from the Debian unstable repos or by building it from source, but that seems like a lot of hassle. I think the easiest option is to use `libc++-15-dev` with Clang `-stdlib=libc++`.

[2022-06-29 08:08] UmeshKalappa0 opened #56281 "Trapping math for ARM64 ."
Mail thread From John and  raised this issue to track current status .
===========================================================================================
I'm currently working on AArch64 strict fp support (which is what's needed to enable -ftrapping-math).
There's a few patches currently in review:
https://reviews.llvm.org/D114946
https://reviews.llvm.org/D115352 (though I need to rebase

[2022-06-29 08:11] labath commented on #56280
That would make the build fail (due to undefined struct iovec) on older libcs right?

Mixing libc and linux headers is known to cause issues, and I don't think there's a good reason why this code needs to include the latter would replacing linux/uio.h with sys/uio.h (which is a libc header I believe) solve the issue?

[2022-06-29 08:23] FuXiii commented on #56276
Ok, I had download the `libc++-15-dev` and the stdc++ head path is `/usr/lib/llvm-15/include/c++/v1`, How to set this path let clang and clangd can find?

[2022-06-29 08:37] FuXiii commented on #56276
Can I just run `clang -I [the header path]`? I just need run this command once or run once time per I run `clang` command?

[2022-06-29 08:57] labath commented on #56095
I would say that the alignment check is just too strict (and I don't just mean on windows). Yes, it's true that people that the ABI says the stack should be aligned, but people write all sorts of funny code, and if the cpu is willing to execute it, I think we should also unwind from it. The strict ABI check would be better served as some kind of a warning somewhere ("Your frame has unaligned stack

[2022-06-29 09:06] vogelsgesang commented on #56262
Great! :) Thank you for looking into this!

[2022-06-29 09:29] max-quazan opened #56282 "[LoopUnroll] Assertion `isAvailableAtLoopEntry(RHS, L) && "RHS is not available at Loop Entry"' failed."
https://godbolt.org/z/48Kdo9EY1

Run opt -passes='loop-unroll<runtime>' -S on test:
[code]

Failure:
[code]
Our triage points at the following guilty patch:
[code]
Looks like the problem reported in https://github.com/llvm/llvm-project/issues/56044 wasn't fixed completely.

[2022-06-29 09:30] max-quazan commented on #56282
@fhahn

[2022-06-29 09:34] Vigilans opened #56283 "[clang-format] Continuation indent of requires-expression should be configurable"
In clang-13, a concept definition with requires-expression will be formatted like this:
[code]
But after commits in https://reviews.llvm.org/D113319, above code will be formatted to:
[code]
After some investigation, it reveals that the difference was rooted in following code:
https://github.com/llvm/llvm-project/blob/24d6cc688fb56eff1a5f2267c238855d048f9982/clang/lib/Format/ContinuationIndenter.cp

[2022-06-29 09:45] goedderz opened #56284 "[clang] Template lambda instantiation fails"
https://godbolt.org/z/hEnfvn64W

In short, the instantiation of

[code]

fails unexpectedly.

[2022-06-29 09:47] fhahn commented on #45680
I believe this can be closed as the offending commit has been reverted. @weiguozhi please re-open the issue if there's anything left to do.

[2022-06-29 09:47] #45680 closed

[2022-06-29 09:51] FrancescElies commented on #52728
The thing seems to be gone from CI machines, I can't tell you why but we don't care about this issue anymore, thus closing.

@vitalybuka thanks for your help

[2022-06-29 09:51] #52728 closed

[2022-06-29 10:06] gerddie commented on #56042
Thanks, I'll report it in mesa

[2022-06-29 10:25] FrancescElies opened #56285 "Visual Studio 2022 `lld-link: warning/error: ignoring unknown debug$S subsection kind 0xFF in file libucrt.lib`"
Related to https://github.com/actions/virtual-environments/issues/5813

## Problem

We started seeing `lld-link: warning/error: ignoring unknown debug$S subsection kind 0xFF in file libucrt.lib` with newer windows-sdks in visual studio 2022 (this does not happen with vs2019)

Is the following a problem in windows-sdks with vs2022 or in lld-link?

`example.c`
[code]

<details><summary>Invoke-CmdScr

[2022-06-29 10:29] #32078 closed

[2022-06-29 10:32] fhahn commented on #42594
A fix just landed. It would be great if you could verify it fixes the issue on your side.

[2022-06-29 10:32] fhahn commented on #44546
A fix just landed. It would be great if you could verify it fixes the issue on your side.

[2022-06-29 10:33] #42594 closed

[2022-06-29 10:33] fhahn commented on #44546
Should be fixed by https://github.com/llvm/llvm-project/commit/675080a4533b91b3b62e51d3659629bc020fb940

[2022-06-29 10:33] #44546 closed

[2022-06-29 10:34] fhahn commented on #49599
Should be fixed by https://github.com/llvm/llvm-project/commit/675080a4533b91b3b62e51d3659629bc020fb940.  It would be great if you could verify it fixes the issue on your side.

[2022-06-29 10:35] #55333 closed

[2022-06-29 10:36] fhahn commented on #55511
Should be fixed by https://github.com/llvm/llvm-project/commit/675080a4533b91b3b62e51d3659629bc020fb940. It would be great if you could verify it fixes the issue on your side.

[2022-06-29 10:43] fweimer-rh commented on #56280
glibc patch posted: [[PATCH] Linux: Forward declaration of struct iovec for process_madvise](https://sourceware.org/pipermail/libc-alpha/2022-June/140172.html)

[2022-06-29 10:44] fweimer-rh commented on #56280
@labath Yes, that is a good idea in general. We will likely fix this on the glibc side, too, but if you can avoid mixing Linux and glibc headers easily, it's always a good thing to do that.

[2022-06-29 10:47] tru commented on #56276
Just pass -stdlib=libc++ and it will handle the include paths.

[2022-06-29 10:49] max-quazan opened #56286 "[LoopUnroll] Assertion `isAvailableAtLoopEntry(LHS, L) && "LHS is not available at Loop Entry"' failed."
https://godbolt.org/z/bEvqhvso6

Run `opt -passes='loop-unroll<runtime;partial>' -S` on the following test:
[code]

Failure is
[code]
Likely related to https://github.com/llvm/llvm-project/issues/56282 but our triage hasn't confirmed it yet.

[2022-06-29 10:50] max-quazan commented on #56286
@fhahn sorry for DDOSing you with bugs, but might be yours as well. :)

[2022-06-29 10:52] fhahn commented on #56243
Interesting question! I think for correctness of certain look transformations we need to make sure that LCSSA form is also preserved for tokens. I am not too familiar with the uses for tokens, but I think with respect to LCSSA we have to treat them like any other value.

Preventing movement of instructions defining tokens seems like a reasonable first step to me.

[2022-06-29 11:07] max-quazan commented on #56243
Yeah, the problem is that LangRef says that
https://llvm.org/docs/LangRef.html#token-type

We can fix this particular one by preventing moving, but what if the test had a token defined in loop and use outside the loop from the very beginning?

[2022-06-29 11:56] zhendongsu commented on #55511
Hi Florian, it still crashes for me with the latest build on Ubuntu 18.04:
[code]
@fhahn

[2022-06-29 12:44] avikivity commented on #49689
I suggest to backport it anyway, it can't hurt. And I do hope 14.0.7 is released. Coroutine users have had no usable compiler since 12.0.1 was released.

[2022-06-29 12:58] lexika979 commented on #56271
While it did not error this time, it unfortunately froze in the building process.
I waited about a hour before terminating the process since i figured it wouldnt continue.
Also, when using the vs shell, even when using ninja as a build system, it somehow forces msvc as the compiler, so this kinda defeats the whole point of compiling with clang.

[2022-06-29 13:03] #56042 closed

[2022-06-29 13:04] syheliel commented on #56271
also try using `cl.exe` only

[2022-06-29 13:07] pogo59 commented on #56271
note that will make the build take a very long time, but it will isolate a particular compile command that hangs.

I suspect you would need to rerun cmake, and give it explicit paths to the clang you want to use as the build compiler.  (Delete CMakeCache.txt before you rerun cmake.)

[2022-06-29 13:24] FuXiii commented on #56276
![image](https://user-images.githubusercontent.com/40132375/176447071-658a60a4-98e5-4e9d-b1c0-c2adc55de774.png)

then build output:
[code]

[2022-06-29 14:02] fhahn commented on #55511
@zhendongsu thanks, looking at the stack trace on godbolt it looks like the mutual recursion between `getSCEVAtScope` and `computeSCEVAtScope` is the issue here .

Would it be possible to extract an IR reproducer for `opt` alone, using `-mllvm -print-on-crash -mllvm -print-module-scope`? When adding those flags on godbolt, the crash goes away for some reason.

[2022-06-29 14:36] PeixinQiao commented on #56223
Thanks @banach-space . Built `flang-new` after git pull. Now the problem is solved.

[2022-06-29 14:36] #56223 closed

[2022-06-29 14:36] fonqL commented on #55575
Same here. Win10 wsl2. After updating Ubuntu from 20.04 to 22.04, I found lldb still kept version 10 so I ran `apt-get -u dist-upgrade` and upgraded again. lldb turned to version 14.0.0 now but came with this problem.

[2022-06-29 15:31] zhendongsu commented on #55511
@fhahn here it is:
[pr55511.txt](https://github.com/llvm/llvm-project/files/9011912/pr55511.txt)

[2022-06-29 15:37] BertalanD commented on #56276
[`libc++abi`](https://libcxxabi.llvm.org/) contains the low level parts of the C++ runtime. It's packaged for Debian/Deepin, just install the package and it will work.

[2022-06-29 16:40] maksfb commented on #56274
Can you try `—strict=0`?

[2022-06-29 16:49] nolange opened #56287 "clang-format crash with AlignArrayOfStructures"
happens on debian bookworm x86_64 with clang-format-14 1:14.0.5-1

Reproducer is attached

[code]
[log_data.zip](https://github.com/llvm/llvm-project/files/9012485/log_data.zip)

[2022-06-29 16:54] chfast commented on #50006
This is a reproducer for clang-tidy 14.
[code]

[code]

[2022-06-29 17:38] jasonmolenda commented on #56095
yeah fwiw I was using the alignment checks primarily to stop the unwinder if it ever got seriously confused.  I don't know if that safety net is actually needed in practice; I'd certainly try going down to an 8-byte or 4-byte alignment check or something if that seems possible in real world programs, despite what the official ABI says.

[2022-06-29 17:40] nickdesaulniers opened #56289 "-fsanitize=integer-divide-by-zero can cause functions to fallthrough to subsequent functions"
Consider the following reduced test case:
[code]
[code]
[code]
From what I can tell, it seems that before simplifycfg we have a phi from the overflow handlers with poison values. simplifycfg is turning them into a call to `__ubsan_handle_divrem_overflow` followed by unreachable.
[code]
[code]
[code]
This comes from [this thread](https://lore.kernel.org/lkml/CAKwvOdnfRnqBF8exO-Y1ooX=67TrO_8fSzgZwvU

[2022-06-29 17:50] rlavaee commented on #56274
Old llvm-bolt works with `-strict=0`, but I am getting regression and dyno_stats are consistent with regression:

[code]

[2022-06-29 17:56] nickdesaulniers commented on #56289
It seems that GVNPass introduces the poison:
[code]
[code]

[2022-06-29 18:17] int3 commented on #51756
It doesn't really work right yet though, see discussion in https://discourse.llvm.org/t/problems-with-mach-o-address-significance-table-generation/63392/9

[2022-06-29 18:20] SchrodingerZhu opened #56290 "clang exploded at a LTO module where ifuncs are aliased"
[code]
[report.zip](https://github.com/llvm/llvm-project/files/9013097/report.zip)

[2022-06-29 18:25] EugeneZelenko commented on #56290
Could you please try `main`?

[2022-06-29 18:34] SchrodingerZhu commented on #56290
![image](https://user-images.githubusercontent.com/20108837/176510697-8c3acefd-e596-4e85-9894-7901a23e1643.png)

[2022-06-29 18:46] mrvn opened #56291 "missed optimization in scalar multiplication of array that is never used again"
I have found a missed optimization in all versions of clang from 9.0 to 14.0.0 with -O2 and -O3. I have distilled the problem down to this test case:

[code]

The array `a` is never used again after the call to `mult()` and `mult()` has no side effect apart from modifying `a`. The function call can be removed, which then allows the `new` and `delete` to be merged and removed.

Expected result: the

[2022-06-29 18:47] SchrodingerZhu commented on #56290
Sure. it is being compiled.

[2022-06-29 18:50] omjavaid opened #56292 "LLDB fails to step no debug info functions on Arm/Windows"
LLDB fails to step in out or over functions with no debug information. Specifically TestStepNoDebug.py fails on Arm/Windows and also stepping over syscalls fails when code is compiled with dwarf because of debug info mismatch between library function and user code.

Consider following code example:
[code]
Compile with : clang -gdwarf
Launch executable using LLDB after setting breakpoint on main. Y

[2022-06-29 18:56] efriedma-quic commented on #56289
In general, ubsan "recovering" is sort of weird.  I mean, we detected undefined behavior, but what does the user actually expect the program to do after that point?  Any behavior we pick at that point is, at best, arbitrary.

I mean, we basically have the following options:

- Ignore the user's request to "recover", and instead insert a trap.
- Pick some arbitrary result.  Not clear what that resu

[2022-06-29 19:05] msebor opened #56293 "difference due to atoi folding on Darwin"
As discussed in [D128364](https://reviews.llvm.org/D128364#3618130), by relying on nonportable `strtol` behavior on the host, the `atoi` (and `strtol`) folders can introduce an observable difference between different targets or when cross-compiling.  The following test case passes successfully on Linux but will likely abort when cross-compiling for Darwin on Linux due to the first `atoi` call havi

[2022-06-29 19:16] pmor13 opened #56294 "Inefficient code generation: bitwise AND of disjoint booleans from equal and bitwise AND may not be optimized to constant 0"
`clang -O3` optimizes this code:
[code]
to:
[code]
However, `clang -O3` does not optimize this code:
[code]
[code]
Why?

Note: the `&` `b1 & b2` is used intentionally. If `&&` is used, then `clang -O3` optimizes it to:
[code]
How it can be explained?

Extra: if `#define LOGIC_AND` is uncommitted [here](https://godbolt.org/z/j8YWeM47b), then the whole program transfers into a no-op. Courtesy of [Lu

[2022-06-29 19:19] SchrodingerZhu commented on #56290
problem remains. sorry for the delay. compiling the debug version made my PC oomed several times.
![image](https://user-images.githubusercontent.com/20108837/176518262-e7a5b260-8ca1-4978-81b1-0f1a5ad6b874.png)

[2022-06-29 19:28] SchrodingerZhu commented on #56290
reduced example: https://godbolt.org/z/a5nPs7Wqz

[2022-06-29 19:31] #40084 closed

[2022-06-29 19:45] jrtc27 commented on #56291
The function call _is_ removed, and manually inlining doesn't change things. The problem is just your array is too big for Clang to keep track of; once it reaches 60 elements it doesn't reason about the data dependencies. https://godbolt.org/z/K4j3634qP is a simplified test case showing this.

[2022-06-29 19:59] rnk commented on #56285
This suggests that Microsoft has added additional subsection kinds:
https://github.com/microsoft/microsoft-pdb/blob/master/include/cvinfo.h#L4579
The warning exists to detect if and when this happens, so it's working as intended. Ideally, we should try to loop in someone from Microsoft to advise on what to do with the new subsection.

+various others @zmodem  @ZequanWu @alanzhao1

[2022-06-29 20:08] #49725 closed

[2022-06-29 20:13] aganea commented on #56285
Can @StephanTLavavej @gratianlup help here?

[2022-06-29 20:21] efriedma-quic commented on #56243
I think it makes sense to treat this as a bug in LoopSimplifyCFG.  The alternative implies that it's possible to have a loop that can't be transformed into LCSSA form, which seems a lot more invasive to change.  And I think most transforms that depend on "LCSSA" don't actually care about token values.

[2022-06-29 20:27] IsaacShelton opened #56295 "[bug] LLVM IR Fixed array values are not returned correctly if larger than 64 bytes when using -O0 on arm64"
### Details

**Description:**  When lowering, LLVM IR Fixed array values are not returned correctly if larger than 64 bytes when using `-O0` on arm64
**Target:** arm64-apple-darwin21.4.0
**Version:** LLVM 14.0.6 and earlier (until at least LLVM 13.0.1)

### Abstract

Returning a fixed array value doesn't not seem to be correctly lowered when using `-O0` on arm64 if the array is larger than 64 byte

[2022-06-29 21:38] SchrodingerZhu commented on #56290
[code]

[2022-06-29 21:40] haoNoQ commented on #56264
@martong this is your checker!

[2022-06-29 21:45] EmmaJaneBonestell commented on #56257
The sanitizer failures are not present when built with libc++, instrumented or not, but the stack traces elsewise provided are still relevant.

[2022-06-29 21:51] LebedevRI commented on #56289
In neither GCC nor Clang does that sanitizer return the control flow back to the program, even with `-fsanitize-recover=all`:
https://godbolt.org/z/ee7EbsdsY

[2022-06-29 22:16] gburgessiv opened #56296 "bugprone-unchecked-optional-access crashes with "Assertion `Cond != nullptr' failed""
When evaluating this check on Chromium, I noted a few crashes. A creduce'd test-case for one of them is below; it repros on 206a6037a093a73d928a60c3012593f921a4f639:

[code]

[code]

cc @ymand

[2022-06-29 22:21] maksfb commented on #56274
The latest dynostats you posted are way worse than the ones from the original post. -2.5% taken branches vs -32.9%. As if the profile was collected on a different run/binary.

Are you running the experiments on the same hardware as the old ones?

[2022-06-29 22:23] shafik commented on #56128
Looks like this no longer crashes on [trunk](https://godbolt.org/z/Gfcjx17je).

[2022-06-29 22:23] #56128 closed

[2022-06-29 22:32] ayermolo commented on #56277
Is this with latest bolt from llvm trunk?
How as clang built?

[2022-06-29 22:42] zufuliu commented on #55378
The test case no longer crashes, but the check now goes into infinite loop for https://github.com/zufuliu/notepad2/tree/main/scintilla/src/Editor.cxx and https://github.com/zufuliu/notepad2/tree/main/scintilla/src/EditView.cxx, it might be the same as issue #55530.

[2022-06-29 23:06] stellaraccident commented on #56269
Yes, especially generated MLIR-using C++ code -- having it checked in will mean that people will be inclined to hand-edit that in some fashion (or at least be confused), and it is inconsistent with anything else in LLVM. I think we can fix this... just need to figure it out.

[2022-06-29 23:24] ymand commented on #56296
Thanks! Interestingly, you're the third person to notice this today. @sgatev has the fix: https://reviews.llvm.org/D128833

[2022-06-29 23:46] silvasean opened #56297 "MLIR VSCode: TypeError: Cannot read properties of undefined (reading 'catch')"
I have started seeing this failure:

[code]

I have
[code]

And I verified that the file is there.

[2022-06-29 23:52] rlavaee commented on #56274
I regenerated the results again with new profile, this time making sure the binary has the build id.
perf2bolt logs do not suggest any significant profile mismatches.

[code]

dyno_stats are still similar.
[code]

Next I'll generate results with upstream BOLT.

[2022-06-29 23:55] maksfb commented on #56274
Thanks, Rahman. How was the input binary built?

[2022-06-30 00:08] rlavaee commented on #56274
Input binary is built with PGO and `-Wl,-q`, though it does have the extra SHT_LLVM_BB_ADDR_MAP section (generated using `-fbasic-block-sections=labels` which we never found to be an issue). The full cmake command is below:

[code]

Upstream bolt results regenerated:

[code]

[code]

[2022-06-30 00:20] rlavaee commented on #56274
Let me rebuild with a pure PGO binary built only with `-Wl,-q -Wl,-build-id`.

[2022-06-30 00:39] rlavaee commented on #56274
Same story with the cleaner relocation-only Release build.
cmake command:
`
cmake -G Ninja -DLLVM_OPTIMIZED_TABLEGEN=On -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_EH=OFF -DLLVM_ENABLE_RTTI=OFF -DLLVM_ENABLE_LLD="On" -DCMAKE_LINKER="lld" -DLLVM_TARGETS_TO_BUILD="X86" -DCMAKE_C_COMPILER="stage1/install/bin/clang" -DCMAKE_CXX_COMPILER="stage1/install/bin/clang++" -DCMAKE_ASM_COMPILER="stage1/install/bi

[2022-06-30 00:42] maksfb commented on #56274
What do you mean by the "same story"? The latest dynostats look reasonable to me. E.g. taken branches "-33.0%".

[2022-06-30 01:01] rlavaee commented on #56274
Same story as in the first comment. So no regression, but the improvement is smaller than before (5.5%).

[2022-06-30 01:03] maksfb commented on #56274
Gotcha. Same hardware as before?

[2022-06-30 02:23] #53436 closed

[2022-06-30 02:40] MaskRay commented on #56070
Thanks for the clear report and analysis.
`libclang_rt.builtins.a` or `libgcc.a` is really intended to be a leaf library (with exceptions that some part may call very specific libc/libunwind functions).
I am unsure having `.deplibs` in such a library is an intended use case.
https://reviews.llvm.org/D127885 introduces substantial complexity to symbol resolution so I am very nervous.
The hard-coded

[2022-06-30 02:56] vfdff opened #56298 "[ABI] Use too many sub instruction to adjust large alloc stack pointer"
test case, see detail https://gcc.godbolt.org/z/eoPsPfeWK
[code]

we can see that, the gcc use  **add     sp, sp, x1** to adjust the sp, while llvm use too much sub instruction, so may be there need a  threshold to generate code similar to gcc.
[code]

[2022-06-30 05:14] FuXiii commented on #56276
`apt` can not find `libc++abi` package
[code]
If I try to search `libc++abi` by `dpkg`:
[code]

[2022-06-30 05:19] rlavaee commented on #56274
Yes. It will be great if you could also redo the build and compare with your previous numbers.

[2022-06-30 06:07] ChuanqiXu9 commented on #51873
This would be addressed in https://reviews.llvm.org/D126189

[2022-06-30 06:07] #51873 closed

[2022-06-30 06:13] weycen opened #56299 "Redundant spaces before new line after format document use clang-format"
Hi, i find when i format a document use clang-format, it will add redundant spaces before newline when this line is too long to break.
Seems it want to align to `"` in first line, we don't need redundant spaces before new line, only need `Tab`.

- Code sample

https://github.com/ARM-software/arm-trusted-firmware/blob/caca0e57b8c4cceafa6812f2351419744648b890/bl31/bl31_main.c#L258-L259
[code]

Befor

[2022-06-30 08:22] alvinhochun commented on #56095
FWIW this also happens with `KiUserCallbackDispatcher`, for example when calling `DispatchMessage` to dispatch a window message it goes through the kernel and back to call the user `WndProc` callback, like in https://docs.microsoft.com/en-us/windows/win32/learnwin32/your-first-windows-program.

[2022-06-30 09:14] AldrinMathew commented on #56224
@EugeneZelenko
Are there any comments or can anyone else provide feedback on this? I am focusing on other parts of my compiler since this is not resolved yet. I cannot even compile a basic program using LLVM 13 & LLVM 14.
- Was there proper testing for LLVM in a linux(debian) environment, before release?
- Does the open `StringRef`izing project at clang have something to do with this?
- Is this po

[2022-06-30 09:45] fhahn commented on #55333
This doesn't crash on Godbolt any longer: https://godbolt.org/z/77T9rcKEE (It requires adding a newline to re-trigger compiling with the new compiler build I think)

[2022-06-30 09:48] FrancescElies opened #56300 "`lld-link: error: /INFERASANLIBS is not allowed in .drectve` in Visual Studio 2022 but not in 2019 (when including c++ stl)"
Related to #56285

## Problem

We are compiling and linking our program with ASAN under windows, among other flags we use`target=x86_64-pc-windows-msvc` and `-fuse-ld=lld`, the rest of the flags we still need figure out if they relevant.

We are seeing the following lld-link error on machines with _visual studio 20022_, for the following windows-sdks:
 - 10.0.17763.0
 - 10.0.19041.0
 - 10.0.20348.

[2022-06-30 10:11] jacobsa opened #56301 "[bug] clang miscompiles coroutine awaiter, moving write across a critical section"
I've hit what I think is a miscompilation bug in clang, where a write is moved in an illegal way that introduces a data race and/or use of uninitialized memory. Here is a test case reduced from my real codebase ([Compiler Explorer](https://godbolt.org/z/csYcszcdr)):

[code]

The idea is that the awaiter is implemented by calling a `Register` function in a foreign translation unit that decides what

[2022-06-30 10:18] jacobsa commented on #56301
By the way, I should mention that I discovered this because tsan reports it as a data race. And I think it's correct: clang has introduced a data race by putting a write after `Register`.

[2022-06-30 10:22] sbc100 opened #56302 "Crash in InstCombinerImpl when building cocos2d under emscripten"
This is currently causing emscripten CI to fail.   I'm working on bisect now.

The following command is used to repro within emscripten:

[code]

[2022-06-30 10:22] sbc100 commented on #56302
[repro.zip](https://github.com/llvm/llvm-project/files/9018900/repro.zip)

[2022-06-30 10:29] mrvn commented on #56291
Not sure about the array size alone being the culprit because with the same array this code
[code]
gets optimized into just calling `rand()` 10000000 times. But here the array is only written to and not read and written like in the missed optimization.

[2022-06-30 10:41] fhahn commented on #55511
Thanks! I am afraid someone else will need to investigate this one, as I am not able to reproduce this locally (on macOS).

[2022-06-30 10:52] rotateright commented on #56302
Sorry about the bug - I just committed a fix for a smaller example here:
7c4b90a98d3b

That seems to be the same problem as here. Can you confirm that the crash is gone locally for you after that patch? If so, please close this report.

[2022-06-30 11:18] fhahn commented on #55910
I am unable to reproduce this on current `main`. It would be great if you could verify this as fixed on your end. If it still reproduces on your side, please re-open the issue with an update reproducer.

[2022-06-30 11:18] #55910 closed

[2022-06-30 11:23] sbc100 commented on #56302
Confirmed fixed in 7c4b90a98d3bcd54c21f5cac340c2310dbc37705

[2022-06-30 11:23] #56302 closed

[2022-06-30 11:42] AaronBallman commented on #43708
What I get when I test against trunk is:

warning: stack nearly exhausted; compilation time may suffer, and crashes due to stack overflow are likely [-Wstack-exhausted]
fatal error: recursive template instantiation exceeded maximum depth of 1024

I'm no longer able to reproduce the issue (I could in Clang 9, but stopped being able to reproduce with Clang 10), so closing as WORKSFORME.

[2022-06-30 11:42] #43708 closed

[2022-06-30 12:01] Kobzol commented on #55004
Hi @aaupov, we're trying to use BOLT for optimizing the Rust compiler and we're hitting similar issues when trying to BOLTify LLVM. I wonder if there are any ongoing activities/investigation regarding the PGO clang/llvm crash? Thanks!

[2022-06-30 12:05] NimishMishra opened #56303 "[flang] min/max intrinsics are wrongly being interpreted as semantically valid"
`flang-new` currently does not report any error for statements like the following:

[code]

whereas both require at least two arguments. `gfortran` correctly reports error on these statements

[2022-06-30 12:06] max-quazan commented on #56243
The problem with this approach is that
- It is impossible to ensure that no other transform relies on this very fact in this way
- It is impossible to track when it changes

We don't even have an utility function that ensures that a loop is in LCSSA form (existing utils contain a hole for tokens). And there is no theoretical justification for that in definition of LCSSA form.

[2022-06-30 12:17] #56143 closed

[2022-06-30 12:32] tru opened #56304 "CodeGen X86: f16c implies all of AVX instead of just XSAVE"
Alright - up top I am just going to say that when it comes to the codegen underbelly I am not sure I know exactly what I am doing, but we noticed something when porting a project from MSVC to Clang.

This project uses some F16C intrinsics, specifically `_mm_cvtph_ps`.

If we enable `-mf16c` in Clang that implies that all of AVX gets enabled as well. This can be seen in the code here: https://githu

[2022-06-30 12:35] davidebaroffio-polimi opened #56305 "splitBasicBlockBefore() modifies the list of predecessors while iterating on them"
The issue
---
I noticed that the function `splitBasicBlockBefore()` implemented in the file `llvm/lib/IR/BasicBlock.cpp` updated the successors only of the first predecessor of 'this' BasicBlock. My take is that the following for loop
[code]
together with this line
[code]
in the loop modifies the iterator causing the program to exit the for loop.

My solution
---
I managed to fix this modifying th

[2022-06-30 12:40] adalava opened #56306 "reorder of a orphaned Relro section causes crash on powerpc32 binary"
FreeBSD powerpc/powerpc64 on PSERIES machines uses a 32 bit loader and it's crashing during boot when built with llvm14.
Bisect points to change https://reviews.llvm.org/D111717.
I noticed that after this change the special section ".data.rel.ro" is placed after ".data"

Good:
[code]

Bad:
[code]

[2022-06-30 12:42] adalava commented on #56306
I prepared this patch to avoid the reordering. Does it make sense or it may be hiding a bug somewhere else?

[code]

[2022-06-30 12:51] mikaoP opened #56307 "Inconsitency in task_state after enabling tasking in the serial team"
[code]
The execution hangs after doing all printfs, and it only happens if the number of threads of the second parallel is greater that the first one.

This program (compiled as `clang -fopenmp t1.c`) enables tasking in the serial team because of creating a detached task. I've been debugging a bit and it seems that task_state stack is used. Without the detached task this data structure is not modi

[2022-06-30 13:09] #21668 closed

[2022-06-30 13:25] therealviklo opened #56308 "Crash when optimising llvm assembly"
`opt` told me to report this crash backtrace:

[code]

Also, here is test.ll:
[code]

[2022-06-30 13:35] arsenm commented on #56308
I'm surprised you're using opaque pointers with llvm 13. Testcase works fine for me on main and opt-14. I do see the breakage with opt-13; I think it's safe to assume this was opaque pointer related and has since been fixed

[2022-06-30 13:52] EugeneZelenko commented on #56224
@AldrinMathew: You could try to ask questions on https://discourse.llvm.org

[2022-06-30 14:01] ujos opened #56309 "The inialization order of the the "static inline" data members vs CRT is not right"
It seems the initialization order of the `static inline` variables is not in line with C-Runtime initialization.

[code]

When I compile and run the following code, it prints nothing. Apparently application crashes during the initialization of the `C1::f1` while printing to the `std::cout`

[code]

In case if I remove the body of the `Field::Field` constructor, code compiles and runs just fine.

I

[2022-06-30 14:17] FrancescElies commented on #56300
In one of the problematic object files I could find `/INFERASANLIBS ` still not clear to me how this landed here.

[code]

[2022-06-30 15:15] nikic commented on #56294
IR test case: https://alive2.llvm.org/ce/z/qy4_Hc

[2022-06-30 15:21] ilya-biryukov opened #56310 "Clang does not check for ODR violations when merging concepts from different modules"
For this code:
[code]

Expected: compiling the code produces an error as `concept A` is defined differently in two consumed modules, therefore it produces an ODR violation.
Actual: no error about ODR violation. Depending on the chosen concept a call to `foo<int>()` either succeeds or fails.

[2022-06-30 15:33] aeubanks commented on #56301
@ChuanqiXu9

[2022-06-30 16:06] rotateright commented on #56294
This seems likely to be fixed by changing an unusual canonicalization that converts 'trunc X to i1' into 'icmp ne (and X, 1), 0'.

Alternatively, we are missing narrowing transforms for bitwise logic ops when zexts are from different sizes:
https://alive2.llvm.org/ce/z/sYXMLA

[2022-06-30 16:20] Mark-Dunn-OIL opened #56311 "The 'default build' puts the compiler-rt libraries in the wrong place"
The document [https://libcxx.llvm.org//BuildingLibcxx.html](url) Introduces the concept of a 'Default Build', but building compiler-rt in this style causes the compiler-rt libraries to be put in the wrong place.

In the file .../compiler-rt/cmake/base-config-ix.cmake line: 33
[code]
The PACKAGE_VERSION is unavailble (but both LLVM_LIBRARY_OUTPUT_INTDIR and LLVM_RUNTIME_OUTPUT_INTDIR are)
and there

[2022-06-30 16:34] mrvn commented on #56291
Indeed. Only the `mult` is the problem. I just need the allocation to have the array in the test case.

[2022-06-30 16:39] jhuber6 commented on #56241
Can we mark this as closed as it seems there won't be any backports?

[2022-06-30 16:40] q-p commented on #56241
Fixed in https://github.com/llvm/llvm-project/commit/c7243f21d3f1b1544f6067f81b02c0af9f2ee8ab

[2022-06-30 16:56] preames commented on #55596
commit dc562d570dfe7589a27497c1210b105d9d8603f0
Author: Philip Reames <preames@rivosinc.com>
Date:   Mon Jun 20 07:46:46 2022 -0700

    [RISCV] Fold prepass back into InsertVSETVLI data flow [nfc-ish]

    When working through correctness issues in this pass, I moved a number of transforms which were phrased as mutating prior vsetvli instructions out of the main data flow because mutating prior i

[2022-06-30 16:56] #55596 closed

[2022-06-30 16:56] jrtc27 commented on #56291
No it's not, mult was inlined so its attributes are totally irrelevant. The problem is whether the loop is short enough that LoopFullUnrollPass unrolls it fully, allowing GVN to figure out all the dead loads/stores, or not. Note also the threshold is different between -O2 and -O3 (UnrollThresholdDefault/unroll-threshold-default, 150 by default, and UnrollThresholdAggressive/unroll-threshold-aggres

[2022-06-30 17:31] efriedma-quic commented on #56243
If we assume we aren't going to mess with the definition of "token", then most loop passes need some sort of handling for tokens.  The only question is what helper functions we implement for loop passes.

We can split the LCSSA checker function into two functions: one checking for LCSSA-ignoring-tokens, and one checking for LCSSA-including-tokens.  (We could change which one "Loop::isLCSSAForm" re

[2022-06-30 17:43] klausler commented on #56272
Works for me when I copy ad paste your example.  Do you have a weird character in your original source file?  Try dumping it with "od -c test.f90".

[2022-06-30 17:50] chilikink commented on #56272
No, there are no unusual characters:
[code]

[2022-06-30 17:54] klausler commented on #56272
Ok.  Take off the -fstd=2018 option and it works.  I don't know what Arm's driver is doing with that option but it's breaking something.

[2022-06-30 18:05] mysterymath commented on #56070
I took a moment to track down where the deplibs is coming from:

https://github.com/llvm/llvm-project/blob/329fae7103d355e728cc326a0a9abef889ccc577/compiler-rt/lib/builtins/cpu_model.c#L823

Looks like the determination of whether certain atomics are available on Fuchsia requires a direct syscall via the libzircon.so  vDSO provided by the kernel.

[2022-06-30 18:19] urnathan opened #56312 "clang module in deferred parse region gives very confusing diagnostics"
This is derived from boost's define_if_constexpr header. That (and its sibling undef_if_constexp) are non-idempotent headers that surround conditional use of `if constexpr` by defining an IF_CONSTEXPR macro.  Sadly these #include <boost/config.hpp> to find information about whether if-constexpr is to be used.  It's desirable to have config.hpp as a header module (and weirdly I couldn't just make i

[2022-06-30 18:39] maksfb commented on #56274
Our previous evaluation was on older version of Clang and I don't expect it to be different, but I can give it a go. It's entirely possible that lesser gains are seen with Clang-15 for a number of reasons.

[2022-06-30 18:51] jensmaurer opened #56313 "Error with valid defaulted default constructor involving anonymous union"
Test case:
[code]

Result:
[code]

The error goes away if `= default` is replaced with `{}`.

The error message is incorrect, because none of the items in [class.default.ctor] p2 applies. In particular, p2.2 does not apply because S::a has a default member initializer.

Related gcc bug report: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=106150

[2022-06-30 19:16] MaskRay commented on #56306
I think https://reviews.llvm.org/D111717 is correct. lld's default relro may be at fault (and difficult to change nowadays due to so many tests rely on the behavior). There are several fixes:

* specify at least one output section description for a RELRO section (e.g. `.data.rel.ro`)
* `-z norelro`

[2022-06-30 19:30] #42899 closed

[2022-06-30 19:37] bneradt opened #56314 "clang-format modifies timestamps on certain files despite not modifying their content"
Apache Traffic Server uses clang-format to format its files. It generally works great, thank you for the tool. However we notice that after an initial configuration and build of the Traffic Server repository, the first run of clang-format modifies the timestamps on a couple files despite not changing their content. These files are header files included throughout the repo, so this results in basic

[2022-06-30 19:41] preames opened #56315 "Missed oppurtunity to fold scalar offset into base of indexed load"
This is a performance opportunity noted when analyzing sqlite3.  Filing this with reproduction instructions for the original observation and some analysis below, plan to follow up with reduced test cases when I have some time.

[code]

The amalgamation file is taken from the sqlite3 website.

Non optimal assembly observed:
[code]
Note that in the assembly above, `vluxei64.v` allows the use of a re

[2022-06-30 19:41] maksfb commented on #55004
Will put up the fix soon. Let’s see if it solves your problem too.

[2022-06-30 19:46] bneradt commented on #56314
I realized that this actually is modifying these files but it's not showing up in my `git diff` commands because they are generated and not tracked files. How obvious. Sorry for the noise.

[2022-06-30 19:46] #56314 closed

[2022-06-30 19:48] preames opened #56316 "Missed oppurtunity to fold vmerge into using vadd"
This is a performance opportunity noted when analyzing sqlite3. Filing this with reproduction instructions for the original observation and some analysis below, plan to follow up with reduced test cases when I have some time.

[code]

The amalgamation file is taken from the sqlite3 website.

Non optimal assembly observed:

[code]
We're using the `vmerge` to materialize a vector of either 9 or zero

[2022-06-30 20:01] preames opened #56317 "Missed oppurtunity to narrow vluxei64.v (gatther load)"
This is a performance opportunity noted when analyzing sqlite3. Filing this with reproduction instructions for the original observation and some analysis below, plan to follow up with reduced test cases when I have some time.

[code]

The amalgamation file is taken from the sqlite3 website.

Non optimal assembly observed:
[code]
We're using a wider data type for the indexed load then is required.

[2022-06-30 20:11] preames opened #56318 "Enable shrink-wrap optimization on RISC-V"

[2022-06-30 20:18] preames commented on #56315
This is from a massive function, but I think this is it..
[code]

[2022-06-30 20:40] aeubanks opened #56319 "LoopVectorize miscompile caused by D126680"
Caused by https://reviews.llvm.org/D126680 @fhahn
[code]

the following diff is the issue

[code]

running `simplifycfg` + `instcombine` helps show the problem more clearly that the block `vec.epilog.vector.body` is only run once instead of `120 / 8` times

at head
[code]

with patch reverted
[code]

[2022-06-30 20:48] topperc commented on #56315
I think maybe the vector zext broke the strided access recognition?

[2022-06-30 20:49] efriedma-quic commented on #56293
Is the idea here just to change the following from convertStrToNumber:

[code]
to something like the following?
[code]

That seems reasonable.  (Alternatively, we could switch to using llvm::consumeSignedInteger.)

[2022-06-30 20:52] preames opened #56320 "Redundant zext.h following dominating comparison against zero"
This is a performance opportunity noted when analyzing sqlite3. Filing this with reproduction instructions for the original observation and some analysis below, plan to follow up with reduced test cases when I have some time.

[code]

The amalgamation file is taken from the sqlite3 website.

Non optimal assembly observed:
[code]
In this case, the `zext.w` is a nop.  `lw` is sign extending, and the

[2022-06-30 20:59] preames opened #56321 "Missed oppurtunity to narrow sext byte load pattern"
This is a performance opportunity noted when analyzing sqlite3. Filing this with reproduction instructions for the original observation and some analysis below, plan to follow up with reduced test cases when I have some time.

[code]

The amalgamation file is taken from the sqlite3 website.

Non optimal assembly observed:
[code]
This is extracting the low byte, and then sign extending it.

This as

[2022-06-30 21:03] preames opened #56322 "Missed oppurtunity to remat constant address"
This is a performance opportunity noted when analyzing sqlite3. Filing this with reproduction instructions for the original observation and some analysis below, plan to follow up with reduced test cases when I have some time.

[code]

The amalgamation file is taken from the sqlite3 website.

Non optimal assembly observed:
[code]
Here we are materializing a constant address into a register just to

[2022-06-30 21:04] klausler commented on #55779
I understand the bug here; fix is coming.

[2022-06-30 21:49] topperc commented on #56321
I'm not seeing any `srai xX, xY, 56` instructions with Zbb.

[2022-06-30 21:54] krzysz00 opened #56323 "--vector-to-rocdl broken on gfx1030 backend"
# Symptoms
[code]

Note that only the transferops test fails - all other ROCm integration tests pass.

# The likely cause

In `--vector-to-rocdl`, the buffer description structure that is needed for certain memory instructions is defined using [certain magic constants](https://github.com/llvm/llvm-project/blob/main/mlir/lib/Conversion/VectorToROCDL/VectorToROCDL.cpp#L113)

These magic constants ar

[2022-06-30 22:21] preames commented on #56321
You sure?  I went back and double checked I was looking at an assembly file compiled with Zbb, and I still see the assembly as above.  My clang might be a couple days old, but that's the only thing I can think of which might cause a difference.

[2022-06-30 22:44] topperc commented on #56321
I double checked too. Do you see sext.b in other places? Does the srai 56 show up in many places with Zbb? What function is the example from?

[2022-06-30 22:51] EmmaJaneBonestell commented on #56257
Documents that --wholeprogramdevirt-skip takes comma separated fields and that it accepts glob patterns (not regex nor only complete matches.)

I don't have enough experience with bugpoint, nor are there really any examples showing any more advanced use of it when using llc/lli are not an option due to llvm.type.chevked.load
So, if anyone wishes to attempt to reduce this test-case of llc bitcode i

[2022-07-01 00:00] MaskRay commented on #54631
Is it useful to port https://reviews.llvm.org/D128029 (`[AArch64] Add target feature "all"`) to ARM?

[2022-07-01 00:19] #56089 closed

[2022-07-01 00:31] kiranchandramohan commented on #56140
Fixed. Thanks @PeixinQiao.

[2022-07-01 00:31] #56140 closed

[2022-07-01 00:49] MaskRay commented on #41246
Patch: https://reviews.llvm.org/D128959

[2022-07-01 00:52] efriedma-quic commented on #54631
In general, ARM compilers for ELF generally encode information about the target into object files, so it's not as much of an issue.  But it might be useful: if the code is doing runtime feature detection, or we're dealing with at handwritten assembly, some available instructions might not be automatically detected.

It's a little complicated, though, because the armv8-m instruction set has signifi

[2022-07-01 01:13] alexander-shaposhnikov commented on #56189
https://reviews.llvm.org/D128897

[2022-07-01 01:22] kawashima-fj commented on #56275
@CongzheUalberta @bmahjour @TaWeiTu You commited to LoopInterchange and DependenceAnalysis recently. Does anyone have a comment?

[2022-07-01 01:32] PeixinQiao commented on #55835
[code]
@kiranchandramohan I checked my build classic flang and it works for me. Can you check if there is something wrong with the build?

[2022-07-01 01:35] kiranchandramohan commented on #55835
Did you try on an AArch64/X86 machine? If you tried on X86, could you try on AArch64, and if it only happens there I can change the summary to restrict this to AArch64.

[2022-07-01 01:37] PeixinQiao commented on #55835
I tried on aarch64. Haven't try it on X86.

[2022-07-01 01:40] kiranchandramohan commented on #55835
Is this with a pgmath version from upstream classic-flang?

[2022-07-01 01:45] PeixinQiao commented on #55835
Yes. I tried my baseline version, which is the upstream version.
[code]
[code]
[code]

[2022-07-01 01:51] MaskRay commented on #39995
Fixed by 275862c75d9f203903b8bda2c41bd2d1e1efe885 . llvm-objdump now disassembles all known AArch64 instructions by default (when neither --mcpu= nor --mattr= is specified).

[2022-07-01 01:51] #39995 closed

[2022-07-01 01:53] kiranchandramohan commented on #55835
I get the runtime error when I try.

BTW, do you see the call to the complex exponentiation function in FIR?
[code]

[2022-07-01 02:00] PeixinQiao commented on #55835
$ bbc -emit-fir test.f90
$ cat test.mlir
func.func @_QQmain() {
  %0 = fir.alloca !fir.complex<4> {bindc_name = "i", uniq_name = "_QFEi"}
  %cst = arith.constant 0.000000e+00 : f32
  %cst_0 = arith.constant 1.000000e+00 : f32
  %1 = fir.undefined !fir.complex<4>
  %2 = fir.insert_value %1, %cst, [0 : index] : (!fir.complex<4>, f32) -> !fir.complex<4>
  %3 = fir.insert_value %2, %cst_0, [1 : index]

[2022-07-01 02:10] #56306 closed

[2022-07-01 02:39] amritpan opened #56324 "Improve "Variable declaration in condition must have an initializer" error"
Recently, I encountered this error in the below piece of code. My mistake was not serious (the first loop should be `for` not, `if`) but this diagnostic gives me no actionable information for fixing my obvious mistake.

`SmallVector<Constraint *> sortedConstraints;
    if (const auto &choice : getNestedConstraints()) { \\ error highlights choice here
      if (choice->isFavored())
        sortedCo

[2022-07-01 02:43] MaskRay commented on #56309
Invalid example. The dynamic initialization of listdc++ `__ioinit` is ordered. For `static inline const Field f1{"C1::f1"};`, the dynamic initialization of f1 is partially-ordered (inline non-template). According to C++ `[basic.start.dynamic]`, the two initializations are indeterminate. Clang chooses to initialize f1 before `__ioinit`, therefore a crash.

When the latter example is used, the dynam

[2022-07-01 02:43] #56309 closed

[2022-07-01 02:44] orcguru opened #56325 "PowerPC LIT test broken by clang/test/C/drs/dr208.c"
Seems the detail output depends on arch.

On ppc64le which has "-triple powerpc64le-linux-unknown" for example I saw:
call signext i32 @dr208_init(i32 noundef signext 2)

https://github.ibm.com/compiler/llvm-project/commit/cce06da1ecf789658551ca5f3b255c361f063abf#diff-73ab68f82ee53e63e7f8b4efd08552e1181ffa023da6f34ff600fbfcbee1f547

Do we need to narrow down the case on some particular arch?

[2022-07-01 02:46] ChuanqiXu9 commented on #56301
I'm not sure if this is related to a known bug that current coroutine couldn't cache TLS variable correctly.

@jacobsa Could you build clang from source? If yes, could you test it again after applying https://reviews.llvm.org/D125291 and https://reviews.llvm.org/D127383?

[2022-07-01 02:52] hubert-reinterpretcast commented on #56325
There is another solution. For example in `clang/test/CodeGenCXX/builtins.cpp`:
[code]

[2022-07-01 02:58] jacobsa commented on #56301
@ChuanqiXu9: just saw your comment while writing this. I'll try that shortly, but it may take me some time because I've never done it before. In the meantime here is some information about the IR—can you tell whether it's related based on that?

[Here](https://gist.github.com/jacobsa/418ef54a7afea9c1d16f3fb673062cd3) is an IR dump after each optimization pass made with `-mllvm -print-after-all -ml

[2022-07-01 03:18] bradlitterell opened #56326 "clang-format misaligns comments when indenting preprocessor directives with BeforeHash"
Seems like clang-format is attempting to align comments with a `#define`, but incorrectly uses `IndentWidth` instead of `PPIndentWidth` if they differ.

Example:

Output:
[code]

Format:
[code]

Input Source:
[code]

[2022-07-01 03:41] jacobsa commented on #56301
@ChuanqiXu9 okay yes, I can reproduce this at `91ab4d4231e5b7456d012776c5eeb69fa61ab994`:

[code]

I applied https://reviews.llvm.org/D125291 and https://reviews.llvm.org/D127383 in their current state and rebuilt clang, and still get the same result. I guess that makes sense—there is no TLS here.

[2022-07-01 03:59] CongzheUalberta commented on #56275
Thanks for bringing it up, I will do some investigations on this issue.

[2022-07-01 04:07] #56325 closed

[2022-07-01 04:45] MaskRay commented on #55246
For a SHT_NOBITS section like .bss, its sh_offset is typically not aligned by sh_addralign. If it is converted to SHT_PROGBITS by `--set-section-flags .bss=alloc,contents`, the GNU behavior is to align it when computing the output size for -O binary.
I do not feel strongly about this behavior and whether we should match. If we should match, https://reviews.llvm.org/D128961 is a candidate patch.

[2022-07-01 04:56] MaskRay commented on #54075
You may read https://github.com/llvm/llvm-project/blob/main/llvm/lib/ObjCopy/ELF/ELFObject.cpp#L2639 for the `-O binary` layout algorithm. It computes LMA for each non-empty SHF_ALLOC section, then the minimum LMA `MinAddr`. For a section with LMA `O`, it writes its content at file offset `O - MinAddr`.

In your example, `.startup`'s address is 0x70040000, very far away from the end 0xffff0078, so

[2022-07-01 04:56] #54075 closed

[2022-07-01 05:15] Kimplul commented on #55246
At least what I used it for was creating a single binary blob that contains a program and immediately following the program a payload. This allows me to pretty easily reuse the program and attach different payloads to the image (with some header data for length etc.) without having to recompile the program for each payload and allows fairly easy handling since it's all in a single file, so easy to

[2022-07-01 05:17] ChuanqiXu9 commented on #56301
Oh, sorry for misleading.

---

I think I get the problem. Long story short, your analysis (and the analysis of tsan) is correct. This is a (potential) miscompile.

Here is the reason:
[code]

The key issue here is that:
- The suspended is/will be a member variable of the coroutine frame.
- But the coroutine frame is escaped in the call. So the `suspended` is escaped too. So we shouldn't sink it.

[2022-07-01 05:39] ChuanqiXu9 opened #56327 "[Drivers] [Modules] Inconsistent behavior between clang and clang_cc1"
For the following example:

[code]

It would crash if I run:

[code]

But once I use `clang_cc1`, it is fine:

[code]

Although I haven't located the problem, I guess it should be a bug.

[2022-07-01 05:55] cor3ntin commented on #26599
Fixed in 64ab2b1dcc51

[2022-07-01 05:55] #26599 closed

[2022-07-01 06:20] uncleasm opened #56328 "Missed optimisation in jump tables (arm64)"
In https://godbolt.org/z/EqTaa1sqG

the produced code for a (short jump table <= 255 instructions) could be slightly optimised by using the same
base address for table loading and jumping; This saves 1 register and 2 instructions compared to the original approach, which can encode jump table to 256 instructions.

[code]
vs.

[code]

[2022-07-01 06:22] jensmaurer commented on #56313
Reduced testcase (thanks to gcc maintainer Andrew Pinski):
[code]

[2022-07-01 06:44] jacobsa opened #56329 "[bug] clang miscompiles coroutine, resuming it from final suspend"
I believe I've found a bug in clang's implementation of symmetric coroutine control transfer ([P0913R0](https://wg21.link/P0913R0)). Under some conditions it seems like **clang will resume a coroutine after it hits its final suspend point, without anything in the program saying it should do so**.

---

Below is a program with a promise type that uses straightforward symmetric control transfer:

*

[2022-07-01 06:45] jacobsa commented on #56329
@ChuanqiXu9 Here's another one for you if you're able to help. :-/

[2022-07-01 07:08] uncleasm opened #56330 "Poor code generation on two simple nested loops (arm64)"
In the fragment https://godbolt.org/z/Tdjv4xq45

the code shows an image processing algorithm that will handle arbitrary image widths (that are not multiples of given block size).

[code]

What I can tell, GCC manages the inner loop optimally producing code
[code]

Instead clang tries to make the outer loop constant 0, adding one `mov` to the inner loop to catch the unmodified loop counter, which

[2022-07-01 07:10] ChuanqiXu9 commented on #56329
Yeah, this should be a bug indeed. I would try to take a look.

[2022-07-01 07:24] max-quazan commented on #56243
Do you think it's a good practice? It looks like that we've introduced 2 contradictory statements (LCSSA must be sustained for all values and LCSSA Phi cannot be created for token) and then need to hack every loop pass to maintain this.

[2022-07-01 07:30] dmitriy-philimonov commented on #56265
@maksfb , checked your patch from here https://reviews.llvm.org/D128960 for full MySQL server, the instrumentation / gathering profile is successful.

Большое человеческое спасибо :)

[2022-07-01 07:59] thesamesam commented on #56032
I don't see why that'd happen but given mgorny reports master works fine and I don't think this is urgent, let's just leave it for now.

If someone spots the follow up or something which we might need, we can revisit.

[2022-07-01 08:18] david-arm commented on #56319
I wonder if we're somehow using the main vector's body <VF,UF> when optimising the branch in the epilog?

[2022-07-01 08:23] Frankenstein-bit opened #56331 "store Global variable err"
I try run my code ,and get this error:
here are my llvm pass code which lead to this error:
GlobalVariable* snkGlobalAddr =
                            (*mod).getGlobalVariable(globalAddrStr);
                        llvm::IRBuilder<> Buildersnk(snkNonConstInst);
                        auto snkGlobalAddrLoad = Buildersnk.CreateLoad(Type::getInt64PtrTy(CTX),snkGlobalAddr);

[2022-07-01 08:30] fhahn commented on #56319
I think the issue boils down to epilogue vectorization re-using the same VPlan for both the main vector loop and epilogue vector loop. But when executing the first plan, it gets optimized, which. then gets incorrectly re-used.

Going forward as more things get moved into plans directly we probably need to move away from this re-use as soon as possible. I'll prepare a fix.

[2022-07-01 08:50] zmodem commented on #56189
Thanks for the bug report!

One way to think about this is as a special case of:

[code]

LLVM will essentially generate

`return (x - 1) < 4 ? table[x - 1] : 0;`

but we could avoid the subtraction if we grew the table by synthesizing a `case 0`. In your example, growing the table has zero cost since it would still fit in a register.

[2022-07-01 08:51] FrancescElies commented on #56300
In general I think it would be great to show which file had a problem with `.drectve`

[code]

[2022-07-01 08:54] ujos commented on #56309
@MaskRay I hardly can understand the language they use in the C++ standard, but I believe you are right.

From other side it means we cannot use any of STL classes inside the `static inline` variable constructor. I'm not sure that is what developers expect.

[2022-07-01 09:40] jacobsa commented on #56301
Yeah, I didn't mean disabling optimizations altogether. Just recognizing that this particular optimization shouldn't be performed for objects that span an `llvm.coro.suspend`.

It's probably more complicated than I realize. Thanks for looking; I look forward to seeing what fix you come up with. :-)

[2022-07-01 09:49] RKSimon opened #56332 "Terrible vector codegen for cross product"
https://godbolt.org/z/WGosfesMd

We struggle to efficiently vectorize a typical cross product pattern, and it doesn't seem to make much difference if the (unused) w component is specified or not.

[code]
clang -g0 -O3 -march=btver2
[code]
clang -g0 -O3 -march=btver2 -DZEROW
[code]

[2022-07-01 10:15] nrinskaya opened #56333 "[CorrelatedValuePropagation?] Assertion `RHS.U.VAL != 0 && "Divide by zero?"' failed."
Please note: this issue might be a duplicate of https://github.com/llvm/llvm-project/issues/55390

This bug was found by Azul FuzzGen IR test generator.

https://godbolt.org/z/6zWxzan3b

Run `opt with -passes=correlated-propagation`:

[code]

Stacktrace:
[code]

[2022-07-01 11:13] #56331 closed

[2022-07-01 11:24] nrinskaya opened #56334 "[FixIrreducible] Assertion `std::abs(NumInsertions) <= 1 && "Unbalanced operations!"' failed."
This bug was found by Azul FuzzGen IR test generator.

https://godbolt.org/z/ocvT445Kx

Run opt with -passes=fix-irreducible:

[code]

Stacktrace:
[code]

[2022-07-01 11:38] AaronBallman commented on #56324
An actual reproducer for this is:
[code]
https://godbolt.org/z/zTPzqad5h

That said, I don't know how much there is to be done to help this diagnostic wording -- what is being parsed for this is an init condition (due to the declaration following the `if(`), so Clang is diagnosing it being invalid. GCC diagnoses the colon as being potentially part of a nested name specifier, which might be a sligh

[2022-07-01 11:43] FrancescElies commented on #56300
I updated the issue description with a reprex.

[2022-07-01 12:28] rotateright commented on #56119
Should be fixed with cc88445a9106

[2022-07-01 12:28] #56119 closed

[2022-07-01 12:48] #56319 closed

[2022-07-01 12:59] nikic commented on #56333
A bit cleaner test case:
[code]

[2022-07-01 13:00] #56185 closed

[2022-07-01 13:24] adalava commented on #56306
I confirmed it works after adding ".data.rel.ro" description to our linker script.

[2022-07-01 13:45] #56333 closed

[2022-07-01 13:55] nikic commented on #56266
It looks like just `-loop-deletion` is sufficient. Here's a test case in loop simplify form and without UB:
[code]

[2022-07-01 14:03] nikic commented on #56266
Further simplified:
[code]
The relevant bit here is that the entry block is a loop preheader (which means it is a loop predecessor that has a single successor and is safe to hoist into), but not a branch.

[2022-07-01 14:05] serge-sans-paille commented on #49223
tentative fix in https://reviews.llvm.org/D128992

[2022-07-01 14:12] nrinskaya opened #56335 "[NaryReassociate] Simple IR test hangs on nary-reassociate pass"
This bug was found by Azul FuzzGen IR test generator.

https://godbolt.org/z/78aMzshT6

Run opt with -passes=nary-reassociate and see that it hangs forever on a simple test:

[code]

[2022-07-01 14:13] #56266 closed

[2022-07-01 14:47] chapuni opened #56336 "lit::max-failures.py is flaky, sometimes hangs"
At the moment, I don't know how to reproduce the issue. Possibly <10%
Seems Output/%t.out shows lit hangs up before SKIPPED.

Environment:
- AWS c6g.x4large and c6a.x4large
- Ubuntu 20.04 (py3.8)

As far as I investigated, multiprocess terminate() might be the culprit.
Could we change the behavior of --max-failures as soft termination?
(eg. when max-failures count reaches, don't terminate running

[2022-07-01 14:59] nikic commented on #56335
Without UB:
[code]

The `0` argument appears to be relevant.

[2022-07-01 15:04] #51333 closed

[2022-07-01 16:01] morehouse commented on #33984
I believe this has been fixed for LLD for a while.  Other linkers still have issues due to differences in how linkers do dead stripping.

[2022-07-01 16:01] #33984 closed

[2022-07-01 16:04] morehouse commented on #33662
Most work is done, and bug untouched for nearly 5 years.

Can open new bugs for any additional work we want to do.

[2022-07-01 16:04] #33662 closed

[2022-07-01 16:08] #41246 closed

[2022-07-01 16:10] clausecker opened #56337 "Compiler crash on armv7 FreeBSD 13.1 (SIGBUS)"
This crash has been discovered in the investigation of a [build failure](https://bugs.freebsd.org/264979) of FreeBSD port `archivers/c-blosc2`.  Compiling the following minimised test case with the system C compiler at optimisation level `-O2` or higher causes a compiler crash on armv7:

[code]

This crash does not occur on other architectures and does not reproduce with Clang 12.0.1 from ports (t

[2022-07-01 16:17] EugeneZelenko commented on #56337
Could you please try `main`? https://godbolt.org should be helpful.

[2022-07-01 16:34] clausecker commented on #56337
@EugeneZelenko I'm not sure if it'll be helpful as the crash only occurs when the compiler runs on armv7 (or PPC apparently).  And I don't think godbolt does that.  So a [godbolt run](https://godbolt.org/#g:!((g:!((g:!((h:codeEditor,i:(filename:'1',fontScale:14,fontUsePx:'0',j:1,lang:___c,selection:(endColumn:2,endLineNumber:7,positionColumn:2,positionLineNumber:7,selectionStartColumn:2,selectionS

[2022-07-01 16:38] efriedma-quic commented on #56328
See https://reviews.llvm.org/D32564, https://reviews.llvm.org/D87286, https://source.android.com/devices/tech/debug/execute-only-memory .  (There's certainly room for improvement, but there are a lot of constraints involved here.)

[2022-07-01 16:50] MikeWang000000 opened #56338 "llvm-rc: parser should allow string type as nameID"
About user-defined resources, both
[code]
and
[code]
are allowed and can be successfully compiled by Microsoft's `rc.exe`.

However for the latter one `llvm-rc` exits with error:
[code]

Quotes are necessary when nameID contains special characters like `@` (e.g. `"sr@latin"`)

[2022-07-01 17:00] EugeneZelenko commented on #56337
@clausecker: I meant `main` branch.

[2022-07-01 17:04] jpenix-quic commented on #55961
Hi, I've started looking at this a little bit and was hoping to ask a few initial questions!

It looks like much of the core infrastructure needed for this issue is already in place. If I am understanding correctly, in gfortran there are three ways to specify switching endianness for data in unformatted files, some of which is already supported here:

1. The `-fconvert` flag
	- This issue! It look

[2022-07-01 17:05] zero9178 commented on #53492
Thanks for the fix @javedabsar1! :)

[2022-07-01 17:05] #53492 closed

[2022-07-01 17:09] clausecker commented on #56337
@EugeneZelenko I've tried with a devel version from 2022-03-28, which crashes with the same kind of reason:

[code]

Building the current `main` would take about three days on my Raspberry Pi, but if this is very important, I can try to do a build and check.  Otherwise I'd rather not to (my Raspberry Pi is currently busy compiling all FreeBSD ports).

[2022-07-01 17:20] sevaa opened #56339 "llvm-dwarfdump-11 gives "invalid range list offset" errors"
On the attached binary, llvm-dwarfdump-11 v 11.0.1 gives a whole lot of errors like this:

I've tried the same binary with a different DWARF parser (pyelftools), there is nothing wrong with rangelists or their offsets.

[dwarf_v5ops.so.zip](https://github.com/llvm/llvm-project/files/9030640/dwarf_v5ops.so.zip)

[2022-07-01 17:22] BertalanD commented on #56337
Stacktrace from e29133629b3d389b3c7cd9083874de5792747967 a known bad revision. Happens on an x86-64 machine as well, so I'm not sure if the crash is related. Had to remove `-munwind-tables`, otherwise the args are unchanged.

[code]

Can't reproduce on trunk from yesterday. The fix for the mentioned assertion failure landed in https://github.com/llvm/llvm-project/commit/88ce403c6aab1d0973d93da1a7a

[2022-07-01 18:07] efriedma-quic commented on #56243
If you treat the very existence of both the LCSSA transform and the "token" type as a contradiction, then the only solution is to get rid of one of them.  Getting rid of one of them doesn't seem like a path forward, though; they're both useful aspects of LLVM IR, so we need to reconcile them somehow.

Changing unroll/unswitch/etc. to use a global "LCSSA-including-tokens" predicate, as opposed to s

[2022-07-01 18:08] Abstract-Everything commented on #55871
I have managed to reproduce the crash without the dependencies. I would also like to note that using parenthesis for constructor initialisation instead of braces does not result in a crash. Also using a single parameter does not lead to a crash, that is modifying `function` to take a single `Item` parameter.

Godbolt: https://godbolt.org/z/bP571b477
Sample:
[code]

The crash seems to be caused fro

[2022-07-01 18:42] KOLANICH opened #56340 "No nightly builds for Ubuntu since 2022-06-28"
Here are the versions of `clang-15` I see in the repos

[code]

[2022-07-01 18:44] KOLANICH opened #56341 "Set up nightly builds for RPM and pacman-based distros"
Including Fedora, OpenSUSE Tumbleweed, Arch and ... MSYS2 environment for Windows.

[2022-07-01 18:51] tstellar commented on #56341
@KOLANICH We maintain a repo with nightly snapshots for Fedora already: https://copr.fedorainfracloud.org/coprs/g/fedora-llvm-team/llvm-snapshots/

[2022-07-01 18:52] clausecker commented on #56337
Checking again, it does not seem to be an alignment problem.  Rather, the code tries to store into a read-only page.  Stray pointer possibly?

[2022-07-01 19:02] DimitryAndric commented on #56337
I think the OP is using a clang build without assertions. When you use a clang build with assertions, you see the following assertion and backtrace:

[code]

I bisected and this regressed with d2a73fb44ea0b8c981e4b923f811f18793fc4770 by @fhahn ("[VPlan] Add recipe for first-order rec phis, make splicing explicit"), which is somewhere between 13.0.0 and 14.0.0. I am unsure why the assertion appears

[2022-07-01 19:12] clausecker commented on #56337
Interesting.  The clang version I tested with is 13.0.0, so it should not have that commit in.

[2022-07-01 19:14] DimitryAndric commented on #56337
Oh, I just checked: it also reproduces just fine on x86_64, same assertion:

[code]

[2022-07-01 19:17] BertalanD commented on #56337
@DimitryAndric the build in your latest backtrace is in a commit from *before* https://github.com/llvm/llvm-project/commit/88ce403c6aab1d0973d93da1a7a997b722553fe2. Are you sure trunk broken? It doesn't crash for me anymore on x86-64 (on Linux though, not sure if that would matter).

[2022-07-01 19:35] KOLANICH commented on #56341
Thanks. Should it be used with OpenSUSE?

[2022-07-01 19:51] DimitryAndric commented on #56337
Ah that's a good one, the latest build I had was 23d6f31a90a (aka `llvmorg-15-init-13839-g23d6f31a90a`) while `llvmorg-15-init-14153-g88ce403c6aab` is indeed newer than that.

I'll double-check the fix, and then this bug can be closed as a duplicate of #56146.

[2022-07-01 20:06] sevaa opened #56342 "llvm-dwarfdump: CU base IP sometimes not added to rangelist offsets"
Consider the binary in #56339 . Run the following:

Normally, in the verbose output the first pair of values for a rangelist entry displays the untranslated offsets, as seen in the entry, and the second pair displays the actual PC values in a loaded binary. For `DW_RLE_offset_pair` type entries like the ones in my binary, the translation involves adding the base PC of the compile unit, as seen in

[2022-07-01 20:17] ivanmurashko commented on #55951
@Artem-B,

I also got pretty same stack trace on clang-12. I tried to reproduce it with the latest version of clang from main - no success i.e. it seems to be fixed. I also tried to create a short reproducer. I was successful in it. It also failed on llvm-12 but ok on main. Unfortunately the stack trace was quite different but again the problem is related to type is null.

My prog to reproduce the

[2022-07-01 20:28] smuzaffar opened #56343 "[llvm 14] clang++ not including custom gcc include paths"
Hi,
  I tried to update our software stack to LLVM 14.0.6 but noticed that clang++ is not searching headers in my custom gcc directory [a]. It worked fine for llvm 12.0.1. This is causing compilation errors as clang++ is not able to find `memory_resource` . Any idea how to avoid/fix this issue?
Thanks,

[a] LLVM 14
[code]
[b] LLVM 12
[code]

[2022-07-01 20:29] sevaa opened #56344 "llvm-dwarfdump: unsupported LLE 9e"
The debug_loclists section from the binary from #56339 contains gaps and non-loclist objects (locviews, it's a GNU extension, run readelf to see). As a result, parsing debug_loclists sequentially from top to bottom is not possible; one needs to collect valid loclist locations from DIEs in `debug_info` and go by that.

Running

on that binary produces a bogue error message. Looks like dwarfdump tri

[2022-07-01 20:31] DimitryAndric commented on #56337
I've verified that 88ce403c6aab fixes the assertion. Closing as a duplicate of #56146.

[2022-07-01 20:31] #56337 closed

[2022-07-01 20:32] smuzaffar commented on #56343
[code]

[2022-07-01 20:50] rotateright commented on #47012
Restricted the fold with a constant value check:
9c8a39c67b59

I'm not sure how we would safely implement the fold with a variable shift amount, so I put a TODO comment there in case someone wants to revisit it.

I think that fixes all tests that were miscompiles. If I got that wrong, please re-open.

[2022-07-01 20:50] #47012 closed

[2022-07-01 21:01] zhengyang92 opened #56345 "Crash by X86 Backend"
https://godbolt.org/z/nof7Eojfo

[code]

@topperc @regehr

[2022-07-01 21:10] topperc commented on #56345
min-legal-vector-width needs to be removed or be at least 512

[2022-07-01 21:14] EugeneZelenko commented on #56342
Could you please try `main`? 11 is very old version.

[2022-07-01 21:16] zhengyang92 commented on #56345
@topperc yes, you're right! It could probably caused by my pass producing a wrong value for the attribute.

[2022-07-01 21:16] #56345 closed

[2022-07-01 22:20] klausler commented on #56272
https://reviews.llvm.org/D129023

[2022-07-01 23:12] jamal opened #56346 "lldb-server crashes on Windows when debugger disconnects"
lldb-server appears to crash on Windows as the remote debugger disconnects, causing me to have to restart it each time I run debug.

[code]

[2022-07-01 23:14] MaskRay commented on #18667
There is no mapping symbol to tell whether a region is `.code16`, so this is infeasible to fix.

[2022-07-01 23:14] #18667 closed

[2022-07-01 23:19] #43971 closed

[2022-07-01 23:58] yuanfang-chen commented on #54039
https://reviews.llvm.org/D128750